<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">
                        {{title}}
                    </span>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="col-md-6" style="padding: 10px 0 0 0; margin-left: -60px;">
                                    <input type="radio" ng-checked="true" name="typeDepartment" id="Store" class="k-radio input-default" ng-model="dataItem.typeDepartment" value="Store" ng-change="onChangeType(dataItem.typeDepartment)">
                                    <label style="color: #9b9b9b;" class="k-radio-label" for="Store">Store</label>
                                </div>
                                <div class="col-md-6" style="padding: 10px 0 0 0;">
                                    <input type="radio" ng-checked="false" name="typeDepartment" id="HQ" ng-model="dataItem.typeDepartment" value="HQ" class="k-radio input-default" ng-change="onChangeType(dataItem.typeDepartment)">
                                    <label style="color: #9b9b9b;" class="k-radio-label" for="HQ">HQ</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid" options="BTAPolicyOption">
                        </kendo-grid>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>