<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}
                    </span>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-md-7">

                        </div>
                        <div class="col-md-5 align-right-btn-group">
                            <div class="input-group" style="width: 400px">
                                <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span> -->
                                <input type="text" class="form-control" id='FieldFilter' placeholder="Search for..." style="width: 100%;" ng-keypress="actions.ifEnter($event)" ng-model="keyword">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button" ng-click="search()" style="border: 1px solid #dadada;margin-bottom: 10px;" 
                                    ><span class="k-icon k-i-search"></span></button>
                                </span>
                            </div>
                            <div add-class class="btn-group" current-class="btn-group" added-class="open" style="margin-top:3px">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding: 0px !important"><img
                                        src="ClientApp/assets/images/icon/more.png"
                                        style="position: relative;top: -2px"
                                        class="ng-isolate-scope"></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a  ng-click="export()" class="ng-binding"><i class="fa fa-table font-blue right-5"></i>
                                            Export excel</a></li>
                                    <!-- <li><a  ng-click="import()" class="ng-binding"><i class="fa fa-table font-blue right-5"></i>
                                            Import excel</a></li> -->
                                </ul>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid" options="appreciationListOptions">
                        </kendo-grid>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>