<div class="actions" style="float: right">
  <div class="row">
    <div class="col-sm-12">
      <span>
        <kendo-button class="btn btn-default btn-sm" ng-click="save()">
          <i class="k-icon k-i-save font-green-jungle"></i>
          {{'COMMON_BUTTON_SAVE' | translate}}
        </kendo-button>
        <kendo-button class="btn btn-default btn-sm" ng-click="cancel()">
          <i class="k-icon k-i-save font-green-jungle"></i>
          {{'COMMON_BUTTON_CANCEL' | translate}}
        </kendo-button>
      </span>
    </div>
  </div>
</div>
