<style>
    .k-grid-content {
        min-height: 0px !important;
        max-height: 700px !important;
    }
    .k-grid-content-locked {
        overflow: hidden !important;
        min-height: 50px !important;
    }

    #loading_bta {
        width: 100%;
        height: 100%;
        bottom: 35% !important;
        top: unset !important;
        z-index: 1000;
    }
</style>

<div class="row">
    <div id="loading_bta"></div>
    <!-- <span class="k-i-loading k-icon" style="font-size: 64px;"></span> -->
    <div class="col-md-12 col-sm-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}
                    </span>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <kendo-button class="btn btn-default btn-sm" ng-click="toggleFilterPanel(true)" ng-show="!advancedSearchMode">
                                <i class="k-icon k-i-filter font-green-jungle" id="search"></i>
                                {{'COMMON_BUTTON_SEARCH' | translate}}
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="toggleFilterPanel(false)" ng-show="advancedSearchMode">
                                <i class="k-icon k-i-close font-green-jungle"></i>
                                {{'COMMON_BUTTON_CLOSE' | translate}}
                            </kendo-button> -->
                            <div add-class class="btn-group" current-class="btn-group" added-class="open">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding: 0px !important"><img src="ClientApp/assets/images/icon/more.png" style="position: relative;top: -2px" class="ng-isolate-scope"></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a ng-click="exportReportTargetPlan()" class="ng-binding"><i class="fa fa-table font-blue right-5"></i> {{'COMMON_BUTTON_EXPORT' | translate}} </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div ng-show='advancedSearchMode'>

                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">{{'COMMON_KEYWORD' | translate}}:</label>
                                        <div class="col-md-8">
                                            <!-- <input type="text" maxlength="50" class="form-control input-sm" ng-model="searchLeaveManagement.keyword"> -->
                                            <input type="text" maxlength="50" class="k-textbox" style="width: 100%;" ng-model="model.keyword">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">{{'COMMON_DEPARTMENT' | translate}}:</label>
                                    <div class="col-md-8">
                                        <input class="w100" id="department_id" kendo-drop-down-tree="widget.department" k-options="departmentOptions" ng-model="model.departmentId" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label
                                            class="col-md-4 control-label">{{'SHIFT_PLAN_PERIOD'|translate}}:</label>
                                        <div class="col-md-4 ">
                                            <select id="period_source_id" kendo-drop-down-list
                                                k-options="targetPlans" style="width: 100%;"
                                                name="period_source_name" k-ng-model="model.periodId"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <ul class="fieldlist">                                      
                                        <li>
                                            <input type="radio" name="engine" id="have" ng-value="true"
                                                ng-model="checkStatus.value" ng-change="onCheckStatus()"
                                                class="k-radio">
                                            <label class="k-radio-label"
                                                for="have">{{'TARGET_PLAN_HAVE_MADE'|translate}}</label>
                                        </li>
                                        <li>
                                            <input type="radio" name="engine" id="notHave" ng-value="false"
                                                ng-model="checkStatus.value" ng-change="onCheckStatus()"
                                                class="k-radio">
                                            <label class="k-radio-label"
                                                for="notHave">{{'TARGET_PLAN_HAVE_NOT_MADE'|translate}}</label>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label
                                            class="col-md-4 control-label">{{'SHIFT_PLAN_PERIOD'|translate}}:</label>
                                        <div class="col-md-4 ">
                                            <select id="period_source_id" kendo-drop-down-list
                                                k-options="targetPlans" style="width: 100%;"
                                                name="period_source_name" k-ng-model="model.periodId"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <div class="row mrb10">
                        <div class="col-md-2"> </div>
                        <div class="col-md-4 btn-group">
                            <kendo-button class="btn btn-default btn-sm" ng-click="search()">
                                <i class="k-icon k-i-search font-green-jungle"></i> 
                                {{'COMMON_BUTTON_SEARCH' | translate}}
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="clearSearch()">
                                <i style="font-size: 12px; padding-right: 3px;" class="fa fa-refresh"></i>
                                {{'COMMON_BUTTON_RESET' | translate}}
                            </kendo-button>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid" options="reportTargetPlanGridOptions"></kendo-grid>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>