<style>

</style>

<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="group poppins-medium text-grey-300">
                    <p class="display-8 m-0">
                        <span class="caption-subject uppercase">
                            {{title}}
                        </span>
                    </p>
                    <p class="display-11">
                        <span class="opacity-40">Number of record:</span> {{total}}
                    </p>
                </div>
            </div>
            <div class="table-rounded-toolbar">
                <div class="toolbar">
                    <div class="row">
                        <div class="col-8">
                           
                        </div>
                        <div class="col-4">

                            <div class="d-flex align-items-center justify-content-end gap-1">
                                <div class="d-flex gap-2 align-items-center">
                                    <button ng-click="import()" type="button" class="btn btn-outline-pink-300 rounded-3 poppins-regular display-9 py-2 px-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cloud-arrow-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M7.646 5.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 6.707V10.5a.5.5 0 0 1-1 0V6.707L6.354 7.854a.5.5 0 1 1-.708-.708z" />
                                            <path d="M4.406 3.342A5.53 5.53 0 0 1 8 2c2.69 0 4.923 2 5.166 4.579C14.758 6.804 16 8.137 16 9.773 16 11.569 14.502 13 12.687 13H3.781C1.708 13 0 11.366 0 9.318c0-1.763 1.266-3.223 2.942-3.593.143-.863.698-1.723 1.464-2.383m.653.757c-.757.653-1.153 1.44-1.153 2.056v.448l-.445.049C2.064 6.805 1 7.952 1 9.318 1 10.785 2.23 12 3.781 12h8.906C13.98 12 15 10.988 15 9.773c0-1.216-1.02-2.228-2.313-2.228h-.5v-.5C12.188 4.825 10.328 3 8 3a4.53 4.53 0 0 0-2.941 1.1z" />
                                        </svg>
                                        &nbsp;Import
                                    </button>

                                    <button type="button" ng-click="export()" class="btn btn-outline-cyan rounded-3 poppins-regular display-9 py-2 px-3">
                                        <svg fill="currentColor" class="bi bi-check-square" width="16" height="16" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                                            <path d="m0 1016.081 409.186 409.073 79.85-79.736-272.867-272.979h1136.415V959.611H216.169l272.866-272.866-79.85-79.85L0 1016.082ZM1465.592 305.32l315.445 315.445h-315.445V305.32Zm402.184 242.372-329.224-329.11C1507.042 187.07 1463.334 169 1418.835 169h-743.83v677.647h112.94V281.941h564.706v451.765h451.765v903.53H787.946V1185.47H675.003v564.705h1242.353V667.522c0-44.498-18.07-88.207-49.581-119.83Z" fill-rule="evenodd"></path>
                                        </svg>
                                        &nbsp;Export
                                    </button>
                                </div>
                                <button type="button"
                                        class="btn-none"
                                        data-bs-toggle="modal"
                                        data-bs-target="#exampleModal">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         width="16"
                                         height="16"
                                         fill="currentColor"
                                         class="bi bi-funnel"
                                         viewBox="0 0 16 16">
                                        <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2z"></path>
                                    </svg>
                                </button>
                                <!-- Modal -->
                                <div class="modal fade"
                                     id="exampleModal"
                                     tabindex="-1"
                                     aria-labelledby="exampleModalLabel"
                                     aria-hidden="true">
                                    <div class="modal-dialog modal-2xl modal-dialog-centered">
                                        <div class="modal-content p-3 rounded-4">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5 modal-title-style1"
                                                    id="exampleModalLabel">
                                                    SEARCH
                                                </h1>
                                                <button type="button"
                                                        class="btn-close"
                                                        data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <div class="row mb-3">
                                                        <div class="col">
                                                            <label for="exampleInputText1"
                                                                   class="form-label">Code:</label>
                                                            <input type="text"
                                                                   class="form-control"
                                                                   id="exampleInputText1"
                                                                   ng-model="keyword"
                                                                   aria-describedby="textHelp"
                                                                   value="Search" />
                                                        </div>
                                                        <div class="col">
                                                            <label for="exampleInputText1"
                                                                   class="form-label">Type:</label>
                                                            <select kendo-drop-down-list name="typeOfShift" id="typeOfShift" class="form-select"
                                                                    k-options="typeOfShiftOptions" k-ng-model="type"
                                                                    style="width: 100%;">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col">
                                                            <label for="exampleInputText1"
                                                                   class="form-label">Type Of Haft Day:</label>
                                                            <select kendo-drop-down-list name="typeOfHaftDay" id="typeOfHaftDay" class="form-select"
                                                                    k-options="typeOfFullDayOptions" k-ng-model="typeOfHaftDay"
                                                                    style="width: 100%;">
                                                            </select>
                                                        </div>
                                                        <div class="col">
                                                            <label for="exampleInputText1"
                                                                   class="form-label">Line:</label>
                                                            <select kendo-drop-down-list name="line" id="line" k-options="lineOptions" k-ng-model="line" class="form-select" style="width: 100%">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-3">
                                                        <div class="col">
                                                            <label for="exampleInputText1"
                                                                   class="form-label">Holiday:</label>
                                                            <select kendo-drop-down-list name="isHoliday" id="isHoliday" k-options="holidayOptions" class="form-select" k-ng-model="isHoliday" style="width: 100%">
                                                            </select>
                                                        </div>
                                                        <div class="col">
                                                            <label for="exampleInputText1"
                                                                   class="form-label">Active:</label>
                                                            <select kendo-drop-down-list name="isActive" id="isActive" k-options="isActiveOptions" class="form-select" k-ng-model="isActive" style="width: 100%">
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="mb-3 d-flex align-items-center justify-content-lg-between">
                                                        <div class="form-group">
                                                        </div>
                                                        <div class="form-group">
                                                            <button type="button" ng-click="resetSearch()"
                                                                    class="btn btn-white rounded-3 poppins-regular display-9">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     width="16"
                                                                     height="16"
                                                                     fill="currentColor"
                                                                     class="bi bi-arrow-repeat"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"></path>
                                                                    <path fill-rule="evenodd"
                                                                          d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"></path>
                                                                </svg>
                                                                &nbsp;{{'COMMON_BUTTON_RESET'|translate}}
                                                            </button>
                                                            &nbsp;
                                                            <button type="button" data-bs-dismiss="modal" ng-click="search(true)"
                                                                    class="btn btn-primary rounded-3 poppins-regular display-9">
                                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                                     width="16"
                                                                     height="16"
                                                                     fill="currentColor"
                                                                     class="bi bi-search"
                                                                     viewBox="0 0 16 16">
                                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"></path>
                                                                </svg>
                                                                &nbsp;{{'COMMON_BUTTON_SEARCH'|translate}}
                                                            </button>
                                                        </div>
                                                    </div>


                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Grid-->
                <div class="row">
                    <div class="row ng-scope" ng-if="errorMessages.length > 0" style="padding: 15px 0;margin-bottom:15px">
                        <div class="col-sm-12">
                            <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                                <h5 class="bold uppercase"> {{'COMMON_ENTER_FIELD' | translate}} <span class="font-red-thunderbird">*</span>:</h5>
                                <p></p>
                                <ul>
                                    <li ng-repeat="error in errorMessages track by $index">
                                        <span class="bold ">{{error}}</span>
                                    </li>
                                    <br>
                                </ul>
                                <p></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="display-10 leading-18">
                    <div class="row">
                        <div class="col-md-12">
                            <kendo-grid id="grid" options="shiftCodeOptions"
                                        style=" overflow: hidden; border: 1px solid #ddd; border-top-left-radius: 0px !important; border-top-right-radius: 0px !important; ">
                            </kendo-grid>
                        </div>
                    </div>
                </div>

            </div>
            <!-- Content -->
        </div>
    </div>
</div>


<div id="dialog-import" kendo-dialog="importDialog" options="importDialogOpts" k-on-open="dialogVisible = true"
     k-on-close="closeImportDialog()">
    <div class="row form-group">
        <div class="col-md-12 form-group">
            <a href="javascript:void(0)" ng-click="downloadTemplate()" style="color: #5b9bd1;" target="_self">
                <i class="fa fa-download"></i> {{'COMMON_DOWNLOAD_TEMPLATE' | translate}}
            </a>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <any ng-click="onClickSelectFile()">
                    <input name="files" id="attachmentDetail" class="input-default attachmentDetail" accept=".xls,.xlsx" type="file"
                           kendo-upload k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: false }"
                           k-select="onSelect" k-remove="removeAttach" />
                </any>
            </div>

        </div>

    </div>
    <div class="row form-group">
        <div class="col-md-12" style="text-align:right">
            <button type="button"
                    class="btn btn-primary rounded-pill btn-sm poppins-regular display-9 px-3" ng-click="sendData()">
                {{'COMMON_BUTTON_OK'|translate}}
            </button>
        </div>
    </div>
</div>
<tracking-history ng-if="showTrackingHistoryDirective" tracking-history="trackingHistory"></tracking-history>