<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <!-- <span class="caption-subject uppercase" ng-if="checkTitleEdit">{{titleEdit}}</span> -->
                    <!-- <span class="caption-subject uppercase" ng-if="!checkTitleEdit">{{title}}</span> -->
                    <span class="caption-subject uppercase">{{title}}</span>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- <kendo-button class="btn btn-default btn-sm" ng-click="actions.submit()" id="submitButton" enable="true">
                                <i style="font-size: 12px; padding-right: 3px;"
                                    class="fa fa-paper-plane font-green-jungle"></i> Submit
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="actions.saveItem()">
                                <i class="k-icon k-i-save font-green-jungle"></i> Save
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="cancel(state)">
                                <i class="k-icon k-i-close font-green-jungle"></i> Close
                            </kendo-button> -->
                            <kendo-button class="btn btn-default btn-sm" ng-click="printForm()"
                                ng-if="mode=='Edit' && model.status == 'Completed'">
                                <i style="font-size: 12px; padding-right: 3px;"
                                    class="fa fa-file-pdf-o font-green-jungle"></i> {{'COMMON_BUTTON_PRINT'|translate}}
                            </kendo-button>
                            <action-items model="model" save="actions.saveItem" form="model"></action-items>
                            <div add-class class="btn-group" current-class="btn-group" added-class="open">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="true" style="padding: 0px !important"><img
                                        src="ClientApp/assets/images/icon/more.png" style="position: relative;top: -2px"
                                        class="ng-isolate-scope"></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a data-toggle="modal" class="ng-binding" ng-click="showProcessingStages()"><i
                                                class="fa fa-recycle right-5" style="color: #b42e83"></i>
                                            {{'COMMON_PROCESSING_STAGE' | translate}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row ng-scope" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <workflow-comment></workflow-comment>
                    </div>
                </div>
                <div class="row ng-scope" ng-if="errors.errorOfficalResignation.length > 0 || checkErorr"
                    style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">{{'COMMON_ENTER_FIELD' | translate}} <span
                                    class="font-red-thunderbird">*</span>:</h5>
                            <p></p>
                            <!-- fix ticker 134 - start -->
                            <!-- <ul ng-repeat="error in errors">
                    <li><span class="bold">{{error.controlName}}</span>: Field is required</li >
                </ul> -->
                            <ul>
                                <li ng-repeat="error in errors.errorOfficalResignation">
                                    <span class="bold">{{error.controlName}}</span>:
                                    {{'COMMON_FIELD_IS_REQUIRED'|translate}}
                                </li>
                                <li ng-if="errors.erorrIsAgree"><span class="bold">{{errors.erorrIsAgree}}</span></li>
                            </ul>
                            <!-- fix ticker 134 - end -->
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <form name="g1Form">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6 line-divided">
                                            <div class="form-group">
                                                <label
                                                    class="col-md-4 control-label">{{'COMMON_SAP_CODE'|translate}}:</label>
                                                <div class="col-md-8">
                                                    <input type="text" maxlength="50" class="form-control input-sm"
                                                        ng-model="model.userSAPCode" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label
                                                    class="col-md-4 control-label">{{'RESIGNATION_APPLICATION_JOINING_DATE'|translate}}:</label>
                                                <div class="col-md-8">
                                                    <input type="text" maxlength="50" class="form-control input-sm"
                                                        ng-value="model.startingDate|date:'dd/MM/yyyy'" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 line-divided">
                                            <div class="form-group">
                                                <label
                                                    class="col-md-4 control-label">{{'COMMON_FULL_NAME'|translate}}:</label>
                                                <div class="col-md-8">
                                                    <input ng-model="model.createdByFullName" type="text" maxlength="50"
                                                        class="form-control input-sm" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    {{'RESIGNATION_SPECIAL_CASE'|translate}}:
                                                </label>
                                                <div class="col-md-8 control-label">
                                                    <input type="checkbox" id="expired_labor_contract_id"
                                                        ng-model="model.isExpiredLaborContractDate"
                                                        class="k-checkbox" ng-change="onChange(model.isExpiredLaborContractDate, 'ExpiredLaborContract')">
                                                    <label class="k-checkbox-label" for="expired_labor_contract_id">
                                                        
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 line-divided">
                                            <div class="form-group">
                                                <label
                                                    class="col-md-4 control-label">{{'COMMON_POSITION'|translate}}:</label>
                                                <div class="col-md-8">
                                                    <input ng-model="model.positionName" type="text" maxlength="50"
                                                        class="form-control input-sm" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    {{'RESIGNATION_APPLICATION_OFFICAL_RESINATION_DATE'|translate}}:<span
                                                        class="font-red-thunderbird ng-scope"> *</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input kendo-date-picker k-date-input="true"
                                                        id="official_resignation_date_id"
                                                        k-ng-model="model.officialResignationDate" style="width: 100%;"
                                                        k-on-change="changeOfficialResignationDate()"
                                                        k-format="'dd/MM/yyyy'" name="officialResignationDate" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 line-divided">
                                            <div class="form-group">
                                                <label
                                                    class="col-md-4 control-label">{{'COMMON_DEPT_LINE'|translate}}:</label>
                                                <div class="col-md-8">
                                                    <input ng-model="model.deptName" type="text" maxlength="50"
                                                        class="form-control input-sm" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    {{'RESIGNATION_APPLICATION_UNUSE_ANNUAL_LEAVE'|translate}}:
                                                </label>
                                                <div class="col-md-2">
                                                    <input kendo-numeric-text-box ng-model="model.unusedLeaveDate"
                                                        k-options="numeric" style="width: 100%;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 line-divided">
                                            <div class="form-group">
                                                <label
                                                    class="col-md-4 control-label">{{'COMMON_DIVISION_GROUP'|translate}}:</label>
                                                <div class="col-md-8">
                                                    <input ng-model="model.divisionName" type="text" maxlength="50"
                                                        class="form-control input-sm" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label
                                                    class="col-md-4 control-label">{{'RESIGNATION_APPLICATION_SHUI_BOOK'|translate}}:<span
                                                        class="font-red-thunderbird">*</span></label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 line-divided">
                                            <div class="form-group">
                                                <label
                                                    class="col-md-4 control-label">{{'COMMON_LOCATION'|translate}}:</label>
                                                <div class="col-md-8">
                                                    <input ng-model="model.workLocationName" type="text" maxlength="50"
                                                        class="form-control input-sm" readonly>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div ng-repeat="data in shuiBooks" class="col-md-4 control-label">
                                                    <input type="radio" class="k-radio" name="shuibooks"
                                                        value="{{data.name}}" id="{{data.name}}"
                                                        ng-model="model.shuiBookName"
                                                        ng-change="onChange(model.shuiBookName, 'Shuibook')">
                                                    <label class="k-radio-label"
                                                        for="{{data.name}}">{{data.nameValue}}</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label
                                                    class="col-md-4 control-label">{{'RESIGNATION_APPLICATION_REASON'|translate}}:<span
                                                        class="font-red-thunderbird">*</span></label>
                                                <div class="col-md-8">
                                                    <select kendo-drop-down-list style="width: 100%;"
                                                        k-options="reasonOfResignationOptions"
                                                        k-ng-model="model.reasonForActionCode" id="resignationReasons"
                                                        name="reasonResignation">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <label class="col-md-6 control-label">
                                            <b>
                                                Nhân viên không được nghỉ không lương trong giai đoạn kể từ ngày viết
                                                đơn đến
                                                thời điểm chính thức nghỉ việc
                                            </b> <br />
                                            Employee don't take unpaid leave from applying resgnation letter date until
                                            to
                                            offcial resignation date
                                            </h3>
                                        </label>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-12 control-label">
                                                    <input type="checkbox" id="eq7" ng-model="model.isAgree"
                                                        class="k-checkbox" ng-change="onChange(model.isAgree, 'Argee')">
                                                    <label class="k-checkbox-label" for="eq7">
                                                        Tôi đồng ý bồi thường tiền
                                                        lương của những ngày không báo trước <br /> I agree to
                                                        compensate
                                                        for un - notice days as required by law
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row" style="padding-left: 15px;padding-right: 40px;">
                                        <div class="col-md-9">
                                            <label class="control-label">
                                                {{'COMMON_CONTRACT'|translate}}:<span
                                                    class="font-red-thunderbird ng-scope"> *</span>
                                            </label>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row" style="background-color:white;">
                                                <div ng-repeat="data in contracts" class="col-md-6 control-label">
                                                    <input type="radio" class="k-radio" name="data.nameVN"
                                                        ng-value="{{data.code}}" id="{{data.nameVN}}"
                                                        ng-model="model.contractTypeCode"
                                                        ng-change="onChange(model.contractTypeCode, 'Contract')">
                                                    <label class="k-radio-label" for="{{data.nameVN}}">
                                                        {{data.nameVN}}
                                                        <br /> {{data.nameEN}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet box bg-grey bg-font-grey fx-portlet">
                                        <div class="portlet-title">
                                            <div class="caption">
                                                <span
                                                    class="caption-subject hr-process uppercase f-collapse">{{'RESIGNATION_MANAGER'|translate}}</span>
                                            </div>
                                        </div>
                                        <div class="portlet-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Đề nghị ngày làm việc cuối cùng<br />
                                                            Suggestion for last working day
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input kendo-date-picker k-date-input="true"
                                                                k-ng-model="model.suggestionForLastWorkingDay"
                                                                style="width: 100%;" k-format="'dd/MM/yyyy'"
                                                                name="suggestionForLastWorkingDay" class="input-default"
                                                                disabled="disabled" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <div class="col-md-12 control-label">
                                                            <input type="checkbox" id="eq8"
                                                                ng-model="model.isNotifiedLastWorkingDate"
                                                                class="k-checkbox input-default" disabled="disabled">
                                                            <label class="k-checkbox-label" for="eq8">
                                                                Được thông báo số ngày phép còn lại của nhân
                                                                viên<br />Have been Notified Remain Leave of Employee
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Lý do ngày đề nghị làm việc cuối cùng<br />Reason of
                                                            Suggestion for last working day
                                                        </label>
                                                        <div class="col-md-8">
                                                            <textarea ng-model="model.reasonDescription"
                                                                class="form-control input-default"
                                                                disabled="disabled"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="portlet-title">
                <div class="actions">
                    <div class="row">
                        <!-- <div class="col-md-12">
                            <kendo-button class="btn btn-default btn-sm" ng-click="actions.submit()" id="submitButton1" enable="true">
                                <i style="font-size: 12px; padding-right: 3px;"
                                    class="fa fa-paper-plane font-green-jungle"></i> Submit
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="actions.saveItem()">
                                <i class="k-icon k-i-save font-green-jungle"></i> Save
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="cancel(state)">
                                <i class="k-icon k-i-close font-green-jungle"></i> Close
                            </kendo-button>
                        </div> -->
                        <action-items model="model" save="actions.saveItem" form="model"></action-items>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>
<processing-stage workflow-instances="workflowInstances"></processing-stage>