<style>
  .k-dialog {
    position: fixed;
  }
  .visible {
    display: none;
  }
</style>

<div class="p-3">
    <div class="row">
        <div class="col-6">
            <h2 class="widget-title">
                {{'NEW_TRAINING_INVITATION'|translate}}
            </h2>
        </div>
        <div class="col-6">

            <div class="d-flex gap-2 flex-wrap justify-content-end">

                <button type="button" ng-click="performAction(fa.name)" ng-repeat="fa in ALL_FORM_ACTIONS" ng-if="(fa.responses.indexOf(response) != -1 && enabledActions.indexOf(fa.name) != -1) || fa.responses.length == 0" class="btn btn-outline-dark rounded-3 btn-sm poppins-regular display-9 m-1 ng-binding ng-scope">
                    <i class="{{fa.icon}} right-5"
                       ng-style="{'color':
                   fa.name == 'Save' ? '#18aa7e' :
                   fa.name == 'Submit' ? '#18aa7e' :
                   fa.name == 'Approve' ? '#18aa7e' :
                   fa.name == 'Reject' ? '#ff4c4c' :
                   fa.name == 'RequestToChange' ? '#ffb200' :
                   fa.name == 'Cancel' ? '#ff4c4c' :
                   'black'}">
                    </i>
                    {{fa.displayName|translate}}
                </button>

            </div>
        </div>
    </div>
    <div class="portlet-body mb-3">
        <div class="mt-3">
            <div class="accordion accordion-style1">
                <div class="accordion-item">
                    <div class="accordion-collapse collapse show">
                        <div class="portlet bordered light">
                            <!-- Title -->

                            <div class="accordion-body">
                                <div class="col-md-12">
                                    <div class="col-md-12" id="emailContent"></div>
                                    <div style="margin-left: -15px" class="col-md-12">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <label class="col-md-4 control-label"
                                                       ng-if="oldAttachmentDetails && oldAttachmentDetails.length"></label>
                                                <div class="col-md-12"
                                                     style="margin-top: 10px"
                                                     ng-if="oldAttachmentDetails && oldAttachmentDetails.length">
                                                    <p><b>Attachments:</b></p>
                                                    <ol>
                                                        <li ng-repeat="doc in oldAttachmentDetails">
                                                            <span>
                                                                <a ng-click="viewFileOnline(doc)">{{doc.fileName}}</a>
                                                            </span>
                                                            <span ng-click="dowloadAttachment(doc)"
                                                                  class="deleteattachmentDetail"
                                                                  style="color: #5b9bd1; cursor: pointer">
                                                                | {{'COMMON_BUTTON_DOWLOAD'| translate}}
                                                            </span>
                                                        </li>
                                                    </ol>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12"></div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">

            <div class="d-flex gap-2 flex-wrap justify-content-end">

                <button type="button" ng-click="performAction(fa.name)" ng-repeat="fa in ALL_FORM_ACTIONS" ng-if="(fa.responses.indexOf(response) != -1 && enabledActions.indexOf(fa.name) != -1) || fa.responses.length == 0" class="btn btn-outline-dark rounded-3 btn-sm poppins-regular display-9 m-1 ng-binding ng-scope">
                    <i class="{{fa.icon}} right-5"
                       ng-style="{'color':
                   fa.name == 'Save' ? '#18aa7e' :
                   fa.name == 'Submit' ? '#18aa7e' :
                   fa.name == 'Approve' ? '#18aa7e' :
                   fa.name == 'Reject' ? '#ff4c4c' :
                   fa.name == 'RequestToChange' ? '#ffb200' :
                   fa.name == 'Cancel' ? '#ff4c4c' :
                   'black'}">
                    </i>
                    {{fa.displayName|translate}}
                </button>

            </div>
        </div>
    </div>
</div>



<!--
    <div class="row">
        <div class="col-md-12">
            <div class="portlet bordered light">
                <div class="portlet-title">
                    <div class="caption caption-md">
                        <span class="caption-subject uppercase">
                            {{'NEW_TRAINING_INVITATION'|translate}}
                        </span>
                    </div>
                    <div class="actions" style="float: right">
                        <div class="row">
                            <div class="col-sm-12">
                                <span>
                                    <kendo-button class="btn btn-default btn-sm"
                                                  type="button"
                                                  style="margin-left: 5px"
                                                  ng-repeat="fa in ALL_FORM_ACTIONS"
                                                  ng-if="(fa.responses.indexOf(response) != -1 && enabledActions.indexOf(fa.name) != -1) || fa.responses.length == 0"
                                                  ng-click="performAction(fa.name)">
                                        <i class="k-icon {{fa.icon}} right-5"></i>{{fa.displayName|translate}}
                                    </kendo-button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="col-md-12" id="emailContent"></div>
                    <div style="margin-left: -15px" class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-12">
                                <label class="col-md-4 control-label"
                                       ng-if="oldAttachmentDetails && oldAttachmentDetails.length"></label>
                                <div class="col-md-12"
                                     style="margin-top: 10px"
                                     ng-if="oldAttachmentDetails && oldAttachmentDetails.length">
                                    <p><b>Attachments:</b></p>
                                    <ol>
                                        <li ng-repeat="doc in oldAttachmentDetails">
                                            <span>
                                                <a ng-click="viewFileOnline(doc)">{{doc.fileName}}</a>
                                            </span>
                                            <span ng-click="dowloadAttachment(doc)"
                                                  class="deleteattachmentDetail"
                                                  style="color: #5b9bd1; cursor: pointer">
                                                | {{'COMMON_BUTTON_DOWLOAD'| translate}}
                                            </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12"></div>
                </div>
                <div class="portlet-title">
                    <div class="actions" style="float: right">
                        <div class="row">
                            <div class="col-sm-12">
                                <span>
                                    <kendo-button class="btn btn-default btn-sm"
                                                  type="button"
                                                  style="margin-left: 5px"
                                                  ng-repeat="fa in ALL_FORM_ACTIONS"
                                                  ng-if="(fa.responses.indexOf(response) != -1 && enabledActions.indexOf(fa.name) != -1) || fa.responses.length == 0"
                                                  ng-click="performAction(fa.name)">
                                        <i class="k-icon {{fa.icon}} right-5"></i>{{fa.displayName|translate}}
                                    </kendo-button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    -->



    <div id="reasonOfDecline"
         kendo-dialog="reasonOfDecline"
         k-on-open="dialogVisible = true"
         style="height: 100% !important"
         k-on-close="dialogVisible = false"
         k-modal="true"
         k-visible="false"
         k-title="'Warning'">
        <div class="note note-danger note-bordered"
             style="margin-bottom: 0px"
             ng-if="!reasonOfDeclineModel.isValid">
            <span class="font-red-thunderbird">{{reasonOfDeclineModel.errorMessage}}</span>
        </div>
        <div class="form-group">
            <label class="control-label">
                Reason of Decline: <span class="font-red-thunderbird">*</span>
            </label>
            <textarea name="reasonOfDecline"
                      class="comment-text input-default form-control"
                      placeholder=""
                      style="width: 100%"
                      rows="6"
                      ng-model="reasonOfDeclineText"></textarea>
        </div>
    </div>



    <div id="reasonOfDecline"
         kendo-dialog="reasonOfDecline"
         k-on-open="dialogVisible = true"
         k-modal="true"
         k-visible="false"
         class="ng-scope"
         ng-class="{visible:!isViewOnline}"
         style="height: 100% !important">
        <iframe id="attachment_owa"
                style="width: 100%; height: 97%; padding: 0px !important"
                allowfullscreen></iframe>
        <button class="btn btn-default btn-sm k-button pull-right close-owa-dialog"
                ng-click="owaClose()">
            <i class="k-icon k-i-close font-green-jungle"></i> Close
        </button>
    </div>
