<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md"> 
                    <span class="caption-subject uppercase">{{title}}
                    </span>
                </div>
                <div class="actions">
                    <kendo-button class="btn btn-default btn-sm" ng-click="toggleFilterPanel(true)" ng-show="!advancedSearchMode">
                        <i class="k-icon k-i-filter font-green-jungle"></i> Search
                    </kendo-button>
                    <kendo-button class="btn btn-default btn-sm" ng-click="toggleFilterPanel(false)" ng-show="advancedSearchMode">
                        <i class="k-icon k-i-close font-green-jungle"></i> Close
                    </kendo-button>
                    <div add-class class="btn-group" current-class="btn-group" added-class="open">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="true" style="padding: 0px !important"><img
                                src="ClientApp/assets/images/icon/more.png"
                                style="position: relative;top: -2px" class="ng-isolate-scope"></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a ng-click="export()" class="ng-binding"><i
                                        class="fa fa-table font-blue right-5"></i> Export excel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <!--Search-->
                <div ng-show='advancedSearchMode'>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-4 control-label">Keyword:</label>
                                                <div class="col-sm-8 col-md-8">
                                                    <input type="text" id="keyWord" name="keyWord" class="k-textbox" style="width: 100%;" ng-model="filter.keyWord" autocomplete="off"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Department:</label>
                                                <div class="col-md-8">
                                                    <input kendo-drop-down-tree id="departmentId" name="departmentId" k-options="departmentOptions" k-ng-model="filter.departmentId" style="width: 100%;"/>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-sm-4 col-md-4 control-label">Status:</label>
                                                <div class="col-sm-8 col-md-8">
                                                    <select kendo-multi-select k-options="statusOptions" k-ng-model="filter.status"></select>
                                                    <!-- <select kendo-multi-select id="statusId" name="statusId" k-options="statusOptions" k-ng-model="filter.statusId"></select> -->
                                                </div>
                                            </div>
                                        </div>   
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Created Date:</label>
                                                <div class="col-md-8">
                                                    <!-- <range-date-for-filter-kendo-model  d-from="filter.fromDate" d-to="filter.toDate"></range-date-for-filter-kendo-model> -->
                                                    <range-Date-Of-Date-Picker d-from="filter.fromDate" d-to="filter.toDate"></range-Date-Of-Date-Picker>
                                                </div>
                                            </div>
                                        </div>   
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4"></div>
                                                <div class="col-md-8 btn-group">
                                                    <kendo-button class="btn btn-default btn-sm" ng-click="search(true)">
                                                        <i class="k-icon k-i-search font-green-jungle"></i> Search
                                                    </kendo-button>
                                                    <kendo-button class="btn btn-default btn-sm" ng-click="resetSearch()">
                                                        <i style="font-size: 12px; padding-right: 3px;" class="fa fa-refresh"></i>Reset
                                                    </kendo-button>
                                                </div>
                                            </div>
                                        </div>     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Grid-->
                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid options="actingGridOptions" k-data-source="actingDataSource" id="gridRequests">
                        </kendo-grid>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>