<style type="text/css">
    #attachmentViewDialog {
        min-height: 40vh !important;
        height: 98vh !important;
    }
    .close-owa-dialog {
        margin: 5px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase" ng-if="!checkTitleEdit">{{title}}</span>
                </div>
                <div class="actions">
                    <kendo-button class="btn btn-default btn-sm" ng-click="printForm()" ng-if="mode=='Edit'">
                        <i style="font-size: 12px; padding-right: 3px;" class="fa fa-file-pdf-o font-green-jungle"></i> Print
                    </kendo-button>
                    <action-items model="model" save="saveItem" form="g1Form"></action-items>
                    <div add-class class="btn-group" current-class="btn-group" added-class="open">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="true" style="padding: 0px !important">
                            <img src="ClientApp/assets/images/icon/more.png" style="position: relative;top: -2px"
                                 class="ng-isolate-scope">
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <!-- <li><a data-toggle="modal" class="ng-binding"
                                    ng-click="showProcessingStages()"><i class="fa fa-recycle right-5"
                                        style="color: #b42e83"></i> Processing Stages</a></li> -->
                            <li>
                                <a data-toggle="modal" class="ng-binding"
                                   ng-click="showProcessingStages()">
                                    <i class="fa fa-recycle right-5"
                                       style="color: #b42e83"></i> {{'COMMON_PROCESSING_STAGE'|translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row ng-scope" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <workflow-comment></workflow-comment>
                    </div>
                </div>
                <div class="row ng-scope" ng-if="errors.length > 0" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">
                                Please enter all required fields <span class="font-red-thunderbird">*</span>:
                            </h5>
                            <p></p>
                            <ul>
                                <li ng-repeat="error in errors">
                                    <span class="bold ">{{error.controlName}}</span>:
                                    {{error.message ? error.message : 'Field is required'}}
                                </li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>

                <form name="g1Form">
                    <div class="page-content-wrapper float-none">

                        <div class="page-content">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    SAP Code: <span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <select kendo-drop-down-list name="sapCode" id="sapCode"
                                                            k-options="sapCodesDataSource" k-ng-model="detail.userId"
                                                            style="width: 100%">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Full Name: </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="" class="k-textbox form-control input-sm"
                                                           ng-model="detail.fullName" style="width: 100%;" readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Department: </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="" class="k-textbox form-control input-sm"
                                                           ng-model="detail.deptLine" style="width: 100%;" readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Work Location: </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="" class="k-textbox form-control input-sm"
                                                           ng-model="detail.workLocationName" style="width: 100%;"
                                                           readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Current Position: </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="" class="k-textbox form-control input-sm"
                                                           ng-model="detail.currentPosition" style="width: 100%;"
                                                           readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    Position in Acting Period:<span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <select kendo-drop-down-list name="titleInActingPeriodCode"
                                                            id="titleInActingPeriodCode" k-options="jobTitlesDataSource"
                                                            k-ng-model="detail.positionId" style="width: 100%">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    1<sup>st</sup> Appraiser: <span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <select kendo-drop-down-list name="appraiser1st" id="appraiser1st"
                                                            k-options="appraiser1stDataSource"
                                                            ng-model="detail.firstAppraiserId" style="width: 100%">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    2<sup>nd</sup> Appraiser: <span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <select kendo-drop-down-list name="appraiser2nd" id="appraiser2nd"
                                                            k-options="appraiser2ndDataSource"
                                                            ng-model="detail.secondAppraiserId" style="width: 100%">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    Department in Acting Period: <span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input kendo-drop-down-tree id="departmentId" name="departmentId"
                                                           k-options="departmentOptions" k-ng-model="detail.departmentId"
                                                           style="width: 100%;" k-value-primitive="true" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    New Personel area:<span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input kendo-drop-down-list id="newPersonnelArea" name="newPersonnelArea"
                                                           k-options="newPersonelAreaOptions" ng-model="detail.newPersonnelArea"
                                                           style="width: 100%;" k-value-primitive="true" disabled="disabled" ng-readonly="true"/>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    New Personel Subarea:<span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input kendo-drop-down-list id="newWorkLocationCode" name="newWorkLocationCode"
                                                           k-options="personelSubareaOptions" ng-model="detail.newWorkLocationCode"
                                                           style="width: 100%;" k-value-primitive="true" disabled="disabled" ng-readonly="true" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    Department in Acting Period (SAP):<span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input kendo-drop-down-tree id="departmentSAPId" name="departmentSAPId"
                                                           k-options="departmentSAPOptions" k-ng-model="detail.departmentSAPId"
                                                           style="width: 100%;" k-value-primitive="true" disabled="disabled" ng-readonly="true" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    Employee group: <span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <select kendo-drop-down-list name="employeeGroup" id="employeeGroup"
                                                            k-options="employeeSubGroupDataSource"
                                                            ng-model="detail.employeeGroup" style="width: 100%" disabled="disabled" ng-readonly="true">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    Employee Subgroup: <span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="" class="k-textbox form-control input-sm"
                                                           ng-model="detail.employeeSubgroup" style="width: 100%;"
                                                           readonly />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">
                                                    Pay Scale Area: <span class="font-red-thunderbird">*</span>
                                                </label>
                                                <div class="col-md-8">
                                                    <input type="text" name="" class="k-textbox form-control input-sm"
                                                           ng-model="detail.payScaleArea" style="width: 100%;"
                                                           readonly />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--PERIOD-->
                                    <div class="row" style="padding-top: 15px;">
                                        <div class="col-md-12">
                                            <div>
                                                <div class="portlet box bg-grey bg-font-grey fx-portlet">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <span class="caption-subject hr-process uppercase f-collapse">PERIOD</span>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="row caption-md">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Period 1:
                                                                        <span class="font-red-thunderbird">*</span>
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <div class="col-md-5">

                                                                            <input style="width: 100%;"
                                                                                   kendo-date-picker id="period1Froms"
                                                                                   name="period1Froms"
                                                                                   k-ng-model="detail.period1From"
                                                                                   k-format="'dd/MM/yyyy'"
                                                                                   k-date-input="true"
                                                                                   k-max="dateRange.period1FromMax"
                                                                                   k-rebind="dateRange.period1FromMax"
                                                                                   k-on-change="onChangePeriod(kendoEvent, 'period1From', 'period1ToMin', true)" />
                                                                        </div>
                                                                        <div class="col-md-1 k-icon k-i-minus mrt5">
                                                                        </div>
                                                                        <div class="col-md-5">
                                                                            <input style="width: 100%;"
                                                                                   kendo-date-picker id="period1To"
                                                                                   name="period1To"
                                                                                   k-ng-model="detail.period1To"
                                                                                   k-format="'dd/MM/yyyy'"
                                                                                   k-date-input="true"
                                                                                   k-min="dateRange.period1ToMin"
                                                                                   k-rebind="dateRange.period1ToMin"
                                                                                   k-on-change="onChangePeriod(kendoEvent, 'period1To', 'period1FromMax', false)" />
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Period 2:
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <div class="col-md-5">
                                                                            <input style="width: 100%;"
                                                                                   kendo-date-picker id="period2From"
                                                                                   name="period2From"
                                                                                   k-ng-model="detail.period2From"
                                                                                   k-format="'dd/MM/yyyy'"
                                                                                   k-date-input="true"
                                                                                   k-max="dateRange.period2FromMax"
                                                                                   k-rebind="dateRange.period2FromMax"
                                                                                   k-on-change="onChangePeriod(kendoEvent, 'period2From', 'period2ToMin', true)" />
                                                                        </div>
                                                                        <div class="col-md-1 k-icon k-i-minus mrt5">
                                                                        </div>
                                                                        <div class="col-md-5">
                                                                            <input style="width: 100%;"
                                                                                   kendo-date-picker id="period2To"
                                                                                   name="period2To"
                                                                                   k-ng-model="detail.period2To"
                                                                                   k-format="'dd/MM/yyyy'"
                                                                                   k-date-input="true"
                                                                                   k-min="dateRange.period2ToMin"
                                                                                   k-rebind="dateRange.period2ToMin"
                                                                                   k-on-change="onChangePeriod(kendoEvent, 'period2To', 'period2FromMax', false)" />
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row caption-md">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Period 3:
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <div class="col-md-5">
                                                                            <input style="width: 100%;"
                                                                                   kendo-date-picker id="period3From"
                                                                                   name="period3From"
                                                                                   k-ng-model="detail.period3From"
                                                                                   k-format="'dd/MM/yyyy'"
                                                                                   k-date-input="true"
                                                                                   k-max="dateRange.period3FromMax"
                                                                                   k-rebind="dateRange.period3FromMax"
                                                                                   k-on-change="onChangePeriod(kendoEvent, 'period3From', 'period3ToMin', true)" />
                                                                        </div>
                                                                        <div class="col-md-1 k-icon k-i-minus mrt5">
                                                                        </div>
                                                                        <div class="col-md-5">
                                                                            <input style="width: 100%;"
                                                                                   kendo-date-picker id="period3To"
                                                                                   name="period3To"
                                                                                   k-ng-model="detail.period3To"
                                                                                   k-format="'dd/MM/yyyy'"
                                                                                   k-date-input="true"
                                                                                   k-min="dateRange.period3ToMin"
                                                                                   k-rebind="dateRange.period3ToMin"
                                                                                   k-on-change="onChangePeriod(kendoEvent, 'period3To', 'period3FromMax', false)" />
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-md-3 control-label">
                                                                        Period 4:
                                                                    </label>
                                                                    <div class="col-md-9">
                                                                        <div class="col-md-5">
                                                                            <input style="width: 100%;"
                                                                                   kendo-date-picker id="period4From"
                                                                                   name="period4From"
                                                                                   k-ng-model="detail.period4From"
                                                                                   k-format="'dd/MM/yyyy'"
                                                                                   k-date-input="true"
                                                                                   k-max="dateRange.period4FromMax"
                                                                                   k-rebind="dateRange.period4FromMax"
                                                                                   k-on-change="onChangePeriod(kendoEvent, 'period4From', 'period4ToMin', true)" />
                                                                        </div>
                                                                        <div class="col-md-1 k-icon k-i-minus mrt5">
                                                                        </div>
                                                                        <div class="col-md-5">
                                                                            <input style="width: 100%;"
                                                                                   kendo-date-picker id="period4To"
                                                                                   name="period4To"
                                                                                   k-ng-model="detail.period4To"
                                                                                   k-format="'dd/MM/yyyy'"
                                                                                   k-date-input="true"
                                                                                   k-min="dateRange.period4ToMin"
                                                                                   k-rebind="dateRange.period4ToMin"
                                                                                   k-on-change="onChangePeriod(kendoEvent, 'period4To', 'period4FromMax', false)" />
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--GOAL-->
                                    <div class="row" style="padding-top: 15px;">
                                        <div class="col-md-12">
                                            <div>
                                                <div class="portlet box bg-grey bg-font-grey fx-portlet">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <span class="caption-subject hr-process uppercase f-collapse">
                                                                GOAL
                                                                <span class="font-red-thunderbird">*</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <kendo-grid id="goalGrid" options="goalGridOptions">
                                                                </kendo-grid>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="padding-top: 10px;">
                                                            <div class="col-md-12">
                                                                <kendo-button style="background-color: #b42e83; color:#fff;"
                                                                              type="button"
                                                                              class="btn btn-default btn-sm pull-right"
                                                                              ng-click="addRow('goal')">
                                                                    Add more
                                                                </kendo-button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--APPRAISING-->
                                    <div class="row" style="padding-top: 15px;">
                                        <div class="col-md-12">
                                            <div>
                                                <div class="portlet box bg-grey bg-font-grey fx-portlet">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <span class="caption-subject hr-process uppercase f-collapse">APPRAISING</span>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <kendo-grid k-scope-field="inst.appraising"
                                                                            id="mainAppraisingGridOptions"
                                                                            k-options="mainAppraisingGridOptions">
                                                                    <div k-detail-template>
                                                                        <!-- <div kendo-grid id="appraisingGrid" options="appraisingGridOptions"></div> -->
                                                                        <!-- <div class="orders"></div> -->
                                                                        <kendo-grid id="appraisingDetailGridOptions"
                                                                                    k-options="appraisingDetailGridOptions(dataItem)">
                                                                    </div>
                                                                </kendo-grid>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--COMPULSORY TRAINING-->


                                    <div class="row" style="padding-top: 15px;" ng-if="!model.isCompletedTranningGrid && (detail.jobGradeValue < 2 || detail.jobGradeValue === undefined)">
                                        <div class="col-md-12">
                                            <div>
                                                <div class="portlet box bg-grey bg-font-grey fx-portlet">
                                                    <div class="portlet-title row caption"
                                                         style="min-height:41px; padding-top:9px; font-size:14px;">
                                                        <div class="col-md-3 caption-subject hr-process f-collapse">
                                                            <span class="caption-subject hr-process uppercase f-collapse">
                                                                COMPULSORY TRAINING
                                                                <span class="font-red-thunderbird">*</span>
                                                            </span>
                                                            <input type="checkbox" id="eq5" class="k-checkbox"
                                                                   ng-model="detail.isCompletedTranning"
                                                                   ng-change="onChange(detail.isCompletedTranning)">
                                                            <label class="k-checkbox-label " for="eq5"
                                                                   style="color:black; padding-top: 2px; font-family: sans-serif !important;">
                                                                Completed Training
                                                            </label>
                                                        </div>

                                                    </div>
                                                    <div class="portlet-body" ng-if="!detail.isCompletedTranning">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <kendo-grid id="compulsoryGrid"
                                                                            options="compulsoryGridOptions"></kendo-grid>
                                                            </div>
                                                        </div>
                                                        <div class="row" style="padding-top: 10px;">
                                                            <div class="col-md-12">
                                                                <kendo-button style="background-color: #b42e83; color:#fff;"
                                                                              type="button"
                                                                              class="btn btn-default btn-sm pull-right"
                                                                              ng-click="addRow('compulsoryTraining')">
                                                                    Add more
                                                                </kendo-button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--CONFIRMATION-->
                                    <div class="row" style="padding-top: 15px;">
                                        <div class="col-md-12">
                                            <div>
                                                <div class="portlet box bg-grey bg-font-grey fx-portlet">
                                                    <div class="portlet-title">
                                                        <div class="caption">
                                                            <span class="caption-subject hr-process uppercase f-collapse">CONFIRMATION FOR APPRAISAL PHASE</span>
                                                        </div>
                                                    </div>
                                                    <div class="portlet-body">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-md-6 control-label">1<sup>st</sup> Appraiser (Direct Superior): </label>
                                                                    <div class="col-md-6">
                                                                        <ul class="fieldlist form-control-static">
                                                                            <li ng-repeat="confirm in confirmDataSource1">
                                                                                <input type="radio" class="k-radio input-default" disabled="disabled" name="firstAppraiserNote" value="{{confirm.name}}" id="{{confirm.code}}" ng-model="detail.firstAppraiserNote" ng-change="onChangeConfirm1(detail.firstAppraiserNote)">
                                                                                <label class="k-radio-label" for="{{confirm.code}}">{{confirm.name}}</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label class="col-md-4 control-label">2<sup>nd</sup> Appraiser:</label>
                                                                    <div class="col-md-8">
                                                                        <ul class="fieldlist form-control-static">
                                                                            <li ng-repeat="confirm in confirmDataSource2">
                                                                                <input type="radio" class="k-radio input-default" disabled="disabled" name="secondAppraiserNote" value="{{confirm.name}}" id="{{confirm.code}}" ng-model="detail.secondAppraiserNote" ng-change="onChangeConfirm2(detail.secondAppraiserNote)">
                                                                                <label class="k-radio-label" for="{{confirm.code}}">{{confirm.name}}</label>
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="portlet-title">
                <div class="actions">
                    <action-items model="model" save="saveItem" form="g1Form"></action-items>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>
<processing-stage workflow-instances="workflowInstances"></processing-stage>
