<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}
                    </span>
                </div>
                <div class="actions">
                    <div class="row">


                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid" options="daysConfigurationOptions">
                        </kendo-grid>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid" options="daysConfigurationCABOptions">
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet bordered light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">TIMES CONFIGURATION
                    </span>
                </div>
                <div class="actions">
                    <div class="row">


                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid-otSetting" options="timeConfigurationOptions">
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="portlet bordered light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">
                        BOOKING CONTRACT
                    </span>
                </div>
                <div class="actions">
                    <div class="row">


                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid" options="bookingContractOptions">
                        </kendo-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>