<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}
                    </span>
                </div>
                <div class="actions">
                    <kendo-button class="btn btn-default btn-sm" ng-click="toggleFilterPanel(true)"
                        ng-show="!advancedSearchMode">
                        <i class="k-icon k-i-filter font-green-jungle"></i> Search
                    </kendo-button>
                    <kendo-button class="btn btn-default btn-sm" ng-click="toggleFilterPanel(false)"
                        ng-show="advancedSearchMode">
                        <i class="k-icon k-i-close font-green-jungle"></i> Close
                    </kendo-button>
                    <div add-class class="btn-group" current-class="btn-group" added-class="open">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="true" style="padding: 0px !important"><img
                                src="ClientApp/assets/images/icon/more.png" style="position: relative;top: -2px"
                                class="ng-isolate-scope"></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a ng-click="export()" class="ng-binding"><i class="fa fa-table font-blue right-5"></i>
                                    Export excel</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <!--Search-->
                <div ng-show='advancedSearchMode'>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Keyword:</label>
                                                <div class="col-md-8">
                                                    <input type="text" id="keyWord" name="keyWord" class="k-textbox"
                                                        style="width: 100%;" ng-model="filter.keyword"
                                                        autocomplete="off" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Department:</label>
                                                <div class="col-md-8">
                                                    <input kendo-drop-down-tree k-options="departmentOptions"
                                                        id="departmentId" name="departmentId"
                                                        k-ng-model="filter.departmentId" style="width: 100%;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Created Date:</label>
                                                <div class="col-md-8">
                                                    <!-- <range-date-for-filter-kendo-model d-from="filter.fromDate"
                                                        d-to="filter.toDate"></range-date-for-filter-kendo-model> -->
                                                    <range-Date-Of-Date-Picker d-from="filter.fromDate" d-to="filter.toDate"></range-Date-Of-Date-Picker>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="col-md-4"></div>
                                                <div class="col-md-8 btn-group">
                                                    <kendo-button class="btn btn-default btn-sm" ng-click="search()">
                                                        <i class="k-icon k-i-search font-green-jungle"></i> Search
                                                    </kendo-button>
                                                    <kendo-button class="btn btn-default btn-sm"
                                                        ng-click="resetSearch()">
                                                        <i style="font-size: 12px; padding-right: 3px;"
                                                            class="fa fa-refresh"></i>Reset
                                                    </kendo-button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Grid-->
                <ul class="fieldlist">
                    <li>
                        <input type="radio" name="engine" id="engine1" class="k-radio" ng-value="'1'"
                            ng-model="state.value" ng-change="onChangeState()">
                        <label class="k-radio-label" for="engine1">All</label>
                    </li>
                    <li>
                        <input type="radio" name="engine" id="engine2" class="k-radio" ng-value="'2'"
                            ng-model="state.value" ng-change="onChangeState()">
                        <label class="k-radio-label" for="engine2">Cancel</label>
                    </li>
                    <li>
                        <input type="radio" name="engine" id="engine3" class="k-radio" ng-value="'3'"
                            ng-model="state.value" ng-change="onChangeState()">
                        <label class="k-radio-label" for="engine3">Non Cancel</label>
                    </li>
                </ul>
                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid" options="handoverGridOptions">
                        </kendo-grid>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>