<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}
                        </span>
                </div>
                <div class="actions">
                    <!-- <kendo-button class="btn btn-default btn-sm" ng-click="actions.submit()">
                        <i style="font-size: 12px; padding-right: 3px;" class="fa fa-paper-plane font-green-jungle"></i>Submit
                    </kendo-button>
                    <kendo-button class="btn btn-default btn-sm" ng-click="actions.saveItem()">
                        <i class="k-icon k-i-save font-green-jungle"></i> Save
                    </kendo-button>
                    <kendo-button class="btn btn-default btn-sm" ng-click="goBack()">
                        <i class="k-icon k-i-close font-green-jungle"></i> Close
                    </kendo-button> -->
                </div>
            </div>
            <div class="portlet-body">
                <div class="row ng-scope" ng-if="errors.length > 0" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-md-12">
                        <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">Please enter all required fields <span
                                    class="font-red-thunderbird">*</span>:</h5>
                            <p></p>
                            <ul ng-repeat="error in errors">
                                <li><span class="bold">{{error.controlName}}</span>: Field is required</li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="page-content-wrapper float-none">
                    <div class="page-content">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-4" style="font-weight: bold;">SAP Code:</label>
                                            <div class="col-md-8">
                                                <select kendo-drop-down-list name="sapCode" id="sapCode"
                                                    k-options="sapCodesDataSource"
                                                    k-ng-model="detail.sapCode"
                                                    style="width: 100%"
                                                    k-on-change="onChangeSapCode(detail.sapCode)" required>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-4" style="font-weight: bold;">Full Name:</label>
                                            <div class="col-md-8">
                                                <!--Binding data khi chọn SAP Code-->
                                                <!-- <input type="text" name="" class="k-textbox" ng-model="ff" style="width: 100%;" ng-show="model.sapCode" disabled/> -->
                                                {{detail ? detail.fullName : ''}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-4" style="font-weight: bold;">Department:</label>
                                            <div class="col-md-8">
                                                <!--Binding data khi chọn SAP Code-->
                                                {{detail ?  detail.department : ''}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="col-md-4" style="font-weight: bold;">Received Date:</label>
                                            <div class="col-md-8">
                                                <input class="w100" kendo-date-picker k-date-input="true" id="receivedDate" name="receivedDate"
                                                    k-ng-model="detail.receivedDate"
                                                    k-format="'dd/MM/yyyy'" required/>
                                            </div>
                                        </div>
                                    </div>
                                </div><br/>
                                <div class="row">
                                    <div class="col-md-12">
                                        <kendo-grid id="handoverDetailGrid" options="handoverDetailGridOptions"></kendo-grid>
                                    </div>
                                </div>
                                <!-- <div class="row" style="padding-top: 10px;">
                                    <div class="col-md-12">
                                        <kendo-button style="background-color: #b42e83;" class="btn btn-default btn-sm pull-right" ng-click="addRow(data)">
                                            Add more
                                        </kendo-button>
                                    </div>
                                </div>     -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>

