@font-face {
    font-family: Diavlo;
    src: url('../fonts/Diavlo.ttf') format('truetype');
}

@font-face {
    font-family: Nova-Bold;
    src: url('../fonts/Mark-Simonson-Proxima-Nova-Bold.otf') format("opentype");
    src: url('../fonts/Mark-Simonson-Proxima-Nova-Bold.eot'), /* IE9 Compat Modes */
    url('../fonts/Mark-Simonson-Proxima-Nova-Bold?#iefix') format('embedded-opentype'), url('../fonts/Mark-Simonson-Proxima-Nova-Bold.ttf') format('truetype');
}

@font-face {
    font-family: Nova-Light;
    src: url('../fonts/Mark-Simonson-Proxima-Nova-Light.otf') format("opentype"), url('../fonts/Mark-Simonson-Proxima-Nova-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Mark-Simonson-Proxima-Nova-Light.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Mark-Simonson-Proxima-Nova-Light.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/Mark-Simonson-Proxima-Nova-Light.svg#Nova-Light') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: Nova-Regular;
    src: url('../fonts/Mark-Simonson-Proxima-Nova-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Mark-Simonson-Proxima-Nova-Regular.otf') format("opentype"), url('../fonts/Mark-Simonson-Proxima-Nova-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Mark-Simonson-Proxima-Nova-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Mark-Simonson-Proxima-Nova-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    /*  url('../fonts/Mark-Simonson-Proxima-Nova-Regular.ttf')  format('truetype'),  Safari, Android, iOS */
    url('../fonts/Mark-Simonson-Proxima-Nova-Regular.svg#Nova-Regular') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: Nova-Semibold;
    src: url('../fonts/Mark-Simonson-Proxima-Nova-Semibold.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/Mark-Simonson-Proxima-Nova-Semibold.otf') format("opentype"), url('../fonts/Mark-Simonson-Proxima-Nova-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/Mark-Simonson-Proxima-Nova-Semibold.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/Mark-Simonson-Proxima-Nova-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
    /* url('../fonts/Mark-Simonson-Proxima-Nova-Semibold.ttf')  format('truetype'), */
    /*Safari, Android, iOS */
    url('../fonts/Mark-Simonson-Proxima-Nova-Semibold.svg#Nova-Regular') format('svg');
    /* Legacy iOS */
}

body {
    background: #FFF;
    overflow: auto;
    font-size: 13px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle {
    background-color: #3379B5;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
    background-color: #3379B5;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover i {
    color: #fff !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-extended .dropdown-menu>li.external {
    background: #FFF;
    border-bottom: 1px solid #EEE;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #FFF;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-toggle>.username {
    color: #FFF;
}

.page-header.navbar .page-logo {
    width: 50px;
}

.page-header.navbar .page-logo {
    padding-left: 5px;
}

.page-header.navbar.navbar-fixed-top,
.page-header.navbar.navbar-static-top {
    z-index: 999;
}

@media screen and (min-width: 992px) {
    .page-header.navbar .menu-toggler:hover {
        background-image: url(../images/sidebar-toggle-light2.png);
        opacity: 1;
        display: none;
    }
    .page-header.navbar .menu-toggler {
        background-image: url(../images/sidebar-toggle-light2.png);
        opacity: 0.7;
        display: none;
    }
}

.page-header.navbar .menu-toggler:hover {
    background-image: url(../images/sidebar-toggle-light2.png);
    opacity: 1;
}

.page-header.navbar .menu-toggler {
    background-image: url(../images/sidebar-toggle-light2.png);
    opacity: 0.7;
}

.page-header.navbar {
    height: 51px;
    min-height: 51px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown {
    height: 50px;
}

.page-header.navbar .page-top {
    height: 50px;
    float: right;
}

#menu-apps {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 10px;
}

#menu-apps .tiles .tile .tile-body>i {
    margin-top: 5px;
}

#menu-apps .tiles .tile .tile-object>.name {
    text-align: center;
    text-transform: uppercase;
}

#user-info {
    padding-top: 15px;
    padding-bottom: 4px;
}

.change-lang img.flag {
    width: 16px;
}

.change-lang {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    text-decoration: none;
}

.change-lang:hover {
    background-color: #3379B5;
    text-decoration: none;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user .dropdown-toggle>.username {
    color: #FFF;
}

.page-header.navbar .menu-toggler.sidebar-toggler {
    margin: 21px 0 0 0;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
    padding: 20px 12px 8px 12px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown-user>.dropdown-menu {
    width: auto;
}

.page-header.navbar .top-menu .navbar-nav>li.quick-sidebar-toggler {
    padding-top: 0px;
}

#menu-apps .tiles .tile .tile-body>i {
    margin-top: 5px;
}

.tiles .tile .tile-object>.name {
    margin-left: 0px;
    margin-right: 0px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}

.dashboard-stat .details .desc {
    font-size: 14px;
    font-family: "Roboto-Light";
}

.dashboard-stat .details .number {
    font-family: "Roboto-Light";
}

.page-sidebar-menu {
    border: 1px solid #EEE;
    padding-bottom: 10px !important;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .nav-justified>li.active>a {
    color: #FFF;
    text-align: left;
    padding: 20px 10px 8px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-heading {
    color: #FFF;
}

.page-header-fixed .page-container {
    margin-top: 50px;
}

.page-quick-sidebar-wrapper .page-quick-sidebar .list-heading {
    font-size: 13px;
    margin: 10px 10px;
    text-transform: uppercase;
}

.page-sidebar .page-sidebar-menu .sub-menu li>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li>a {
    font-size: 13px;
}

.feeds li {
    color: #FFF;
}

.feeds li .col2>.date {
    padding: 0px 3px 0 0;
    font-size: 11px;
    color: #FFF;
    margin: 5px 0 0 10px;
}

.feeds li .col1 {
    width: 94% !important;
}

.feeds li .col1>.cont>.cont-col1>.label>i {
    text-align: center;
    font-size: 10px;
}

.feeds li .col1>.cont>.cont-col2>.desc {
    margin-left: 25px;
    padding-top: 3px;
    font-size: 12px;
}

.feeds li .col2 {
    width: 87px;
    margin-left: -75px;
}

.breadcrumb .fa {
    font-size: 11px;
}

.dashboard-stat2 {
    padding: 15px 15px 0px 15px;
}

.bold {
    font-family: "Roboto-bold";
}

.theme-panel {
    min-width: 390px;
}

.breadcrumb {
    background: none;
    padding: 0 0 15px 0;
    margin: 0;
    color: #000;
}

.form-control:focus {
    border-color: #0072C6;
}

label {
    font-size: 13px;
}

.full-width {
    width: 100%;
}

.portlet.light.fx-portlet>.portlet-title {
    min-height: 0px;
}

.portlet.light.fx-portlet>.portlet-title>.caption.caption-md>.caption-subject {
    font-size: 14px;
}

.portlet.fx-portlet>.portlet-title>.caption {
    font-size: 14px;
}

.portlet.fx-portlet {
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
}

.portlet.fx-portlet .portlet.light.fx-portlet {
    padding: 0px;
}

/* .k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
    border-color: #e5e5e5;
} */

@media (max-width: 767px) {
    .page-header.navbar .page-top {
        padding: 0;
        display: block;
        clear: none;
        width: auto;
        background: none !important;
    }
    .theme-panel {
        min-width: 305px;
    }
    .hide-on-mobile {
        display: none;
    }
}

input[type=button],
input[type=reset],
input[type=submit],
button {
    min-width: 0px;
}

.right-5 {
    margin-right: 5px;
}

.menu-item-fa {
    font-size: 14px !important;
}

.dashboard-stat .more {
    height: 27px;
}

.table thead tr th {
    font-size: 13px;
    text-transform: none;
    font-family: Roboto;
    color: #666666;
}

.fx-dropdown-selected-item {
    float: left;
    padding: 2px 4px;
    border: 1px solid #EEE;
    margin: 2px;
    cursor: default !important;
}

.fx-dropdown-selected-item:hover {
    cursor: default !important;
}

.fx-dropdown-remove-item {
    /* color: #AAA; */
    margin: 5px 2px 0px 7px;
}

.fx-dropdown-remove-item i {
    font-size: 11px;
}

.fx-dropdown-container {
    border: 1px solid #ababab;
    float: left;
    width: 100%;
    min-height: 28px;
}

.fx-dropdown-container,
.fx-dropdown-container:visited,
.fx-dropdown-container:hover {
    color: #000;
}

.lookup-button {
    float: right;
    width: 10px;
    padding: 0px;
    margin-right: 2px;
    height: 13px;
    border: none;
}

.lookup-button:hover {
    background: none;
    color: #5b9bd1;
}

.fx-dropdown-items {
    background-color: #FFF !important;
    overflow-y: auto !important;
}

ul.ztree {
    margin-top: 28px;
}

.control-label {
    font-family: Roboto;
    color: #9b9b9b;
    text-align: left !important;
}

.padding-top0 {
    padding-top: 0px !important;
}

.margin-top0 {
    margin-top: 0px !important;
}

.no-padding-right-left {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.fx-status-icon {
    font-size: 14px !important;
}

.separator {
    padding: 0 5px;
}

.dropdown-menu {
    font-size: 13px;
}

.block-ui-message-container {
    z-index: 10061 !important;
}

.block-ui-container {
    z-index: 10060 !important;
}

/* .kendo-richtext .k-tool-text {
    display: none !important;
}

.kendo-richtext .k-editor .k-editable-area {
    padding-left: 5px;
} */

.form-section {
    padding-bottom: 5px;
    font-size: 14px;
    position: relative !important;
}

.form-section:before {
    content: '';
    color: #7ac142;
    width: 30px;
    position: absolute;
    border: 1px solid #7ac142;
    bottom: -5px;
}

.page-sidebar-menu .heading {
    color: #626262;
    position: relative !important;
}

.page-sidebar-menu .heading:before {
    content: '';
    color: #7ac142;
    width: 25px;
    position: absolute;
    border: 1px solid #7ac142;
    bottom: 3px;
}

.page-sidebar-menu-closed .heading:before {
    display: none;
}

.page-sidebar .page-sidebar-menu>li.heading>h3,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading>h3 {
    color: #626262;
}

.text-middle {
    vertical-align: middle;
}

.list-group {
    margin-bottom: 0px !important;
}

.form-control {
    font-size: 13px;
}

.attachment-simple-list {
    padding-left: 18px;
    margin: 0px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-left-50 {
    margin-left: 50px;
}

.background-gray {
    background: #F4F4F4 !important;
    padding: 10px;
}

.no-hover:hover {
    text-decoration: none !important;
}

.capacity {
    color: white;
    text-align: center;
    display: inherit;
}

.capacity1 {
    color: white;
    text-align: center;
    background: #5b9bd1;
    display: inherit;
}

.capacity2 {
    color: white;
    text-align: center;
    background: #ff6a00;
    display: inherit;
}

.headcol {
    position: absolute;
    width: 166px;
    left: 0;
    top: auto;
    border-right: 0px none black;
    border-top-width: 3px;
    background: #eee;
}

#fixed {
    margin-left: 150px;
    overflow-y: visible;
    padding-bottom: 1px;
}

/* .k-icon.k-i-none {
    background-image: none !important;
} */

.tabbable-custom {
    margin-bottom: 15px;
    padding: 0px;
    overflow: hidden;
    position: relative;
}

.top-button {
    position: absolute;
    top: 0px;
    right: 0px;
    padding-right: 0px;
    width: auto;
}

/* .k-icon {
    margin-left: -10px !important;
} */

/* .k-picker-wrap .k-icon {
    cursor: pointer;
    float: none !important;
    margin-left: 0px !important;
}

.k-grid-header th.k-header,
.k-filter-row th {
    background: #eee !important;
    font-size: 11px !important;
    text-transform: uppercase !important;
    font-family: "Roboto-Bold" !important;
} */

/* div.k-grid-header,
div.k-grid-footer {
    background: #eee !important;
} */

.blockUI.blockOverlay {
    z-index: 100000 !important;
}

.blockUI.blockMsg.blockPage {
    z-index: 100001 !important;
}

.wp-date {
    background: white;
}

.page-content-wrapper .page-content {
    padding: 0px 0 0 0px;
}

.page-sidebar .page-sidebar-menu>li {
    margin-top: 10px;
    margin-bottom: 10px;
    min-height: 37px;
}

.page-sidebar .page-sidebar-menu li span.arrow:before {
    margin-top: 6px !important;
}

.page-sidebar .page-sidebar-menu li.active span.arrow:before {
    color: #fff !important;
    margin-top: 0px !important;
}

.page-sidebar .page-sidebar-menu>li:hover {}

.page-sidebar .page-sidebar-menu>li>a {
    padding: 0px 15px !important;
}

.page-sidebar .page-sidebar-menu>li>a>.title,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.title {
    font-size: 13px;
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active.open>a,
.page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar .page-sidebar-menu>li.active.open>a {
    background: #0073bb;
    width: 87% !important;
    height: 36px;
    border: 1px solid #0073bb;
    border-radius: 19px !important;
    padding-top: 7px !important;
    padding-left: 10px;
    color: #fff;
    margin: auto;
}

.page-sidebar .page-sidebar-menu>li.active i {
    width: 20px;
    height: 20px;
    color: #fff !important;
    border-radius: 0;
    top: -5px !important;
    left: -7px;
}

.page-sidebar .page-sidebar-menu>li.active i:before {
    top: 7px;
}

.page-sidebar .page-sidebar-menu>li.active>a:hover {
    background: #f2f6f9;
    width: 87% !important;
    height: 36px;
    border: 1px solid #0073bb;
    border-radius: 19px !important;
    padding-top: 7px;
    padding-left: 10px;
    background: #0073bb !important;
    color: #fff;
    margin: auto;
}

.page-sidebar .page-sidebar-menu>li.active>a>span {
    color: #fff;
    top: 0px;
}


/*

.page-sidebar .page-sidebar-menu>li >a:hover{
	background: #f2f6f9;
    width: 87% !important;
    height: 36px;
    border: 1px solid #0073bb;
    border-radius: 19px !important;
    padding-top: 7px;
    padding-left: 10px;
    background: #0073bb;
    color: #fff;
    margin:auto;
}


.page-sidebar .page-sidebar-menu > li > a:hover i{
	width:20px;
	height:20px;
	color:#fff !important;
	border-radius:0;
	top: -6px;
}

.page-sidebar .page-sidebar-menu > li > a:hover span.title{
	top:0px;
}
*/

.page-sidebar .page-sidebar-menu>li.active>span {
    top: -1px !important;
    color: #fff !important;
}

.page-sidebar .page-sidebar-menu,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu {
    margin: 0px 0 0 0;
}


/* Language Flag */

.fx-add-button {
    margin-left: 15px;
    margin-top: 15px;
    width: 200px;
}

.page-sidebar-menu-closed .fx-add-button {
    display: none;
}

.no-bordered,
.no-bordered td,
.no-bordered th {
    border: none !important;
}

.thin {
    margin: 0px !important;
}

.portlet-title.thin {
    min-height: 0px !important;
    border-bottom: none !important;
}

.cursor-pointer {
    cursor: pointer;
}

.table tr.heading.app-view>th {
    background-color: #eef4f7 !important;
    vertical-align: middle;
}

.no-item-found {
    text-transform: initial;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: normal;
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow-gold {
    color: #E87E04;
}

.app-list.tiles .tile {
    height: auto !important;
    width: 100% !important;
}

.app-list.tiles .tile .tile-body>i {
    margin-top: 0px;
    display: block;
    font-size: 50px;
    line-height: 50px;
    text-align: center;
}

.app-list.tiles .tile .tile-object>.name {
    font-size: 11px;
    margin-top: 12px;
}

.app-list.tiles .tile {}

.note-item {
    float: left;
    margin: 5px 10px 5px 0;
    padding: 5px 10px;
    display: block;
    color: #FFFFFF;
}

.highlight {
    background: #f2f6f9;
    color: #f36a5a !important;
}

.f-collapse,
.f-expand {
    cursor: pointer;
}

.f-collapse .collapse-icon {
    display: none;
}

.f-expand .expand-icon {
    display: none;
}

.timeline .timeline-body-content {
    font-size: 13px;
    margin-top: 35px;
}

.timeline .timeline-body-title {
    font-size: 13px;
    font-weight: normal;
}

.timeline .timeline-body-time {
    font-size: 12px;
    margin-left: 10px;
}

.process-block {
    text-align: center;
    padding: 15px;
    margin: 5px 0;
}

.process-total-hours {
    padding: 5px 0;
}

.process-separator {
    background: url("../images/adown.png") no-repeat center -10px;
    height: 20px;
}

.center-separator {
    background: url("../images/left-right.png") center no-repeat;
}

.process-horizontal-alt-container {
    clear: both;
    margin: 10px 0 0;
}

.processing-stage-container {
    float: left;
    overflow-x: auto;
    width: 1000px;
}

.process-horizontal-block {
    float: left;
    padding: 5px;
    margin: 0 10px 0 0;
    width: 100px;
    text-align: center;
}

.process-horizontal-alt-block {
    float: left;
    margin: 10px 10px 5px 0;
    padding: 5px;
    width: 100px;
    text-align: center;
}

.process-horizontal-wrapper {
    float: left;
    width: 1450px;
}

.app-logo {
    float: left;
    width: 240px;
}

.app-logo img {
    margin: 0 auto;
    margin-top: 12px;
    max-height: 40px;
}

.single-app-title {
    font-family: Diavlo;
    color: #0073bb !important;
    font-size: 22px;
    margin-top: 15px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width: 910px) {
    .single-app-title {
        display: none;
    }
    .app-logo {
        width: auto;
    }
}

@media (max-width: 991px) {
    .page-header.navbar .page-logo {
        width: auto !important;
        padding: 0 0px 0 10px;
    }
    .app-logo {
        margin-left: 0px !important;
        width: auto;
    }
}

@media only screen and (max-width: 449px) {
    .app-logo {
        display: none;
    }
}

.page-header.navbar .top-menu .navbar-nav {
    margin-right: 0px;
}


/* Style co jsPlumb */

.canvas-wide {
    margin-left: 0;
}

.jtk-demo-canvas {
    margin-left: 160px;
    height: 100%;
    max-height: 100%;
    background-color: white;
}

.jtk-surface-nopan {
    overflow: scroll !important;
    cursor: default;
}

.jtk-surface {
    overflow: hidden !important;
    position: relative;
    cursor: move;
    cursor: -moz-grab;
    cursor: -webkit-grab;
    touch-action: none;
}


/* Style co jsPlumb */

input[type=checkbox],
input[type=radio] {
    margin: 0;
}

.table>tbody+tbody {
    border-top: 0px solid #ddd !important;
}

.file-icon {
    margin-right: 5px;
}

.ac-report-text-right-mid {
    text-align: right !important;
    vertical-align: middle !important;
}

.ac-report-text-left-mid {
    text-align: left !important;
    vertical-align: middle !important;
}

.ac-report-text-center-mid {
    text-align: center !important;
    vertical-align: middle !important;
}

.ac-report-text-blue-gray {
    background-color: rgb(238, 238, 238) !important;
    color: rgb(53, 152, 220) !important;
}

.ac-report-text-gray-black {
    background-color: rgb(238, 238, 238) !important;
    color: rgb(51, 51, 51) !important;
}

.ac-report-text-blue-white {
    background-color: rgb(53, 152, 220) !important;
    color: white !important;
}

span.file-text:hover {
    text-decoration: underline;
}

.right-2 {
    margin-right: 2px;
}

.left-2 {
    margin-left: 2px;
}

.left-5 {
    margin-left: 5px;
}

/* .k-tool-text {
    display: none !important;
}

.k-editor .k-editable-area {
    padding-left: 5px;
} */

.modal {
    top: 30px !important;
}

.modal-body {
    max-height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
}

fx-attach-file-to-list-item[f-display-mode=compact] .table-scrollable {
    border: none !important;
}

fx-attach-file-to-list-item[f-display-mode=compact] .table-scrollable td {
    border: none !important;
}

.table-scrollable.thin {
    border: none;
}

.no-border {
    border: none !important;
}

.no-border .table>thead>tr>th {
    border: none;
}

.fx-grey {
    color: #626262;
}

/* span.k-tool-text {
    display: none;
} */

.view-weekend-day {
    background-color: rgba(193, 191, 191, 0.28);
}

.view-holiday-weekend-day {
    background-color: rgba(193, 191, 191, 0.28);
    color: red !important;
}

.view-holiday-day {
    color: red !important;
}

.view-date-weekend {
    color: red !important;
}

.view-weekend {
    background-color: #eee !important;
}


/*Thanh's Code*/

html,
body {
    height: 100%;
    background: #eceff4 !important;
}

form.tmg-app {
    height: 100%;
}

.page-container {
    padding-top: 0px;
    height: 100%;
}

.page-header-fixed .page-container {
    margin-top: 65px !important;
}

.page-content {
    padding-top: 20px !important;
}

#menu-apps {
    padding-top: 19px !important;
}

.tiles .tile .tile-body {
    color: #0073bb;
    margin-top: 4px;
}

.blue.btn {
    color: #7ac142 !important;
    background-color: #fff !important;
}

.bg-white {
    background-color: #fff !important;
    border-top: 5px solid #0073bb !important;
    border-bottom: 1px solid #c5d6de !important;
}

.page-header.navbar {
    height: 65px !important;
    min-height: 65px !important;
}

.bg-white {
    background-color: #fff !important;
    font-size: 13px;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
    color: #868686 !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle span {
    color: #868686 !important;
    text-transform: uppercase;
    font-family: Nova-Regular !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown>.dropdown-toggle {
    padding: 18px 13px 18px 12px !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover {
    background-color: #0073bb !important;
    color: #fff !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:focus {
    background-color: #0073bb !important;
    color: #fff !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:focus span {
    color: #fff !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle:hover span {
    color: #fff !important;
}

#user-info {
    padding-top: 14px !important;
    padding-bottom: 13px !important;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i {
    color: #0073bb !important;
}

.page-sidebar-wrapper {
    margin-left: -16px;
}

.page-sidebar .page-sidebar-menu>li>a>i,
.page-sidebar-menu>li>a>i {
    color: #0073bb !important;
    border: 1px solid #0073bb;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    top: 1px !important;
}

.page-sidebar .page-sidebar-menu>li>a>i:before,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>i:before {
    position: relative;
    top: 8px;
}

.page-sidebar .page-sidebar-menu>li.active>a,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.active>a {
    border-left: 0px solid #0073bb !important;
    color: #fff;
}

.page-sidebar .page-sidebar-menu>li>a>.title,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li>a>.title {
    position: relative;
    top: 7px;
    color: #626262;
}

ul.page-sidebar-menu-closed>li>a>i {
    margin-left: -7px !important;
    margin-right: 4px;
}

.page-sidebar-menu .btn.fx-add-button {
    background: #fff;
    border: 1px solid #06a7e0;
    border-radius: 17px !important;
    color: #06a7e0 !important;
    padding: 5px 13px;
    margin-bottom: 10px;
    line-height: 24px;
    text-align: left;
    text-transform: uppercase;
    font-size: 13px;
    font-family: Nova-Regular !important;
}

.page-sidebar-menu .btn.fx-add-button:hover {
    color: #0073bb !important;
    background: #f2f6f9;
}

.btn.fx-add-button .img-add-ticket {
    float: left;
    margin-right: 5px;
    text-transform: uppercase;
}

.page-sidebar-menu .btn.fx-add-button .fa {
    color: #fff !important;
}

.page-sidebar-menu .btn.fx-add-button i {
    color: #fff;
}

.page-sidebar .page-sidebar-menu>li.heading,
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu>li.heading {
    height: 40px;
    padding: 13px 15px 10px;
    background: #eceff4;
    border-right: 2px solid #fff;
    border-left: 2px solid #0073bb;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.page-sidebar-menu .heading:before {
    border: none;
}

.page-sidebar-menu .heading h3 {
    color: #0073bb !important;
    font-family: Nova-Regular !important;
    font-weight: 300 !important;
}

ul.page-sidebar-menu-closed>li.heading {
    display: none;
}

.dropdown-menu li>a>[class*=" fa-"],
.dropdown-menu li>a>[class^=fa-] {
    color: #0073bb;
}

.dropdown-menu li>a>[class*=" icon-"],
.dropdown-menu li>a>[class^=icon-] {
    color: #0073bb;
}

.page-header.navbar .top-menu .navbar-nav>li.dropdown .dropdown-toggle>i.fa-caret-down {
    color: #868686 !important;
}

li.dropdown-user span.username {
    text-transform: none !important;
    margin-right: 5px;
    margin-left: 5px;
}

li.dropdown-create .dropdown-menu a,
li.dropdown-user .dropdown-menu a {
    font-family: Roboto;
    font-size: 12px !important;
}

.to-do-list {
    margin-top: 2px;
    display: inline-block;
    position: relative;
    top: -3px;
}

.my-ticket {
    width: 100%;
    height: 36px;
    border: 1px solid #0073bb;
    border-radius: 19px !important;
    padding-top: 7px;
    padding-left: 10px;
    background: #0073bb;
    color: #fff;
}

.my-ticket span.title {
    margin-left: 5px;
}

ul.page-sidebar-menu-closed .my-ticket {
    display: none;
}

.portlet.light.bordered {
    border: 1px solid #e1e1e1 !important;
    border-radius: 5px !important;
}

.portlet.light>.portlet-title>.caption.caption-md>.caption-subject {
    color: #0073bb !important;
    font-family: Nova-Regular !important;
    font-size: 18px;
}

.bg-tmg {
    background-color: #0073bb !important;
    color: #fff;
}

.dropdown-custom {
    min-width: 222px;
}

.dropdown-custom .tiles .tile {
    margin: 0px;
    border-bottom: 1px solid #fff !important;
    height: 51px !important;
}

.dropdown-custom .tiles .tile:hover {
    border: 4px solid transparent !important;
    border-bottom: 1px solid #fff !important;
    background-color: #03aeda !important;
}

.dropdown-custom .tiles .tile .tile-body>i {
    line-height: 32px;
    font-size: 22px;
    width: 36px;
    height: 36px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: #fff;
    text-align: center;
}

.dropdown-custom .tile-object {
    position: inherit !important;
    text-align: left !important;
}

.dropdown-custom .tile-object .name {
    color: #fff;
}

.dropdown-custom .tile-body {
    padding: 0px !important;
    width: 36px;
    height: 36px !important;
    float: left;
    overflow: initial !important;
    margin-right: 10px;
}

.dropdown-custom .tile-object>.name {
    position: inherit !important;
    width: auto !important;
    text-align: left !important;
    margin-top: 9px;
    font-family: Nova-Regular !important;
    font-size: 12px !important;
}

.hr-process {
    font-family: Nova-Regular !important;
    color: #0073bb;
}

.sub-portlet-title {
    font-family: Nova-Regular !important;
    color: #0073bb;
}

.caption-helper {
    color: #626262;
}

.caption-helper .number {
    color: #f58426;
}

.number-ticket {
    color: #f58426;
}

.portlet.light>.portlet-title>.actions {
    padding-bottom: 0px !important;
}

.portlet.light>.portlet-title>.actions .btn {
    border: none;
}

.portlet.light>.portlet-title {
    min-height: 35px !important;
}

.portlet.light>.portlet-title>.actions .btn {
    position: relative;
    padding: 3px 9px 4px 9px !important;
    height: 34px !important;
    color: #333;
}

.portlet.light>.portlet-title>.actions .btn[disabled]:hover {
    background: none !important;
    border-bottom: 0px solid #0073bb;
}

.portlet.light>.portlet-title>.actions .btn:hover {
    background: none !important;
    border-bottom: 1px solid #0073bb;
    background: #f2f6f9 !important;
    color: #0073bb !important;
}

.bg-grey {
    margin-bottom: 20px;
}

.bg-grey .portlet-body {
    border: 1px solid #eee;
}

.btn-group>.dropdown-menu,
.dropdown-toggle>.dropdown-menu,
.dropdown>.dropdown-menu {
    margin-top: 0px;
}

.modal-title {
    color: #0073bb !important;
    font-family: Nova-Regular !important;
    font-size: 18px;
}

/* .k-checkbox-label:before {
    border-color: #c5d6de !important;
} */

@media screen and (max-width: 991px) {
    .page-sidebar .page-sidebar-menu>li.active>a,
    .page-sidebar .page-sidebar-menu>li.active.open>a {
        background: #f2f6f9;
        width: 97% !important;
        height: 36px;
        border: 1px solid #0073bb;
        border-radius: 19px !important;
        padding-top: 7px;
        padding-left: 10px;
        background: #0073bb;
        color: #fff;
        margin: auto;
    }
}

.page-sidebar .page-sidebar-menu .sub-menu>li>a:hover {
    color: red !important;
}

.page-sidebar .page-sidebar-menu>li.active>ul.sub-menu li i {
    top: 1px !important;
    color: #0073bb !important;
}

.page-sidebar-menu>li.active>a>span {
    top: 0px !important;
    position: relative;
}

.hide-body {
    display: none;
}

.form-horizontal .form-group-dms {
    margin-right: -15px;
    margin-left: -15px;
}

.form-group-dms {
    margin-bottom: 15px;
}

.tmg .nav-tabs>li.active>a,
.tmg .nav-tabs>li.active>a:focus,
.tmg .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom: 3px solid red;
}

.page-sidebar .page-sidebar-menu>li.active i.fa-users:before {
    top: 3px;
    left: -6px;
}

.page-sidebar .page-sidebar-menu>li.active i.fa-male:before {
    top: 2px;
    left: -5px;
}

.dashboard-stat.darkblue {
    background-color: #0073bb;
}

.dashboard-stat.darkblue .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}

.dashboard-stat.customgreen {
    background-color: #0073bb;
}

.dashboard-stat.customgreen .visual>i {
    color: #FFF;
    opacity: .1;
    filter: alpha(opacity=10);
}


/*# sourceMappingURL=shared.css.map */

span.field-description {
    color: #3598dc !important;
    margin-top: 5px;
    display: block;
    font-style: italic;
}

.backgroundgroup {
    background: #7ac142 !important;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 5px;
}

.backgroundtask {
    background: yellow !important;
}

.active-bg {
    border-left: 5px solid #7ac142 !important;
    border: 3px solid #7ac142;
    padding: 5px;
}

.sp-peoplepicker-initialHelpText {
    display: none !important;
}

.item-quicklink .name-quicklink {
    text-align: center;
    display: block;
    color: #333;
}

.item-quicklink:hover span.name-quicklink {
    color: #ce2326;
}

span.name-quicklink:hover {
    color: #ce2326;
}

ul.list-quicklink li a:hover {
    color: #ce2326;
    text-decoration: none;
}

.item-quicklink a:hover {
    text-decoration: none;
}

.wrap-quicklink {
    float: left;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: space-between;
    display: -webkit-flex;
    -webkit-justify-content: space- between;
    width: 100%;
}

@media only screen and (max-width: 1920px) and (min-width: 1300px) {
    .item-quicklink {
        float: left;
        width: 90px;
        min-height: 100px;
        position: relative;
        margin-bottom: 20px;
        display: inline-block;
        margin-right: calc(100%/3 - 100px);
    }
}

@media only screen and (max-width: 1368px) and (min-width: 1300px) {
    .item-quicklink img {
        width: 70px;
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width: 1299px) and (min-width: 991px) {
    .item-quicklink {
        width: 70px;
        min-height: 80px;
        margin-right: 5px;
        margin-bottom: 20px;
    }
    .item-quicklink img {
        width: 70px;
    }
}

@media only screen and (max-width: 1199px) and (min-width: 992px) {
    .item-quicklink {
        width: 50px;
        margin-right: 5px;
        margin-bottom: 20px;
    }
    .item-quicklink img {
        width: 50px;
        display: block;
        margin: auto;
    }
}

@media only screen and (max-width: 991px) {
    .item-quicklink {
        width: 90px;
        min-height: 100px;
        margin-right: 5px;
        margin-bottom: 10px;
    }
    .item-quicklink img {
        display: block;
        margin: auto;
    }
}

ul.list-quicklink {
    list-style-type: none;
    padding-left: 10px;
    padding-right: 20px !important;
}

ul.list-quicklink li {
    padding-top: 7px;
    padding-bottom: 7px;
    border-bottom: 1px solid #ddd;
    list-style: crosshair;
    position: relative;
}

ul.list-quicklink li:before {
    content: "\00b7";
    font-size: 35px;
    position: absolute;
    font-weight: bold;
    top: -10px;
    display: inline;
    color: #0073c7;
}

ul.list-quicklink li a {
    color: #333;
    padding-left: 25px;
}

.portlet-custom {
    border-radius: 0 !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
}

.portlet-custom .portlet-title {
    background: #333947;
}

.portlet-custom .portlet-body {
    padding-left: 15px;
    padding-right: 15px;
}

.portlet-custom .caption-md {
    padding-left: 8px !important;
    ;
    background: #0073bb;
    color: #fff;
    padding-right: 8px !important;
    ;
}

.portlet-custom>.caption-subject {
    color: #fff !important
}

.portlet-custom.light>.portlet-title>.caption.caption-md>.caption-subject {
    color: #fff !important;
    font-size: 17px !important;
}

/* .tree-list .k-icon {
    float: left
} */


/* Attachment */

fx-file-attach .heading>th {
    font-family: roboto-bold !important;
}


/*# sourceMappingURL=shared.css.map */

.page-header.navbar .top-menu .navbar-nav>li.dropdown.open .dropdown-toggle .icon-plus {
    color: #fff !important;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.fht-table,
.fht-table thead,
.fht-table tfoot,
.fht-table tbody,
.fht-table tr,
.fht-table th,
.fht-table td {
    margin: 0;
}

.fht-table {
    border: 0 none;
    height: auto;
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
    /*table-layout: fixed;  Algoritmo de distribucion fijo */
    /*white-space:nowrap;   Impide los saltos de lÃ­nea automÃ¡ticos */
}

.fht-table th,
.fht-table td {
    overflow: hidden;
}

.fht-table-wrapper,
.fht-table-wrapper .fht-thead,
.fht-table-wrapper .fht-tfoot,
.fht-table-wrapper .fht-fixed-column .fht-tbody,
.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
    overflow: hidden;
    position: relative;
}

.fht-table-wrapper .fht-fixed-body .fht-tbody,
.fht-table-wrapper .fht-tbody {
    overflow: auto;
}

.fht-table-wrapper .fht-table .fht-cell {
    overflow: hidden;
    height: 1px;
}

.fht-table-wrapper .fht-fixed-column,
.fht-table-wrapper .fht-fixed-body {
    top: 0;
    left: 0;
    position: absolute;
}

.fht-table-wrapper .fht-fixed-column {
    z-index: 1;
}

.fht-fixed-body .fht-thead table {
    margin-right: 20px;
    border: 0 none;
}


/*For Examples*/

.ContenedorTabla {
    height: 400px;
    margin: 0 auto;
    overflow: auto;
    width: 1024px;
    position: relative;
}

.header,
.main {
    display: inline-block;
    height: auto;
    width: 100%;
}

.titulosHeader {
    border-bottom: 1px solid #e8bb25;
    height: auto;
    margin-bottom: 10px;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 100%;
}

.celda_encabezado_general {
    background-color: #003399;
    border: 1px solid #ccc;
    color: #ffffff;
    font-weight: bold;
    padding: 2px 4px;
    text-align: center;
}

._Separador {
    background-color: #fff;
    height: 12px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 7px;
}

._Separador div {
    width: 4px;
}

.celda_normal {
    /*background-color: #fff;*/
    border: 1px solid #ccc;
    padding: 2px 4px;
}


/*style excel*/

.excel_cell {
    border: 1px solid #CCC;
    color: #222;
    text-align: center;
    font-size: 13px;
    font-weight: normal;
    padding: 4px;
    white-space: pre-line;
    empty-cells: show;
}

._cell_header {
    background-color: #EEE;
}

._cell_Default {
    background-color: #FFF;
    text-align: left;
}

.excel_cell div {
    width: 30px;
    height: 20px;
}

div#cancelinfo .table {
    background: none !important;
}

.note.note-refer {
    color: #a7203e;
}

.note.note-refer.note-bordered {
    background-color: #fbf8da;
    border-color: #bbaf59;
}

.form-group {
    margin-bottom: 10px;
}

@media (min-width: 992px) {
    .page-content-wrapper .page-content {
        margin-left: 0px !important;
    }
}

.portlet.box>.portlet-body {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 0px;
}

h4.form-section.uppercase.bold.no-bordered {
    margin-top: 0px;
}

.page-header.navbar .top-menu .navbar-nav>li.quick-sidebar-toggler {
    padding-top: 3px !important;
}

.nav-sidebar-style2 ul.navbar-nav>li>a {
    padding-top: 20px !important;
}


/*# sourceMappingURL=aeon.edocument.css.map */