<style type="text/css">
    #attachmentViewDialog {
        min-height: 40vh !important;
        height: 98vh !important;
    }
    .close-owa-dialog
    {
        margin:5px;
    }
</style>


<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md tabbable-line">
                    <span class="caption-subject uppercase" ng-if="checkTitleEdit">{{titleEdit}}</span>
                    <span class="caption-subject uppercase" ng-if="!checkTitleEdit">{{title}}</span>
                </div>
                <div class="actions">
                    <kendo-button class="btn btn-default btn-sm" ng-click="printForm()" ng-if="model.id && model.status == 'Completed'">
                        <i style="font-size: 12px; padding-right: 3px;" class="fa fa-file-pdf-o font-green-jungle"></i> Print
                    </kendo-button>
                    <action-items model="model" save="save" form="g1"></action-items>
                    <div add-class class="btn-group" current-class="btn-group" added-class="open">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding: 0px !important">
                            <img src="ClientApp/assets/images/icon/more.png" style="position: relative;top: -2px"
                                 class="ng-isolate-scope">
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a data-toggle="modal" class="ng-binding" ng-click="showProcessingStages()">
                                    <i class="fa fa-recycle right-5" style="color: #b42e83"></i> {{'COMMON_PROCESSING_STAGE'|translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="col-md-12 mrb10">

                </div>
                <div class="row ng-scope" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <workflow-comment></workflow-comment>
                    </div>
                </div>
                <div class="row ng-scope" ng-if="errors.length > 0" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">Please enter all required fields <span class="font-red-thunderbird">*</span>:</h5>
                            <p></p>
                            <ul>
                                <li ng-repeat="error in errors">
                                <span class="bold ">{{error.controlName}}</span>
                                <span *ng-if="error.message">{{error.message? ': '+error.message: ''}}</span>
                                </li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <form name="g1">
                    <div class="page-content-wrapper float-none">
                        <div class="page-content" style="padding-top: 0px !important;">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-6" style="border-right: 1px solid #e0e0e0;">
                                            <div class="row">
                                                <div class="col-md-12" style="padding-bottom: 15px; font-weight: bold;">
                                                    <div class="caption">
                                                        <span class="caption-subject hr-process uppercase f-collapse">
                                                            Position
                                                            Details
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Position: <span class="font-red-thunderbird">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select kendo-drop-down-list name="positionName" id="positionId" k-options="positionsDataSource" k-ng-model="model.positionId" k-value-primitive="true" style="width: 100%">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Type Of Need:</label>
                                                        <div class="col-md-8" style="padding-top: 10px;">
                                                            <div class="col-md-5" style="padding: 10px 0 0 0;">
                                                                <input type="radio" name="typeOfNeed" id="newPosition" class="k-radio" ng-model="model.replacementFor" ng-value="{{typeOfNeed.NewPosition}}" ng-change="changeTypeOfNeed()">
                                                                <label style="color: #9b9b9b;" class="k-radio-label" for="newPosition">New Position</label>
                                                            </div>
                                                            <div class="col-md-5" style="padding: 10px 0 0 0;">
                                                                <input type="radio" name="typeOfNeed" id="replacementFor" ng-model="model.replacementFor" ng-value="{{typeOfNeed.ReplacementFor}}" class="k-radio" ng-change="changeTypeOfNeed()">
                                                                <label style="color: #9b9b9b;" class="k-radio-label" for="replacementFor">
                                                                    Replacement For a Valid
                                                                    Position
                                                                </label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-hide="!disableFollowTypeOfNeed">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Department: <span class="font-red-thunderbird">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select kendo-drop-down-tree id="replacementId" name="replacementId" k-options="replacementForOptions" k-ng-model="model.replacementForId" k-on-change="onChangeReplacementFor(model.replacementForId)" style="width: 100%">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="!disableFollowTypeOfNeed">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Department: <span class="font-red-thunderbird">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input kendo-drop-down-tree k-options="departmentOptions" name="departmentId" id="departmentId" k-ng-model="model.deptDivisionId" style="width: 100%;" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Job Grade: <span class="font-red-thunderbird">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <div class="col-md-5" style="padding-left: 0px !important;">
                                                                <select kendo-drop-down-list name="jobGrade" id="jobGradeId" k-options="jobGradesDataSource" ng-disabled="true" k-ng-model="model.jobGradeId" style="width: 100%;" k-on-open="openJobGrade()">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label">
                                                                    Expired Day: <span class="font-red-thunderbird">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-5" style="padding-right: 0px !important;">
                                                                <input kendo-numeric-text-box id="expiredDayPosition" k-min="0" name="expiredDayPosition" k-format="'#,0'" ng-model="model.expiredDayPosition" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--update UI 432-->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Replacement For (User):
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select kendo-drop-down-list name="replacementForUser" id="replacementFor_UserId" k-options="replacementForUsersOptions" k-ng-model="model.replacementForUserId" k-value-primitive="true" style="width: 100%" ng-disabled="disabledForReplacement">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Reason: <span class="font-red-thunderbird">*</span>

                                                        </label>
                                                        <div class="col-md-8">
                                                            <div class="col-md-5" style="padding-left: 0px!important;">
                                                                <select kendo-drop-down-list name="reason" id="reason_id" k-options="reasonOptions" k-ng-model="model.reason" style="width: 100%;" ng-disabled="disabledForReplacement">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label">

                                                                </label>
                                                            </div>
                                                            <div class="col-md-5" style="padding-right: 0px !important;">
                                                                <input type="text" id="otherReason" name="otherReason" class="k-textbox form-control input-sm input-default" ng-model="model.otherReason" style="width: 100%;" ng-disabled="disableFollowReason">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--ticket 471-->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Resignation Application:
                                                        </label>
                                                        <div class="col-md-8" ng-if="model.resignationNumber">
                                                            <a target="_blank" class="k-textbox form-control" style="color: #0073bb !important; border:0 !important; padding-left: 0px !important;" ui-sref="home.resignationApplication.item({referenceValue: model.resignationNumber, id: model.resignationId})" ui-sref-opts="{ reload: true }">{{model.resignationNumber}}</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end 471-->
                                            <!--end 432-->
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Cost Center: <span class="font-red-thunderbird">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select kendo-drop-down-list name="costCenterRecruitmentId" id="costCenterRecruitmentId" k-options="costCenterListOptions" k-ng-model="model.costCenterRecruitmentId" style="width: 100%">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Working Location: <span class="font-red-thunderbird">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select kendo-drop-down-list name="locationCode" id="locationCode" k-options="locationsDataSource" k-ng-model="model.locationCode" style="width: 100%">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            HQ/Operation: <span class="font-red-thunderbird">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select kendo-drop-down-list name="operation" id="operation_id" k-options="operationOptions" k-ng-model="model.operation" style="width: 100%;">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Working Address: <span class="font-red-thunderbird">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select kendo-drop-down-list name="workingAddressRecruitmentId" id="workingAddressRecruitment_id" k-options="workingAddressListOptions" k-ng-model="model.workingAddressRecruitmentId" style="width: 100%">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Estimate Salary:
                                                        </label>
                                                        <div class="col-md-8">
                                                            <div class="col-md-5" style="padding-left: 0px!important;">
                                                                <input kendo-numeric-text-box id="estimateSalaryStart" k-min="0" name="estimateSalaryStart" k-format="'#,0'" ng-model="model.estimateSalaryStart" style="width: 100%;" on-change="onChangeEstimateSalaryTo(model.estimateSalaryStart)" />
                                                            </div>
                                                            <div class="col-md-2 k-icon k-i-minus mrt5"></div>
                                                            <div class="col-md-5" style="padding-right: 0px!important;">
                                                                <input kendo-numeric-text-box id="estimateSalaryEnd" k-min="0" name="estimateSalaryEnd" k-format="'#,0'" ng-model="model.estimateSalaryEnd" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Starting Date
                                                            Require:
                                                        </label>
                                                        <div class="col-md-8">
                                                            <div class="col-md-5" style="padding-left: 0px!important;">
                                                                <input style="width: 100%;" kendo-date-picker id="startingDateRequire" name="startingDateRequire" k-format="'dd/MM/yyyy'" k-date-input="true" k-ng-model="model.startingDateRequire" />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label">
                                                                    Check Budget: <span class="font-red-thunderbird">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-5" style="padding-right: 0px !important;">
                                                                <select kendo-drop-down-list ng-class="{'input-default': model.replacementFor==2}" name="hasBudget" id="hasBudget" k-on-change="onChangeBudget()" k-options="budgetOptions" ng-disabled="disableFollowTypeOfNeed" k-ng-model="model.hasBudget" style="width: 100%;">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Current Balance:</label>
                                                        <div class="col-md-8">
                                                            <div class="col-md-5" style="padding-left: 0px!important;">
                                                                <input type="text" id="currentBalance" name="currentBalance" ng-model="model.currentBalance" class="k-textbox form-control input-sm" style="width: 100%;" readonly />
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label">
                                                                    Quantity: <span class="font-red-thunderbird">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-5" style="padding-right: 0px!important;">
                                                                <input kendo-numeric-text-box id="quantity" k-min="0" name="quantity" k-format="'#,0'" k-ng-model="model.quantity" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Working Time: <span class="font-red-thunderbird">*</span></label>
                                                        <div class="col-md-8">
                                                            <div class="col-md-5" style="padding-left: 0px!important;">
                                                                <select kendo-drop-down-list name="workingTime" id="workingTimeId" k-options="workingTimesDataSource" k-ng-model="model.workingTimeId" k-value-primitive="true" style="width: 100%">
                                                                </select>
                                                            </div>
                                                            <div class="col-md-2">
                                                                <label class="control-label">Contract Type: <span class="font-red-thunderbird">*</span></label>
                                                            </div>
                                                            <div class="col-md-5" style="padding-right: 0px!important;">
                                                                <select kendo-drop-down-list name="contractTypeCode" id="contractTypeCode" k-options="contractTypesOptions" k-ng-model="model.contractTypeCode" k-value-primitive="true" style="width: 100%">
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="model.contractTypeCode === 'PT'">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Working hour per
                                                            week: <span class="font-red-thunderbird">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <div class="col-md-5" style="padding-left: 0px!important;">
                                                                <input kendo-numeric-text-box k-min="0" id="workingHoursPerWeerk" name="workingHoursPerWeerk" k-format="'#,0'" k-ng-model="model.workingHoursPerWeerk" style="width: 100%;" />
                                                            </div>
                                                            <div class="col-md-3">
                                                                <label class="control-label">Wage per hour:</label>
                                                            </div>
                                                            <div class="col-md-4" style="padding-right: 0px!important;">
                                                                <input kendo-numeric-text-box k-min="0" id="wagePerHour" name="wagePerHour" k-format="'#,0'" k-ng-model="model.wagePerHour" style="width: 100%;" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" ng-if="model.contractTypeCode === 'PT'">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            From Date: <span class="font-red-thunderbird">*</span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <div class="col-md-5" style="padding-left: 0px!important;">
                                                                <input style="width: 100%;" kendo-date-picker id="fromDate" name="fromDate" k-ng-model="model.fromDate" k-rebind="maxDate" k-on-change="fromDateChanged()" k-date-input="true" k-format="'dd/MM/yyyy'" />
                                                            </div>
                                                            <div class="col-md-3 ">
                                                                <label class="control-label">
                                                                    To Date: <span class="font-red-thunderbird">*</span>
                                                                </label>
                                                            </div>
                                                            <div class="col-md-4" style="padding-right: 0px!important;">
                                                                <input style="width: 100%;" kendo-date-picker id="toDate" name="toDate" k-ng-model="model.toDate" k-min="minDate" k-rebind="minDate" k-on-change="toDateChanged()" k-date-input="true" k-format="'dd/MM/yyyy'" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Assign To:
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select kendo-drop-down-list name="assignToId" id="assignToId" k-options="assignToDataSource" k-ng-model="model.assignToId" style="width: 100%" class="input-default" disabled="disabled">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Department Name (For New Position): <span class="font-red-thunderbird"></span>
                                                        </label>
                                                        <div class="col-md-8">
                                                            <input type="text" id="caption" name="caption" maxlength="50" class="input-default k-textbox form-control input-sm" ng-model="model.departmentName" style="width: 100%;" disabled="disabled" /> <!--ng-disabled="disabledForReplacementDepartmentMass">-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Category:
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select kendo-drop-down-list name="category" id="categoryId" k-options="categoriesDataSource" k-ng-model="model.categoryId" k-value-primitive="true" style="width: 100%" class="input-default" disabled="disabled">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">
                                                            Working Location (From Mass):
                                                        </label>
                                                        <div class="col-md-8">
                                                            <select kendo-drop-down-list name="massLocation" id="massLocation" k-options="massLocationsDataSource" k-ng-model="model.massLocationCode" k-value-primitive="true" style="width: 100%" class="input-default" disabled="disabled">
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label class="col-md-4 control-label">Attachment (Resignation form, JD):</label>
                                                        <div class="col-md-8">
                                                            <input name="files" id="attachmentDetail" type="file" kendo-upload k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: false }" k-select="onSelect" k-remove="removeAttach" />
                                                        </div>
                                                        <label class="col-md-4 control-label" ng-if="oldAttachments && oldAttachments.length"></label>
                                                        <div class="col-md-8" style="margin-top: 10px; padding-left: 30px;" ng-if="oldAttachments && oldAttachments.length">
                                                            <p><b>Uploaded Files</b></p>
                                                            <ol>
                                                                <li ng-repeat="doc in oldAttachments">
                                                                    <a ng-click="downloadAttachment(doc.id)">{{doc.fileDisplayName}}</a>
                                                                    <a ng-click="viewFileOnline(doc.id)">| {{'COMMON_BUTTON_VIEW'| translate}}</a>
                                                                    <a ng-click="removeOldAttachment(doc)">| {{'COMMON_BUTTON_DELETE'| translate}}</a>
                                                                </li>
                                                            </ol>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="col-md-12" style="padding-bottom: 15px; font-weight: bold;">
                                                    <div class="caption">
                                                        <span class="caption-subject hr-process uppercase f-collapse">
                                                            Job
                                                            Description
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea kendo-editor style="height: 1em" k-ng-model="model.jobDescription"></textarea>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="caption" style="padding: 15px 0px 15px 0px;font-weight: bold;">
                                                        <span class="caption-subject hr-process uppercase f-collapse">
                                                            Job
                                                            Requirement
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <textarea kendo-editor style="height: 1em" k-ng-model="model.jobRequirement"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="portlet-title">
                <div class="actions">
                    <action-items model="model" save="save" form="g1"></action-items>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>


<!-- View File Online -->
<div id="attachmentViewDialog" style="height:100%!important;display:none;" k-modal="true" k-visible="false">
    <iframe id="attachment_owa" style="width:100%;height:97%;padding:0px!important;"></iframe>
    <button class="btn btn-default btn-sm k-button pull-right close-owa-dialog" ng-click="owaClose()"><i class="k-icon k-i-close font-green-jungle"></i> Close</button>
</div>


<processing-stage workflow-instances="workflowInstances"></processing-stage>