<style>
    .remove-text-decoration {
        text-decoration: none !important;
    }
</style>
<div class="row mrt10">
    <div class="col-md-12 col-sm-12">
        <div class="row widget-row">
            <!-- Title -->
            <div class="caption caption-md">
                <span class="caption-subject uppercase bold-section-title">{{vm.title | translate}} 
                </span>
                <learn-more group="vm.title"></learn-more>
            </div>
            <!-- Sections -->
            <div>
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2 mrt10 mrb10" ng-repeat="item in vm.listMenu">
                    <a ng-if="item.ref" class="remove-text-decoration" ui-sref='{{item.ref}}({action: item})' ui-sref-opts="{ reload: true }">
                        <div class="widget-thumb widget-bg-color-white bordered" style="cursor: pointer;">
                            <div class="widget-thumb-wrap">
                                <div class="widget-thumb-icon bg-green img-circle-sidebar"><img class="img-circle-icon" style="padding:0px" ng-src="{{item.icon}}"></div>
                                <div class="widget-thumb-body">
                                    <span class="widget-thumb-body-stat section-title">{{item.name | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                    <a ng-if='item.url' href="{{item.url}}" target="_blank" class="remove-text-decoration">
                        <div class="widget-thumb widget-bg-color-white bordered" style="cursor: pointer;">
                            <div class="widget-thumb-wrap">
                                <div class="widget-thumb-icon bg-green img-circle-sidebar"><img class="img-circle-icon" style="padding:0px" ng-src="{{item.icon}}"></div>
                                <div class="widget-thumb-body">
                                    <span class="widget-thumb-body-stat section-title">{{item.name | translate}}</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>