<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <add key="ExcuteTime" value="1"/>
      <add key="Edoc2Database" value="Server=.;database=AEONHRPRODDB;uid=sa;pwd=Matkhau1"/>
    </appSettings>
</configuration>