<style>
    .k-grid-toolbar {
        text-align: right;
    }

    .k-i-file-excel {
        display: inline-block;
        font-size: 14px;
        line-height: 14px;
        -webkit-font-smoothing: antialiased;
        width: 1.25em;
        text-align: center;
        font: normal normal normal 14px/1 FontAwesome;
        text-rendering: auto;
        color: #3598dc !important;
    }

    .k-i-file-excel:before {
        content: "\f0ce" !important;
    }
</style>
<!-- end -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}
                    </span>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-sm-12">
                            <kendo-button class="btn btn-default btn-sm" ng-click="toggleFilterPanel(true)"
                                ng-show="!advancedSearchMode">
                                <i class="k-icon k-i-filter font-green-jungle" id="search"></i>
                                {{'COMMON_BUTTON_SEARCH' | translate}}
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="toggleFilterPanel(false)"
                                ng-show="advancedSearchMode">
                                <i class="k-icon k-i-close font-green-jungle"></i>
                                {{'COMMON_BUTTON_CLOSE' | translate}}
                            </kendo-button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div ng-show='advancedSearchMode'>

                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">{{'COMMON_STATUS' | translate}}:</label>
                                        <div class="col-md-8">
                                            <select kendo-multi-select k-options="typeofStatus"
                                                k-ng-model="query.status"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">{{'REFERENCE_ID' | translate}}:</label>
                                    <div class="col-md-8">
                                        <input type="text" maxlength="50" class="k-textbox" style="width: 100%;"
                                            ng-model="query.referenceNumber">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">{{'COMMON_SAP_CODE' | translate}}:</label>
                                        <div class="col-md-8">
                                            <input type="text" maxlength="50" class="k-textbox" style="width: 100%;"
                                                ng-model="query.sapCode">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">{{'COMMON_CREATED_DATE' | translate}}:</label>
                                    <div class="col-md-8">
                                        <range-Date-Of-Date-Picker d-from="query.createDateFrom"
                                            d-to="query.createDateTo"></range-Date-Of-Date-Picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">{{'COURSE_TYPE' | translate}}:</label>
                                        <div class="col-md-8">
                                            <input type="text" maxlength="50" class="k-textbox" style="width: 100%;"
                                                ng-model="query.courseType">
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="row mrb10">
                        <div class="col-md-2"> </div>
                        <div class="col-md-4 btn-group">
                            <kendo-button class="btn btn-default btn-sm" ng-click="search()">
                                <i class="k-icon k-i-search font-green-jungle"></i>
                                {{'COMMON_BUTTON_SEARCH' | translate}}
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="clearSearch()">
                                <i style="font-size: 12px; padding-right: 3px;" class="fa fa-refresh"></i>
                                {{'COMMON_BUTTON_RESET' | translate}}
                            </kendo-button>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid" options="allItemGridOptions" class="participant-grid">
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>