<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}
                    </span>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="button" class="btn btn-default btn-sm" ng-click="toggleFilterPanel(true)"
                                ng-show="!advancedSearchMode">
                                <i class="k-icon k-i-filter font-green-jungle">
                                </i> Search</button>
                            <button type="button" class="btn btn-default btn-sm" ng-show="advancedSearchMode"
                                ng-click='toggleFilterPanel(false)'>
                                <i class="k-icon k-i-close font-green-jungle"></i>
                                Close
                            </button>
                            <div add-class class="btn-group" current-class="btn-group" added-class="open">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="true" style="padding: 0px !important"><img
                                        src="ClientApp/assets/images/icon/more.png"
                                        style="position: relative;top: -2px" class="ng-isolate-scope"></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a ng-click="export()" class="ng-binding"><i
                                                class="fa fa-table font-blue right-5"></i> Export excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="portlet-body">
                <div ng-if='advancedSearchMode'>
                    <div class="row">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="row col-md-12">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 control-label">Keyword:</label>
                                            <div class="col-sm-8 col-md-8">
                                                <input type="text" name="" class="k-textbox" style="width: 100%;" ng-model="filter.keyword"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 control-label">Status:</label>
                                            <div class="col-sm-8 col-md-8">
                                                <select kendo-multi-select k-options="statusOptions" k-ng-model="filter.status"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-4 col-md-4 control-label">Created Date:</label>
                                            <div class="col-sm-8 col-md-8">
                                                <!-- <range-date-for-filter-kendo-model d-from="filter.fromDate" d-to="filter.toDate"></range-date-for-filter-kendo-model> -->
                                                <range-Date-Of-Date-Picker d-from="filter.fromDate" d-to="filter.toDate"></range-Date-Of-Date-Picker>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row col-md-12">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <div class="col-sm-4 col-md-4"></div>
                                            <div class="col-sm-8 col-md-8 btn-group">
                                                <kendo-button class="btn btn-default btn-sm" ng-click="search(true)">
                                                    <i class="k-icon k-i-search font-green-jungle"></i> Search
                                                </kendo-button>
                                                <kendo-button class="btn btn-default btn-sm" ng-click="clearSearch()">
                                                    <i style="font-size: 12px; padding-right: 3px;" class="fa fa-refresh"></i> Reset
                                                </kendo-button>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Code Huy-->
                    <!-- <div class="row">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-8 btn-group">
                                            <button type="button" class="btn btn-default btn-md"
                                                ng-click="search(true)"><i
                                                    class="fa fa-search font-green-jungle right-5"></i>
                                                Search</button>
                                            <button type="button" class="btn btn-default btn-md mrl10"
                                                ng-click="resetSearch()"><i class="fa fa-refresh right-5"></i>
                                                Reset</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid" options="promoteAndTransferGridOptions">
                        </kendo-grid>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>

