<div class="col-md-12" style="padding: 50px;">
    <div class="portlet bordered light">
        <!-- Title -->
        <div class="portlet-title">
            <div class="caption caption-md">
                <img src="/ClientApp/assets/images/logo.png" />
                <span class="caption-subject uppercase">
                    Login
                </span>
                <div id="loading"></div>
            </div>
        </div>
        <form ng-submit="formSubmit()" class="form" style="height: 200px;">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Username</label>
                    <input type="text" class="form-control" ng-model="username" placeholder="username" required="" />
                </div>
                <div class="form-group">
                    <label class="control-label">Password</label>
                    <input type="password" class="form-control" ng-model="password" placeholder="password" />
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-sm">Login</button><br>
                    <span class="text-danger" style="color:red">{{ error }}</span>
                </div>
            </div>
        </form>
    </div>

</div>