<style>
    .caption-subject-way {
        font-size: 20px;
        margin-bottom: 10px;
        color: #006EFA;
    }

    .caption-lable {
        font-size: 16px;
        margin-bottom: 10px;
        color: #006EFA;
    }

    .caption-subject-way-left {
        font-size: 14px;
        color: #006EFA;
        float: left;
        padding-top: 7px;
        padding-left: 15px;
        width: 100%;
    }

    .infoFlight-pd-5 {
        padding: 5px 0 !important;
    }

    .infoFlight-pd-10 {
        padding: 10px 0 !important;
    }

    .infoFlight-center {
        text-align: center;
    }

    .panel-default > .panel-heading {
        background-color: transparent !important;
    }

    .bor-top-journey {
        border-top: 1px dashed #ebebeb
    }

    .journey-detail-info {
        background-color: #cde1f7;
    }

    .panel-heading {
        border-bottom: unset !important
    }

    .price-passenger {
        color: red;
    }

    .item-journey {
        padding: 20px 0;
    }

    .item-flight {
        padding: 10px 0;
    }

    .icon-journey {
        margin-right: 15px !important;
    }

    .air-desc, .desc-bt {
        font-size: 9px;
        color: #a2a2a2 !important;
    }

    .text-color {
        color: #006EFA;
    }

    a.text-color:hover {
        color: #006EFA;
    }

    #loading_bta {
        width: 100%;
        height: 100%;
        bottom: 35% !important;
        top: unset !important;
        z-index: 1000;
    }

    .transit-line {
        background-color: #fff
    }

    .mt-pd10 {
        padding: 10px;
    }

    .text-header-conditions {
        margin-bottom: 0px !important;
    }

    .dropdown-header {
        text-transform: inherit
    }

    .text-title-rule {
        font-weight: 600
    }

    .text-detail-rule a {
        color: #006EFA;
    }

        .text-detail-rule a:hover {
            color: #006EFA;
        }

    a.text-close {
        float: right;
        color: #fff;
        text-decoration: inherit;
    }

        a.text-close:hover {
            color: #fff;
            text-decoration: inherit;
        }

    .pull-left {
        float: left;
        padding-top: 15px;
    }

    .pull-right {
        float: right;
    }

    div.dataTables_paginate {
        float: right;
        margin: 0;
    }

    .pagination {
        display: inline-flex;
        padding-left: 0;
        border-radius: 4px;
    }

        .pagination li.first-page > a, .pagination li.last-page > a, .pagination li.active > a, .pagination li > a:hover {
            background-color: #006EFA !important;
            color: #fff;
            padding-top: 5px !important;
        }

            .pagination li.active > a:hover {
                background-color: #fff !important;
                color: #006EFA;
                padding-top: 5px !important;
            }

        .pagination li > a {
            background-color: #fff !important;
            color: #006EFA;
            padding-top: 5px !important;
        }
    .custom-border {
        border: 1px solid #cedae0; /* Đường viền màu đen dày 2px */
        padding: 10px; /* Khoảng cách bên trong */
        border-radius: 5px; /* Góc viền bo tròn */
    }
</style>


<div id="userTicketView" class="search-flight" ng-repeat="dataItem in dataItems">
    <div class="panel-heading bor-top-journey" style="margin-left: 1em;">
        <div ng-if="dataItem.directFlight && dataItem.no === 1" class="row">
            <div class="col-md-2 col-xs-3 col-4">
                <div class="caption-subject-way">{{'BTA_DIRECT_TICKET'|translate}}</div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <div ng-if="!dataItem.directFlight && dataItem.no === 2" class="row">
            <div class="col-md-2 col-xs-3 col-4">
                <div class="caption-subject-way">{{'BTA_RETURN_TICKET'|translate}}</div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="panel panel-default custom-border">
        <div class="panel-heading mb-3">
            <div class="row">
                <div class="col-md-1 col-xs-3">
                    <div class="airlineName">
                        <img ng-src="{{dataItem.imgAirLogo}}" alt="airlines" style="height:16px" />
                    </div>
                    <div class="air-desc">
                        <span>{{dataItem.flightNo}}</span>
                    </div>
                </div>
                <div class="col-md-2 col-xs-2">
                    <div class="flight-time infoFlight-center">
                        <div class="airType" style="margin-top:8px;">
                            {{dataItem.departureDateTime | date:'fullDate': 'UTC' }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xs-6 col-8">
                    <div class="flight-journey" style="flex-direction: row; box-sizing: border-box; display: flex;">
                        <div class="departure infoFlight-pd-5" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%; font-size: 18px; font-weight:700">
                            {{dataItem.departureDateTime | date:"shortTime": 'UTC' }} ({{dataItem.originLocationCode}})
                        </div>
                        <div class="journey-symbol infoFlight-pd-10">
                            <img class="ng-tns-c22-12" alt="path" src="https://www.gotadi.com/assets/icons/path.png">
                        </div>
                        <div class="return infoFlight-pd-5" style="place-content: stretch flex-end; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 100%; max-width: 50%;font-size: 18px; font-weight:700">
                            {{dataItem.arrivalDateTime | date:"shortTime" : 'UTC' }} ({{dataItem.destinationLocationCode}})
                        </div>
                    </div>
                </div>
                <div class="col-md-1 col-xs-6 col-8" style="text-align: center;">
                    <div class="row">
                        <label ng-if="!viewWhenCompleted" class="caption-lable" style="margin-bottom: 10px;">{{'BTA_IS_CANCEL'|translate}}</label>
                    </div>
                    <div ng-if="dataItem.directFlight && dataItem.no === 1 && !viewWhenCompleted" class="row">
                        <input type="checkbox" ng-change="changeCancel(dataItem)" ng-model="dataItem.isCancelOutBoundFlight" name="isCancelOutBoundFlight" id="isCancelOutBoundFlight" class="form-check-input" style="margin-left: 30px; vertical-align: middle;" />
                        <label class="form-check-label" for="isCancelOutBoundFlight"></label>
                    </div>
                    <div ng-if="!dataItem.directFlight && dataItem.no === 2 && !viewWhenCompleted" class="row">
                        <input type="checkbox" ng-change="changeCancel(dataItem)" ng-model="dataItem.isCancelInBoundFlight" name="isCancelInBoundFlight" id="isCancelInBoundFlight" class="form-check-input" style="margin-left: 30px; vertical-align: middle;" />
                        <label class="form-check-label" for="isCancelInBoundFlight"></label>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6 col-8">
                    <label ng-if="!viewWhenCompleted" class="caption-lable" style="margin-bottom: 10px;">{{'BTA_REASON_CANCEL'|translate}}</label>
                    <input ng-if="dataItem.directFlight && dataItem.no === 1 && !viewWhenCompleted" id="reasonForOutBoundFlight" name="reasonForOutBoundFlight" ng-readonly="false" class="k-textbox" type="text" ng-model="dataItem.reasonForOutBoundFlight" style="width: 100%" ng-class="{'disabled': !dataItem.isCancelOutBoundFlight}" />
                    <input ng-if="!dataItem.directFlight && dataItem.no === 2 && !viewWhenCompleted" id="reasonForInBoundFlight" name="reasonForInBoundFlight" ng-readonly="false" class="k-textbox" type="text" ng-model="dataItem.reasonForInBoundFlight" style="width: 100%" ng-class="{'disabled': !dataItem.isCancelInBoundFlight}" />
                </div>
                <div class="col-md-2 col-xs-6 col-8" ng-if="(isAdminCheckerStep || dataItem.penaltyFeeOutBoundFlight > 0 || dataItem.penaltyFeeInBoundFlight > 0) && !viewWhenCompleted">
                    <label class="caption-lable" style="margin-bottom: 10px;">{{'BTA_CANCELLATION_FEE'|translate}}</label>
                    <input kendo-numeric-text-box k-min="0" ng-if="dataItem.directFlight && dataItem.no === 1" id="penaltyFeeOutBoundFlight" name="penaltyFeeOutBoundFlight" ng-model="dataItem.penaltyFeeOutBoundFlight" style="width: 100%" ng-class="{'disabled': !dataItem.isCancelOutBoundFlight}" />
                    <input kendo-numeric-text-box k-min="0" ng-if="!dataItem.directFlight && dataItem.no === 2" id="penaltyFeeInBoundFlight" name="penaltyFeeInBoundFlight" ng-model="dataItem.penaltyFeeInBoundFlight" style="width: 100%" ng-class="{'disabled': !dataItem.isCancelInBoundFlight}" />
                </div>
            </div>
        </div>
        <div class="panel-heading bor-top-journey mb-3">
            <div class="row" style="margin-top: 10px;">
                <div class="col-md-2 col-xs-3 col-4">
                    <label class="col-md-12 infoFlight-pd-5">{{dataItem.cabinClassName}}</label>
                </div>
                <div class="col-md-8">
                </div>
                <div class="col-md-2">
                    <span class="caption-subject uppercase" style="font-weight:700;">{{'BTA_TOTAL'|translate}}: </span>
                    <span class="total-ticket" style="color: #006EFA; font-weight: 700;">
                        {{dataItem.sumAmount | number}} VND
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default" style="margin-top: 10px;">
    <div class="panel-heading">
        <div class="row">
            <div ng-if="flightType !== 'DOMESTIC'" class="col-md-12" style="text-align:right;">
                <span class="caption-subject uppercase" style="font-weight:700;">{{'BTA_TOTAL'|translate}}: </span>
                <span class="total-ticket" style="color: #006EFA; font-weight: 700;">
                    {{sumAmount | number}} VND/{{adutsQtt}} {{'BTA_ADULTS'|translate}}
                </span>
            </div>

            <div ng-if="flightType === 'DOMESTIC'" class="col-md-12" style="text-align:right;">
                <span class="caption-subject uppercase" style="font-weight:700;">{{'BTA_TOTAL'|translate}}: </span>
                <span class="total-ticket" style="color: #006EFA; font-weight: 700;">
                    {{sumAmount | number}} VND/{{adutsQtt}} {{'BTA_ADULTS'|translate}}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8" style="margin-top: 10px;">
    </div>
    <div class="col-md-2" style="margin-top: 10px;">
    </div>
    <div class="col-md-2 col-xs-3 col-4 d-flex flex-wrap justify-content-end" style="margin-top: 10px;">
        <span ng-if="(!isCancel && isEditViewTicket) || isAdminCheckerStep" class="input-group-btn">
            <button class="btn btn-sm btn-primary btn-add-user" id="saveReasonCancel"
                    style=" color:white; background-color: #006EFA" ng-click="saveReasonCancel()">
                {{'COMMON_BUTTON_SAVE'| translate}}
            </button>
        </span>
        <span class="input-group-btn">
            <button class="btn btn-sm btn-primary btn-add-user" id="closeReasonCancel"
                    style="color:white; background-color: #006EFA" ng-click="closeDialog()">
                {{'COMMON_BUTTON_CLOSE'| translate}}
            </button>
        </span>
    </div>
</div>
