<style type="text/css">
    .k-grid-norecords-template {
        border: 0px !important;
    }

    .row {
        margin-top: 20px;
    }

    .k-grid-content {
        min-height: 60px;
    }
</style>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">
                        MAINTENANT
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <div class="page-content-wrapper float-none">
                    <div class="row">
                        <!---------------------->
                        <!--ItemWrongStatus-->
                        <!---------------------->
                        <div class="col-md-12 mt-2">
                            <div class="caption caption-md float-left">
                                <span class="caption-subject uppercase">
                                    <b>Scan items which has wrong status</b>
                                </span>
                                <a ng-click="getItemsWrongStatus()" class="btn btn-sm btn-secondary float-right">
                                    <i class="fa fa-search right-5"></i>SCAN
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <kendo-grid id="itemWrongStatusGrid" options="itemWrongStatusOptions"></kendo-grid>
                        </div>
                    </div>

                    <div class="row">
                        <!---------------------->
                        <!--ItemNotHavePayload-->
                        <!---------------------->
                        <div class="col-md-12 mt-2">
                            <div class="caption caption-md float-left">
                                <span class="caption-subject uppercase">
                                    <b>Scan Workflow completed but not have payload</b>
                                </span>
                                <a ng-click="getItemsNotHavePayload()" class="btn btn-sm btn-secondary float-right">
                                    <i class="fa fa-search right-5"></i>SCAN
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <kendo-grid id="itemNotHavePayloadGrid" options="itemNotHavePayloadOptions"></kendo-grid>
                        </div>
                    </div>


                    <div class="row">
                        <!---------------------->
                        <!--ItemHadPending-->
                        <!---------------------->
                        <div class="col-md-12 mt-2">
                            <div class="caption caption-md float-left">
                                <span class="caption-subject uppercase">
                                    <b>Scan Item has Pending Workflow</b>
                                </span>
                                <a ng-click="getItemsHadPending()" class="btn btn-sm btn-secondary float-right">
                                    <i class="fa fa-search right-5"></i>SCAN
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <kendo-grid id="itemHadPendingGrid" options="itemsHadPendingOptions"></kendo-grid>
                        </div>
                    </div>

                    <div class="row">
                        <!---------------------->
                        <!--Tabtrip functions-->
                        <!---------------------->
                        <div class="col-md-12 mt-2">
                            <div class="caption caption-md float-left">
                                <span class="caption-subject uppercase">
                                    <b>Support Functions</b>
                                </span>
                                <a ng-click="getItemsHadPending()" class="btn btn-sm btn-secondary float-right">
                                    <i class="fa fa-search right-5"></i>SCAN
                                </a>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div style="width: 100%;" kendo-tab-strip k-options="stripOptions" id="tabstrip">
                                <ul>
                                    <li class="k-state-active" ng-click="changTab('tab1')" id="tab1">
                                        Unlock User
                                    </li>
                                    <li ng-click="changTab('tab2')" id="tab2">
                                        Sync Leave Balance
                                    </li>
                                    <li ng-click="changTab('tab3')" id="tab3">
                                        Re-Generate OT Payload
                                    </li>
                                </ul>
                                <!-- tab 1 -->
                                <div style="padding: 1em;width: 99.5%;">
                                    <div class="form-horizontal">
                                        <div class="form-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12 ">
                                                            <div class="form-group">
                                                                <label class="col-md-4 control-label">
                                                                    User SAPCode:
                                                                </label>
                                                                <div class="col-md-8 ">
                                                                    <input type="text" class="form-control input-sm" ng-model="unlockUser.userSAPCode">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="col-md-12 ">
                                                            <div class="form-group">
                                                                <button kendo-button="" style="background-color: #b42e83; color: white;" class="btn btn-default btn-sm ng-binding ng-scope k-button" ng-click="getUserLockedStatus()" data-role="button" role="button" aria-disabled="false" tabindex="0">
                                                                    Get User
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <kendo-grid id="userLockedStatusGrid" options="userLockedStatusOptions"></kendo-grid>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tab 2 -->
                                <div style="padding: 1em;width: 99.5%;">
                                    <div class="form-horizontal">
                                        <div class="form-horizontal">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-12 ">
                                                                <div class="form-group">
                                                                    <label class="col-md-4 control-label">
                                                                        User SAPCode:
                                                                    </label>
                                                                    <div class="col-md-8 ">
                                                                        <input type="text" class="form-control input-sm" ng-model="syncUser.userSAPCode">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-12 ">
                                                                <div class="form-group">
                                                                    <button kendo-button="" style="background-color: #b42e83; color: white;" class="btn btn-default btn-sm ng-binding ng-scope k-button" ng-click="syncUserDataFromSAP()" data-role="button" role="button" aria-disabled="false" tabindex="0">
                                                                        Sync User Data From SAP
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- tab 3 -->

                                <div style="padding: 1em;width: 99.5%;">
                                    <div class="form-horizontal">
                                        <div class="form-horizontal">
                                            <div class="form-body">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-12 ">
                                                                <div class="form-group">
                                                                    <label class="col-md-4 control-label">
                                                                        Re-Generate OT Payload:
                                                                    </label>
                                                                    <div class="col-md-8 ">
                                                                        <input type="text" class="form-control input-sm" ng-model="otPayload.referenceCode">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="row">
                                                            <div class="col-md-12 ">
                                                                <div class="form-group">
                                                                    <button kendo-button="" style="background-color: #b42e83; color: white;" class="btn btn-default btn-sm ng-binding ng-scope k-button" ng-click="generateOTPayload()" data-role="button" role="button" aria-disabled="false" tabindex="0">
                                                                        Re-Generate Payload
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row">
                                                    <kendo-grid id="otPayloadGrid" options="reGenerateOTPayloadOptions"></kendo-grid>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>

<!--Confirm dialog-->
<div id="payloadDetailsDialog" kendo-dialog="payloadDetailsDialog" k-on-open="dialogVisible = true" style="height: 100% !important"
     k-on-close="dialogVisible = false" k-width="890" k-modal="true" k-visible="false" options="payloadDetailsDialogOption">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="page-content-wrapper float-none">
                    {{otPayload.payloadDetails}}
                </div>
            </div>
        </div>
        <div class="row mrb10">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<!--<div id="confirmFlowType">
    <select kendo-drop-down-list
            style="width: 100%;"
            k-ng-model="itemType"
            k-options="flowTypeOptions">
    </select>
    <kendo-button ng-disabled="!itemType" class="btn btn-default btn-sm confirm-btn" type="button" ng-click="onConfirmFlowType()">
        <i class="fa fa-check right-5 font-green-jungle text-success"></i> OK
    </kendo-button>
</div>-->
