<style>
    .k-participant {
        margin: auto 100px;
    }

    .k-action {
        display: flex;
        float: right;
        padding-right: 15px;
    }

    .k-upload-custom {
        display: none;
    }

    .participant-grid .k-grid-content {
        max-height: 200px;
    }

    .k-dialog {
        position: fixed;
    }
    .btn-hover-del {
        color: red;
        background-color: transparent;
        border-color: red;
    }

        .btn-hover-del:hover {
            background-color: red;
            color: white !important;
        }

    .k-dialog .k-dialog-buttongroup.k-dialog-button-layout-normal .k-button:first-child {
        border-radius: 6px !important;
        background-color: #006efa !important;
        color: white !important;
    }
</style>

<div class="row mb-3" style="padding-top: 5px;">
    <div class="col-md-12">
        <div style="overflow:hidden;">
            <div class="p-2 mb-2" style="border-left: 5px solid #006efa;">
                <span class="display-8 m-0 fw-bold">{{'TRAINING_REQUEST_PARTICIPANT_TITLE' | translate}}</span>
            </div>

            <div class="p-3">
                <div class="row ">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label text-secondary">G1</label>
                            <div class="row align-items-end">
                                <div class="col-md-12">
                                    <input type="text"
                                           name="G1"
                                           class="form-control input-sm"
                                           ng-model="participantBudget.g1"
                                           style="width: 100%"
                                           readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label text-secondary">G2</label>
                            <div class="row align-items-end">
                                <div class="col-md-12">
                                    <input type="text"
                                           name="G2"
                                           class="form-control input-sm"
                                           ng-model="participantBudget.g2"
                                           style="width: 100%"
                                           readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label text-secondary">G3</label>
                            <div class="row align-items-end">
                                <div class="col-md-12">
                                    <input type="text"
                                           name="G3"
                                           class="form-control input-sm"
                                           ng-model="participantBudget.g3"
                                           style="width: 100%"
                                           readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label text-secondary">G4</label>
                            <div class="row align-items-end">
                                <div class="col-md-12">
                                    <input type="text"
                                           name="G4"
                                           class="form-control input-sm"
                                           ng-model="participantBudget.g4"
                                           style="width: 100%"
                                           readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label class="form-label text-secondaryl">G5+</label>
                            <div class="row align-items-end">
                                <div class="col-md-12">
                                    <input type="text"
                                           name="G5plus"
                                           class="form-control input-sm"
                                           ng-model="participantBudget.g5plus"
                                           style="width: 100%"
                                           readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row ">
                    <div class="col-md-12">
                        <span class="input-group-btn float-end">
                            <!--<span class="btn btn-default btn-sm"
          ng-if="isAcademyUser"
          ng-disabled="!isEditable"
          style="margin-left: 5px">
        <a href="ClientApp/assets/templates/ImportTemplate.xlsx" style="text-decoration: none; color: inherit;" target="_self" download>
            <i class="k-icon k-i-download font-green-jungle"></i> {{'TRAINING_REQUEST_DOWNLOAD_TEMPLATE'|translate}}
        </a>
    </span>
    <span class="btn btn-default btn-sm"
          onclick="document.getElementById('fileInput').click()"
          ng-if="isAcademyUser"
          ng-disabled="!isEditable"
          style="margin-left: 5px">
        <input id="fileInput"
               name="files"
               type="file"
               class="k-upload-custom"
               onchange="angular.element(this).scope().onParticipantsImport(this)"
               accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
               style="display: none"
               ng-disabled="!isEditable" />
        <i class="k-icon k-i-file-add font-green-jungle"></i>{{'TRAINING_REQUEST_ADD_USER_FROM_EXCEL' | translate}}
    </span>-->
                            <!--<kendo-button class="btn btn-default btn-sm"
                  ng-click="addItemsUser()"
                  ng-disabled="!isEditable"
                  style="margin-left: 5px"
                  type="button">
        <i class="k-icon k-i-plus font-green-jungle"></i>{{'TRAINING_REQUEST_ADD_USER' | translate}}
    </kendo-button>-->
                            <!--<kendo-button class="btn btn-default btn-sm"
                  ng-click="addDeparmentUser()"
                  ng-if="isAcademyUser"
                  ng-disabled="!isEditable"
                  style="margin-left: 5px"
                  type="button">
        <i class="k-icon k-i-grid-layout font-green-jungle"></i>{{'TRAINING_REQUEST_ADD_USER_FROM_DEPARTMENT' | translate}}
    </kendo-button>-->
                            <!--<kendo-button class="btn btn-default btn-sm"
                  ng-click="removeAll()"
                  ng-if="isEditable && !(isHODAcademy || isCheckerAcademy)"
                  style="margin-left: 5px"
                  type="button">
        <i class="k-icon k-i-close font-green-jungle"></i>
        <span>{{'TRAINING_REQUEST_REMOVE_ALL' | translate}}</span>
    </kendo-button>-->
                          

                            <button  ng-if="isAcademyUser" ng-disabled="!isEditable" type="button" class="btn btn-primary rounded-3 btn-outline-blue poppins-regular display-9 py-1 ng-binding">
                                <a href="ClientApp/assets/templates/ImportTemplate.xlsx" style="text-decoration: none; color: inherit;" target="_self" download>
                                    <i class="k-icon k-i-download font-green-jungle"></i> {{'TRAINING_REQUEST_DOWNLOAD_TEMPLATE'|translate}}
                                </a>
                            </button>

                            <button  ng-if="isAcademyUser" ng-disabled="!isEditable" onclick="document.getElementById('fileInput').click()" type="button" class="btn btn-primary rounded-3 btn-outline-blue poppins-regular display-9 py-1 ng-binding">
                                <i class="k-icon k-i-file-add font-green-jungle"></i> <input id="fileInput"
                                       name="files"
                                       type="file"
                                       class="k-upload-custom"
                                       onchange="angular.element(this).scope().onParticipantsImport(this)"
                                       accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                       style="display: none"
                                       ng-disabled="!isEditable" /> {{'TRAINING_REQUEST_ADD_USER_FROM_EXCEL' | translate}}
                            </button>

                            <button type="button" style="border-color:red; color:red" class="btn btn-hover-del rounded-3 poppins-regular display-9 py-1 ng-binding" ng-click="removeAll()"
                                    ng-if="isEditable && !(isHODAcademy || isCheckerAcademy)">
                                {{'TRAINING_REQUEST_REMOVE_ALL' | translate}}
                            </button>

                            <button type="button" class="btn btn-primary rounded-3 btn-outline-blue poppins-regular display-9 py-1 ng-binding" ng-click="addDeparmentUser()"
                                    ng-if="isAcademyUser"
                                    ng-disabled="!isEditable">
                                {{'TRAINING_REQUEST_ADD_USER_FROM_DEPARTMENT' | translate}}
                            </button>

                            <button type="button" class="btn btn-primary rounded-3 btn-outline-blue poppins-regular display-9 py-1 ng-binding" ng-click="addItemsUser()"
                                    ng-disabled="!isEditable">
                                {{'TRAINING_REQUEST_ADD_USER' | translate}}
                            </button>
                        </span>
                    </div>


                </div>

                <div class="row mrt10 mt-2">
                    <div class="col-md-12">
                        <kendo-grid options="participantsGridOptions"
                                    id="participantGrid"
                                    class="participant-grid">
                        </kendo-grid>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>






<!--<div class="portlet box bg-grey bg-font-grey fx-portlet">
  <div class="portlet-title">
    <div class="caption">
      <span class="caption-subject hr-process uppercase f-collapse"
        >{{'TRAINING_REQUEST_PARTICIPANT_TITLE' | translate}}</span
      >
    </div>
  </div>
</div>
<div class="page-content-wrapper float-none">
  <div class="page-content">
    <div class="form-horizontal">
      <div class="form-body">
        <div class="k-participant">
          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label class="col-md-2 control-label">G1</label>
                <div class="col-md-6">
                  <input
                    type="text"
                    name="G1"
                    class="k-textbox form-control input-sm"
                    ng-model="participantBudget.g1"
                    style="width: 100%"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="col-md-2 control-label">G2</label>
                <div class="col-md-6">
                  <input
                    type="text"
                    name="G2"
                    class="k-textbox form-control input-sm"
                    ng-model="participantBudget.g2"
                    style="width: 100%"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="col-md-2 control-label">G3</label>
                <div class="col-md-6">
                  <input
                    type="text"
                    name="G3"
                    class="k-textbox form-control input-sm"
                    ng-model="participantBudget.g3"
                    style="width: 100%"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="col-md-2 control-label">G4</label>
                <div class="col-md-6">
                  <input
                    type="text"
                    name="G4"
                    class="k-textbox form-control input-sm"
                    ng-model="participantBudget.g4"
                    style="width: 100%"
                    readonly
                  />
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label class="col-md-2 control-label">G5+</label>
                <div class="col-md-6">
                  <input
                    type="text"
                    name="G5plus"
                    class="k-textbox form-control input-sm"
                    ng-model="participantBudget.g5plus"
                    style="width: 100%"
                    readonly
                  />
                </div>
              </div>
            </div>
          </div>

          <div class="row actions k-action">
              <div class="col-md-12">
                  <span class="input-group-btn">
                      <span class="btn btn-default btn-sm"
                            ng-if="isAcademyUser"
                            ng-disabled="!isEditable"
                            style="margin-left: 5px">
                          <a href="ClientApp/assets/templates/ImportTemplate.xlsx" style="text-decoration: none; color: inherit;" target="_self" download>
                              <i class="k-icon k-i-download font-green-jungle"></i> {{'TRAINING_REQUEST_DOWNLOAD_TEMPLATE'|translate}}
                          </a>
                      </span>
                      <span class="btn btn-default btn-sm"
                            onclick="document.getElementById('fileInput').click()"
                            ng-if="isAcademyUser"
                            ng-disabled="!isEditable"
                            style="margin-left: 5px">
                          <input id="fileInput"
                                 name="files"
                                 type="file"
                                 class="k-upload-custom"
                                 onchange="angular.element(this).scope().onParticipantsImport(this)"
                                 accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                                 style="display: none"
                                 ng-disabled="!isEditable" />
                          <i class="k-icon k-i-file-add font-green-jungle"></i>{{'TRAINING_REQUEST_ADD_USER_FROM_EXCEL' | translate}}
                      </span>
                      <kendo-button class="btn btn-default btn-sm"
                                    ng-click="addItemsUser()"
                                    ng-disabled="!isEditable"
                                    style="margin-left: 5px"
                                    type="button">
                          <i class="k-icon k-i-plus font-green-jungle"></i>{{'TRAINING_REQUEST_ADD_USER' | translate}}
                      </kendo-button>
                      <kendo-button class="btn btn-default btn-sm"
                                    ng-click="addDeparmentUser()"
                                    ng-if="isAcademyUser"
                                    ng-disabled="!isEditable"
                                    style="margin-left: 5px"
                                    type="button">
                          <i class="k-icon k-i-grid-layout font-green-jungle"></i>{{'TRAINING_REQUEST_ADD_USER_FROM_DEPARTMENT' | translate}}
                      </kendo-button>
                      <kendo-button class="btn btn-default btn-sm"
                                    ng-click="removeAll()"
                                    ng-if="isEditable && !(isHODAcademy || isCheckerAcademy)"
                                    style="margin-left: 5px"
                                    type="button">
                          <i class="k-icon k-i-close font-green-jungle"></i>
                          <span>{{'TRAINING_REQUEST_REMOVE_ALL' | translate}}</span>
                      </kendo-button>
                  </span>
              </div>

          </div>

          <div class="row mrt10">
            <div class="col-md-12">
              <kendo-grid
                options="participantsGridOptions"
                id="participantGrid"
                class="participant-grid"
              >
              </kendo-grid>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>-->
<!-- popup add user -->
<!--Add-->
<div id="dialog_Detail"
     kendo-dialog="dialogDetailCode"
     k-on-open="dialogVisible = true"
     style="height: 100% !important"
     k-on-close="dialogVisible = false"
     k-width="890"
     k-modal="true"
     k-visible="false"
     options="dialogDetailOption">
    <div class="row">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8">
            <div class="d-flex" style="width: 400px">
                <input type="text"
                       class="form-control"
                       id="FieldFilter"
                       placeholder="Search for..."
                       style="width: 80%"
                       ng-keypress="ifEnter($event, 'addUser')"
                       ng-model="gridUser.keyword" />
                <span class="input-group-btn ml-2">
                    <button class="btn btn-default btn-sm"
                            type="button"
                            ng-click="searchGridUser(null,'#userGrid')"
                            style="border: 1px solid #dadada; margin-bottom: 10px; height: 34px">
                        <span class="k-icon k-i-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>

    <div class="row mrb10">
        <div class="col-md-12"></div>
    </div>
    <div>
        <div kendo-grid id="userGrid" options="userListGridOptions"></div>
    </div>
    <div class="row mrb10">
        <div class="col-md-12"></div>
    </div>
</div>

<!--Add from department-->
<div id="dialog_Detail_Department"
     kendo-dialog="dialogDetailCodeDepartment"
     k-title="'Add User'"
     k-on-open="dialogVisible = true"
     k-on-close="dialogVisible = false"
     k-width="1080"
     k-modal="true"
     style="height: 100% !important"
     k-visible="false"
     options="dialogDeptOption">
    <div class="row">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-12">
            <div class="portlet-body">
                <div class="page-content-wrapper float-none">
                    <div class="row">
                        <div class="col-md-4 left-content" id="body">
                            <input style="margin-bottom: 10px; margin-top: 10px"
                                   class="w100"
                                   id="departmentId"
                                   kendo-drop-down-tree="widget.department"
                                   k-options="departmentOptions"
                                   ng-model="departmentTreeId" />
                            <div kendo-tree-view="tree"
                                 k-options="treeViewDepartment"
                                 id="treeview"
                                 k-data-source="dataDepartment"
                                 k-on-change="selectedDeparment(dataItem)"
                                 style="height: 300px; overflow-y: auto">
                                <span k-template> {{dataItem.name}} </span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="row" style="margin-left: 10px">
                                <kendo-grid id="userByDeptGrid"
                                            options="userListByDeptGridOptions">
                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mrb10">
            <div class="col-md-12"></div>
        </div>
    </div>
</div>
<!--End-->
