<div class="row mb-3" style="padding-top: 5px;">
    <div class="col-md-12">
        <div style="overflow:hidden;">
            <div class="p-2 mb-2" style="border-left: 5px solid #006efa;">
                <span class="display-8 m-0 fw-bold">{{'TRAINING_REQUEST_REQUESTER_INFORMATION'|translate}}</span>
            </div>

            <div class="p-3">
                <div class="row ">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label text-secondary">
                                {{'TRAINING_REQUEST_REQUESTER_NAME'|translate}}:

                            </label>
                            <div class="row align-items-end mt-3">
                                <div class="col-md-12">
                                    <input type="text"
                                           name=""
                                           class="form-control input-sm"
                                           ng-model="requester.requesterName"
                                           style="width: 100%"
                                           readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label text-secondary">
                                {{'TRAINING_REQUEST_SAP_NUMBER'|translate}}:
                            </label>
                            <div class="row align-items-end mt-3">
                                <div class="col-md-12">
                                    <input type="text"
                                           name=""
                                           class="form-control input-sm"
                                           ng-model="requester.sapNumber"
                                           style="width: 100%"
                                           readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label text-secondary">{{'TRAINING_REQUEST_AFFILITATE'|translate}}:</label>
                            <div class="row align-items-end mt-3">
                                <div class="col-md-12">
                                    <input type="text"
                                           name="Affiliate"
                                           class="form-control input-sm"
                                           ng-model="requester.affiliate"
                                           style="width: 100%"
                                           readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row mb-3">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label text-secondary">{{'COMMON_DEPARTMENT'|translate}}:</label>
                            <div class="row align-items-end mt-3">
                                <div class="col-md-12">
                                    <input type="text"
                                           name=""
                                           class="form-control input-sm"
                                           ng-model="requester.departmentName"
                                           style="width: 100%"
                                           readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label text-secondary">{{'COMMON_POSITION'|translate}}:</label>
                            <div class="row align-items-end mt-3">
                                <div class="col-md-12">
                                    <input type="text"
                                           name=""
                                           class="form-control input-sm"
                                           ng-model="requester.position"
                                           style="width: 100%"
                                           readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="form-label text-secondary">
                                {{'TRAINING_REQUEST_DATE_SUBMISSION'|translate}}:
                            </label>
                            <div class="row align-items-end mt-3">
                                <div class="col">
                                    <input style="width: 100%"
                                           kendo-date-picker
                                           name="Date of Submission"
                                           k-ng-model="requester.dateOfSubmission"
                                           k-date-input="true"
                                           k-format="'dd/MM/yyyy'"
                                           ng-disabled="!isEditable || isCheckerAcademy || isHODAcademy" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!--<div class="portlet box bg-grey bg-font-grey fx-portlet">
    <div class="portlet-title">
        <div class="caption">
            <span class="caption-subject hr-process uppercase f-collapse">{{'TRAINING_REQUEST_REQUESTER_INFORMATION'|translate}}</span>
        </div>
    </div>
</div>

<div class="page-content-wrapper float-none">
    <div class="page-content">
        <div class="form-horizontal">
            <div class="form-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{'TRAINING_REQUEST_REQUESTER_NAME'|translate}}:</label>
                            <div class="col-md-8">
                                <input type="text"
                                       name=""
                                       class="k-textbox form-control input-sm"
                                       ng-model="requester.requesterName"
                                       style="width: 100%"
                                       readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                                {{'TRAINING_REQUEST_SAP_NUMBER'|translate}}:
                            </label>
                            <div class="col-md-8">
                                <input type="text"
                                       name=""
                                       class="k-textbox form-control input-sm"
                                       ng-model="requester.sapNumber"
                                       style="width: 100%"
                                       readonly />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{'TRAINING_REQUEST_AFFILITATE'|translate}}:</label>
                            <div class="col-md-8">
                                <input type="text"
                                       name="Affiliate"
                                       class="k-textbox form-control input-sm"
                                       ng-model="requester.affiliate"
                                       style="width: 100%"
                                       readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{'COMMON_DEPARTMENT'|translate}}:</label>
                            <div class="col-md-8">
                                <input type="text"
                                       name=""
                                       class="k-textbox form-control input-sm"
                                       ng-model="requester.departmentName"
                                       style="width: 100%"
                                       readonly />
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">{{'COMMON_POSITION'|translate}}:</label>
                            <div class="col-md-8">
                                <input type="text"
                                       name=""
                                       class="k-textbox form-control input-sm"
                                       ng-model="requester.position"
                                       style="width: 100%"
                                       readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-4 control-label">
                                {{'TRAINING_REQUEST_DATE_SUBMISSION'|translate}}:
                            </label>
                            <div class="col-md-8">
                                <input style="width: 100%"
                                       kendo-date-picker
                                       name="Date of Submission"
                                       k-ng-model="requester.dateOfSubmission"
                                       k-date-input="true"
                                       k-format="'dd/MM/yyyy'"
                                       ng-disabled="!isEditable || isCheckerAcademy || isHODAcademy" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
