<!-- PDF COMPRESSION -->
<script src="ClientApp/assets/lib/pdf/pako_deflate.min.js"></script>

<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}</span>
                </div>
                <!-- them moi -->
                <div class="form-body" style="margin-top: 5px;">
                    <div class="row">
                        <div class="col-md-1">
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-2 control-label">Department:</label>
                                <div class="col-md-7">
                                    <input id="departmentId" kendo-drop-down-tree k-options="departmentOptions"
                                        k-ng-model="model.departmentId" style="width: 100%;" />

                                    <span ng-if="!model.departmentId"><i>Please specify the root department</i></span>
                                </div>
                                <div class="col-md-3">
                                    <label class="col-md-4 control-label">Level:</label>
                                    <div class="col-md-8">
                                        <input kendo-numeric-text-box k-ng-model="model.maxLvl" k-format="'n0'"
                                            k-min="1" k-max="9" style="width: 100%;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <kendo-button class="btn btn-default btn-sm" ng-disabled="!model.departmentId"
                                ng-click="search()">
                                <i class="k-icon k-i-search font-green-jungle"></i> Search
                            </kendo-button>
                        </div>
                        <div class="col-md-1" style="float:right;">
                            <div class="actions" style="float:right;">
                                <div add-class class="btn-group" current-class="btn-group" added-class="open">
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="true" style="padding: 0px !important"><img
                                            src="ClientApp/assets/images/icon/more.png"
                                            style="position: relative;top: -2px" class="ng-isolate-scope"></button>
                                    <ul class="dropdown-menu pull-right">
                                        <li><a ng-disabled="!model.departmentId" ng-click="export()"><i
                                                    class="fa fa-table font-blue right-5"></i> Export PDF</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end-->
                <!-- <div class="actions">
                    <div add-class class="btn-group" current-class="btn-group" added-class="open">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="true" style="padding: 0px !important"><img
                                src="ClientApp/assets/images/icon/more.png"
                                style="position: relative;top: -2px" class="ng-isolate-scope"></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a ng-disabled="!model.departmentId" ng-click="export()" ><i
                                        class="fa fa-table font-blue right-5"></i> Export PDF</a></li>
                        </ul>
                    </div>
                </div> -->
            </div>
            <div class="portlet-body" style="padding-top: 0px;">
                <!--Search-->
                <!-- <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Department:</label>
                                                <div class="col-md-8">
                                                    <input id="departmentId" kendo-drop-down-tree k-options="departmentOptions" k-ng-model="model.departmentId" style="width: 100%;" />

                                                    <span ng-if="!model.departmentId"><i>Please specify the root department</i></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div class="form-group">
                                                <label class="col-md-4 control-label">Level:</label>
                                                <div class="col-md-8">
                                                    <input kendo-numeric-text-box k-ng-model="model.maxLvl"  k-format="'n0'" k-min="1" k-max="9" style="width: 100%;" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-1">
                                            <kendo-button class="btn btn-default btn-sm" ng-disabled="!model.departmentId" ng-click="search()">
                                                <i class="k-icon k-i-search font-green-jungle"></i> Search
                                            </kendo-button>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div> -->
                <div class="row mt-2">
                    <div class="col-md-12">
                        <div style="overflow:auto; height: 700px;">
                            <div id="orgChartDiagram" kendo-diagram="orgChartDiagram" k-options="orgChartOptions"
                                style="border: 0px !important; height: 100%;"></div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>