<style>
    .infoFlight-pd-5 {
        padding: 5px 0 !important;
    }

    .infoFlight-pd-10 {
        padding: 10px 0 !important;
    }

    .infoFlight-center {
        text-align: center;
    }

    .panel-default > .panel-heading {
        background-color: transparent !important;
    }

    .bor-top-journey {
        border-top: 1px dashed #ebebeb
    }

    .journey-detail-info {
        background-color: #fdedf9;
    }

    .panel-heading {
        border-bottom: unset !important
    }

    .price-passenger {
        color: red;
    }

    .item-journey {
        padding: 20px 0;
    }

    .item-flight {
        padding: 10px 0;
    }

    .icon-journey {
        margin-right: 15px !important;
    }

    .air-desc, .desc-bt {
        font-size: 9px;
        color: #b42e83;
    }

    .text-color {
        color: #b42e83;
    }

    a.text-color:hover {
        color: #b42e83;
    }

    #loading_bta {
        width: 100%;
        height: 100%;
        bottom: 35% !important;
        top: unset !important;
        z-index: 1000;
    }

    .transit-line {
        background-color: #fff
    }

    .mt-pd10 {
        padding: 10px;
    }

    .animated {
        -webkit-animation-duration: 500ms;
        animation-duration: 500ms;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    @-webkit-keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    .fadeInDown {
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    @-webkit-keyframes fadeOutUp {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
        }
    }

    @keyframes fadeOutUp {
        from {
            opacity: 1;
        }

        to {
            opacity: 0;
            -webkit-transform: translate3d(0, -10%, 0);
            transform: translate3d(0, -10%, 0);
        }
    }

    .fadeOutUp {
        -webkit-animation-name: fadeOutUp;
        animation-name: fadeOutUp;
    }

    .baggage-parent {
        position: relative;
        cursor: pointer;
    }

        .baggage-parent .dropdown-menu {
            position: absolute;
            display: none;
            z-index: 1;
            left: 100px;
            top: 15px;
            min-height: 10px;
            min-width: 10px;
            width: 500px;
        }

            .baggage-parent .dropdown-menu .dropdown-header {
                padding: 10px;
                position: relative;
                color: #FFF;
                font-weight: bold;
                border-radius: 10px 10px 0 0;
                -moz-border-image: -moz-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
                -o-border-image: -o-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
                border-image: linear-gradient(to right, white 0%, #cedae0 40%, #cedae0 60%, white 100%) 1 20%;
                box-shadow: 0px 2px 10px -2px #cedae0;
            }

            .baggage-parent .dropdown-menu .dropdown-body {
                max-height: 300px;
                background: #fff;
                overflow-y: auto;
                overflow-x: hidden;
            }

    .text-header-conditions {
        margin-bottom: 0px !important;
    }

    .dropdown-header {
        text-transform: inherit
    }

    .text-title-rule {
        font-weight: 600
    }

    .text-detail-rule a {
        color: #b42e83;
    }

        .text-detail-rule a:hover {
            color: #b42e83;
        }

    a.text-close {
        float: right;
        color: #fff;
        text-decoration: inherit;
    }

        a.text-close:hover {
            color: #fff;
            text-decoration: inherit;
        }

    .pull-left {
        float: left;
        padding-top: 15px;
    }

    .pull-right {
        float: right;
    }

    div.dataTables_paginate {
        float: right;
        margin: 0;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        border-radius: 4px;
    }

        .pagination li.first-page > a, .pagination li.last-page > a, .pagination li.active > a, .pagination li > a:hover {
            background-color: #b42e83 !important;
            color: #fff;
            padding-top: 5px !important;
        }

            .pagination li.active > a:hover {
                background-color: #fff !important;
                color: #b42e83;
                padding-top: 5px !important;
            }

        .pagination li > a {
            background-color: #fff !important;
            color: #b42e83;
            padding-top: 5px !important;
        }

    .caption-subject-way {
        font-size: 16px;
        margin-bottom: 10px;
        color: #b42e83;
    }

    .format-button {
        background-color: transparent !important;
        border-color: transparent !important;
        color: #b60081;
    }

    .portlet.light > .portlet-title > .actions {
        padding: 20px !important;
    }

    .filter-air {
        /*min-width: 12.4em;*/
        width: 100% !important;
        margin-left: 10px;
        margin-right: 10px;
        font-size: 14px;
        float: left;
    }

    .portlet.light.bordered > .portlet-title:last-child {
        border-bottom: none;
    }

    .caption-subject-way-left {
        font-size: 14px;
        color: #b42e83;
        float: left;
        padding-top: 7px;
        padding-left: 15px;
        width: 100%;
    }
    .searchNotFound, .searchChange {
        color: #b42e83;
        font-size: 16px;
    }
</style>

<div id="loading_bta"></div>

<div class="row ng-scope" ng-if="!error.isSuccess" style="padding: 15px 0;margin-bottom:15px">
    <div class="col-sm-12">
        <div class="note note-warning note-bordered" style="margin-bottom: 0px">
            <ul>
                <li>{{error.message}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <div class="caption-subject-way" ng-if="!dateSearch.isReturn">{{'BTA_DEPARTURE_FLIGHT'|translate}}</div>
                    <div class="caption-subject-way" ng-if="dateSearch.isReturn">{{'BTA_RETURN'|translate}}</div>
                    <span class="caption-subject uppercase">
                        {{infoSearchFlight.originCity}}
                    </span>
                    <span class="caption-subject" style="padding:0 20px;"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                    <span class="caption-subject uppercase">
                        {{infoSearchFlight.destinationCity}}
                    </span>
                </div>
                <div class="actions">
                    <button type="button" ng-show="dateSearch.isPreviousDate && dateSearch.flightType === 'Domestic'" ng-click="previousDate()" class="k-button k-primary format-button" tabindex="0"><i class="fa fa-angle-left" aria-hidden="true"></i></button>
                    <span class="caption-subject">
                        {{infoSearchFlight.dateSearch | date:"fullDate"}} - {{infoSearchFlight.numberAdult}} {{'BTA_ADULTS'|translate}}
                    </span>
                    <button type="button" ng-show="dateSearch.isNextDate && dateSearch.flightType === 'Domestic'" ng-click="nextDate()" class="k-button k-primary format-button" tabindex="0"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="portlet-title">
                <div class="row">
                    <div class="col-md-1">
                        <span class="caption-subject-way-left">{{'BTA_AIRLINES'|translate}}</span>
                    </div>
                    <div class="col-md-5">
                        <select kendo-multi-select
                                class="filter-air input-default"
                                id="airlines"
                                name="airlines"
                                k-options="airlinesOptions">
                        </select>
                    </div>
                    <div class="col-md-1" style="padding:0 !important;">
                        <span class="caption-subject-way-left">{{'BTA_STOPS'|translate}}</span>
                    </div>
                    <div class="col-md-5">
                        <select kendo-multi-select
                                class="filter-air input-default"
                                id="stopsId"
                                name="stopsId"
                                k-options="stopsOptions">
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-flight">
    <div id="faq"
         role="tablist"
         aria-multiselectable="true"
         ng-if="dataSearch.groupPricedItineraries !== null && dataSearch.groupPricedItineraries.length > 0"
         ng-repeat="item in dataSearch.groupPricedItineraries">
        <div ng-if="dateSearch.isBooking" class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-1 col-xs-1">
                        <div class="airlineName">
                            <img ng-src="{{item.imgAirLogo}}" alt="airlines" style="height:16px" />
                        </div>
                        <div class="air-desc">
                            <span class="text-color" ng-repeat="itemSegement in item.pricedItineraries[0].originDestinationOptions[0].flightSegments track by $index">
                                {{itemSegement.operatingAirline.code}}{{itemSegement.operatingAirline.flightNumber}}
                                <span ng-if="item.pricedItineraries[0].originDestinationOptions[0].flightSegments.length - 1 > $index"> | </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <div class="flight-time infoFlight-center">
                            <div class="airType" style="margin-top:8px;">
                                {{infoSearchFlight.dateSearch | date:"fullDate"}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6 col-8">
                        <div class="flight-journey" style="flex-direction: row; box-sizing: border-box; display: flex;">
                            <div class="departure infoFlight-pd-5" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%; font-size: 16px; font-weight:700">
                                {{item.pricedItineraries[0].originDestinationOptions[0].originDateTime | date:"shortTime" }} ({{item.originLocationCode}})
                            </div>
                            <div class="journey-symbol infoFlight-pd-10">
                                <img class="ng-tns-c22-12" alt="path" src="ClientApp/assets/images/path.png">
                            </div>
                            <div class="return infoFlight-pd-5" style="place-content: stretch flex-end; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 100%; max-width: 50%;font-size: 16px; font-weight:700">
                                {{item.pricedItineraries[0].originDestinationOptions[0].destinationDateTime | date:"shortTime" }} ({{item.destinationLocationCode}})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3 col-4">
                        <div class="flight-time infoFlight-center">
                            <div class="time">{{item.pricedItineraries[0].originDestinationOptions[0].journeyDuration}}</div>
                            <div class="airType" ng-show="item.pricedItineraries[0].originDestinationOptions[0].flightSegments.length === 1">{{'BTA_DIRECT_FLIGHT'|translate}}</div>
                            <div class="airType" ng-show="item.pricedItineraries[0].originDestinationOptions[0].flightSegments.length > 1">{{item.pricedItineraries[0].originDestinationOptions[0].flightSegments.length - 1}} {{'BTA_TRANSIT_FLIGHT'|translate}}</div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h4 class="panel-title infoFlight-pd-10" ng-class="{active:accordion=='{{item.groupId}}'}">
                            <a href ng-click="setAccordion(item.groupId)">{{'BTA_JOURNEY_DETAIL'|translate}}</a>
                        </h4>
                    </div>
                </div>
            </div>
            <!--Flight Segement-->
            <div id="collapse1" class="collapse in" ng-show="accordion=='{{item.groupId}}'">
                <!--Check data direct fly start-->
                <div class="panel-body journey-detail-info" ng-repeat="segment in item.pricedItineraries[0].originDestinationOptions[0].flightSegments track by $index">
                    <div class="row transit-line" ng-show="segment.stopQuantity > 0">
                        <div class="col-md-12 infoFlight-center mt-pd10">Transit {{segment.stopQuantityInfo.duration}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="journey">
                                <div class="item-journey">
                                    <div class="item-from" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                        <div class="icon-journey">
                                            <svg class="ng-tns-c22-12" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                                                <path class="ng-tns-c22-12"
                                                      d="M8.514 9.096L4.67 2.95l1.646-.45 5.924 5.58 4.484-1.226c.682-.186 1.383.226 1.566.922.182.695-.223 1.41-.905 1.596l-12.76 3.485-.66-2.518.205-.057 2.102 2.125-2.238.612c-.377.103-.775-.07-.965-.418L.833 8.495l1.235-.338 2.102 2.125 4.344-1.187zm-5.521 6.403h13.636v1.738H2.993v-1.738z"
                                                      fill="#00ad40"></path>
                                            </svg>
                                        </div>
                                        <div class="left-it" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
                                            <div class="location-name">
                                                {{segment.departureCity}} <strong>({{segment.departureAirportLocationCode}})</strong>
                                            </div>
                                            <div class="desc-bt">{{segment.departureAirportLocationName}}</div>
                                        </div>
                                        <div class="right-it" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
                                            {{segment.departureDateTime | date:"shortTime"}}, {{segment.departureDateTime | date:"fullDate"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="time-journey"></div>
                                <div class="item-journey">
                                    <div class="item-to" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                        <div class="icon-journey">
                                            <svg class="ng-tns-c22-12"
                                                 height="20"
                                                 viewBox="0 0 20 20"
                                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                                <path class="ng-tns-c22-12"
                                                      d="M8.888 9.148L8.534 2.5l1.849.41 2.688 7.167 5.032 1.118c.495.11.882.43 1.015.841.132.411-.009.85-.371 1.15-.363.3-.891.418-1.386.308L3.039 10.312l.743-2.299.231.052.874 2.657-2.512-.558c-.424-.094-.716-.416-.708-.78L1.753 5.1l1.386.308.874 2.658 4.875 1.083zm-5.982 6.766H18.21V17.5H2.906v-1.586z"
                                                      fill="#00ad40">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="left-it" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
                                            <div class="location-name">
                                                {{segment.arrivalCity}} <strong>({{segment.arrivalAirportLocationCode}})</strong>
                                            </div>
                                            <div class="desc-bt">{{segment.arrivalAirportLocationName}}</div>
                                        </div>
                                        <div class="right-it" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
                                            {{segment.arrivalDateTime | date:"shortTime"}}, {{segment.arrivalDateTime | date:"fullDate"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="list-dt">
                                <div class="item-flight" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                    <div class="label-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%;">{{'BTA_AIRLINES'|translate}}</div>
                                    <div class="value-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">{{segment.operatingAirline.name}}</div>
                                </div>
                                <div class="item-flight" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                    <div class="label-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%;">{{'BTA_FLIGHT'|translate}}</div>
                                    <div class="value-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">{{segment.marketingAirlineCode}} {{segment.flightNumber}}</div>
                                </div>
                                <div class="item-flight" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                    <div class="label-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%;">{{'BTA_AIR_CRAFT'|translate}}</div>
                                    <div class="value-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">{{segment.aircraft}}</div>
                                </div>
                                <div class="item-flight" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                    <div class="label-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%;">{{'BTA_TRANSIT_FLIGHT'|translate}}</div>
                                    <div ng-if="(item.pricedItineraries[0].originDestinationOptions[0].flightSegments.length - 1) === 0" class="value-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">{{'BTA_DIRECT_FLIGHT'|translate}}</div>
                                    <div ng-if="(item.pricedItineraries[0].originDestinationOptions[0].flightSegments.length - 1) > 0" class="value-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">{{item.pricedItineraries[0].originDestinationOptions[0].flightSegments.length - 1}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Check data direct fly end-->
            </div>
            <!--End Flight Segement-->
            <div class="panel-heading bor-top-journey" ng-repeat="farePrice in item.pricedItineraries">
                <div class="row">
                    <div class="col-md-3 col-xs-3 col-4">
                        <label class="col-md-12 infoFlight-pd-5" ng-if="farePrice.cabinClassName === 'ECONOMY'">{{'BTA_ECONOMY'|translate}}</label>
                        <label class="col-md-12 infoFlight-pd-5" ng-if="farePrice.cabinClassName === 'BUSINESS'">{{'BTA_BUSINESS'|translate}}</label>
                        <label class="col-md-12 infoFlight-pd-5" ng-if="farePrice.cabinClassName === 'PREMIUM'">{{'BTA_PREMIUM'|translate}}</label>
                    </div>
                    <div class="col-md-4 col-xs-6 col-8 baggage-parent">
                        <div class="baggage infoFlight-center infoFlight-pd-5">
                            <a class="text-color" ng-click="showFareRule($event,farePrice.airItineraryPricingInfo.fareSourceCode,item.groupId)">{{'BTA_FARE_RULE'|translate}}</a>
                        </div>
                        <div class="dropdown-menu animated" id="notification-dropdown">
                            <div class="dropdown-header">
                                <label class="text-header-conditions">{{'BTA_FARE_RULE'|translate}}</label>
                                <a class="text-close" ng-click="showFareRule($event,farePrice.airItineraryPricingInfo.fareSourceCode,item.groupId)">X</a>
                            </div>
                            <div class="dropdown-body mt-pd10"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3 col-4">
                        <label class="col-md-12 infoFlight-pd-5 price-passenger infoFlight-center" style="color: #b42e83">
                            {{farePrice.airItineraryPricingInfo.adultFare.passengerFare.totalFare.amount | number}}
                            VND/{{infoSearchFlight.numberAdult}} {{'BTA_ADULTS'|translate}}
                        </label>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-sm btn-primary btn-add-user" ng-click="selectTicket(farePrice.sequenceNumber,item.groupId)" style="background-color: #b42e83;padding-top:5px !important;line-height:0.8!important;">{{'BTA_CHOICE'|translate}}</a>
                    </div>
                </div>
            </div>
        </div>

        <!--Only user for International-->
        <div ng-if="!dateSearch.isBooking" class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-1 col-xs-1">
                        <div class="airlineName">
                            <img ng-src="{{item.imgAirLogo}}" alt="airlines" style="height:16px" />
                        </div>
                        <div class="air-desc">
                            <span ng-repeat="itemSegement in item.pricedItineraries[0].originDestinationOptions[1].flightSegments track by $index">
                                {{itemSegement.operatingAirline.code}}{{itemSegement.operatingAirline.flightNumber}}
                                <span ng-if="item.pricedItineraries[0].originDestinationOptions[1].flightSegments.length - 1 > $index"> | </span>
                            </span>
                        </div>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <div class="flight-time infoFlight-center">
                            <div class="airType" style="margin-top:8px;">
                                {{infoSearchFlight.dateSearch | date:"fullDate"}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-6 col-8">
                        <div class="flight-journey" style="flex-direction: row; box-sizing: border-box; display: flex;">
                            <div class="departure infoFlight-pd-5" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%; font-size: 16px; font-weight:700">
                                {{item.pricedItineraries[0].originDestinationOptions[1].originDateTime | date:"shortTime" }} ({{item.pricedItineraries[0].originDestinationOptions[1].originLocationCode}})
                            </div>
                            <div class="journey-symbol infoFlight-pd-10">
                                <img class="ng-tns-c22-12" alt="path" src="ClientApp/assets/images/path.png">
                            </div>
                            <div class="return infoFlight-pd-5" style="place-content: stretch flex-end; align-items: stretch; flex-direction: row; box-sizing: border-box; display: flex; flex: 1 1 100%; max-width: 50%;font-size: 16px; font-weight:700">
                                {{item.pricedItineraries[0].originDestinationOptions[1].destinationDateTime | date:"shortTime" }} ({{item.pricedItineraries[0].originDestinationOptions[1].destinationLocationCode}})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3 col-4">
                        <div class="flight-time infoFlight-center">
                            <div class="time">{{item.pricedItineraries[0].originDestinationOptions[1].journeyDuration}}</div>
                            <div class="airType" ng-show="item.pricedItineraries[0].originDestinationOptions[1].flightSegments.length === 1">{{'BTA_DIRECT_FLIGHT'|translate}}</div>
                            <div class="airType" ng-show="item.pricedItineraries[0].originDestinationOptions[1].flightSegments.length > 1">{{item.pricedItineraries[0].originDestinationOptions[1].flightSegments.length - 1}} {{'BTA_TRANSIT_FLIGHT'|translate}}</div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <h4 class="panel-title infoFlight-pd-10" ng-class="{active:accordion=='{{item.groupId}}'}">
                            <a href ng-click="setAccordion(item.groupId)">{{'BTA_JOURNEY_DETAIL'|translate}}</a>
                        </h4>
                    </div>
                </div>
            </div>
            <!--Start Flight Segement-->
            <div id="collapse1" class="collapse in" ng-show="accordion=='{{item.groupId}}'">
                <div class="panel-body journey-detail-info" ng-repeat="segment in item.pricedItineraries[0].originDestinationOptions[1].flightSegments track by $index">
                    <div class="row transit-line" ng-show="segment.stopQuantity > 0">
                        <div class="col-md-12 infoFlight-center mt-pd10">Transit {{segment.stopQuantityInfo.duration}}</div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="journey">
                                <div class="item-journey">
                                    <div class="item-from" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                        <div class="icon-journey">
                                            <svg class="ng-tns-c22-12" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
                                                <path class="ng-tns-c22-12"
                                                      d="M8.514 9.096L4.67 2.95l1.646-.45 5.924 5.58 4.484-1.226c.682-.186 1.383.226 1.566.922.182.695-.223 1.41-.905 1.596l-12.76 3.485-.66-2.518.205-.057 2.102 2.125-2.238.612c-.377.103-.775-.07-.965-.418L.833 8.495l1.235-.338 2.102 2.125 4.344-1.187zm-5.521 6.403h13.636v1.738H2.993v-1.738z"
                                                      fill="#00ad40"></path>
                                            </svg>
                                        </div>
                                        <div class="left-it" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
                                            <div class="location-name">
                                                {{segment.departureCity}} <strong>({{segment.departureAirportLocationCode}})</strong>
                                            </div>
                                            <div class="desc-bt">{{segment.departureAirportLocationName}}</div>
                                        </div>
                                        <div class="right-it" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
                                            {{segment.departureDateTime | date:"shortTime"}}, {{segment.departureDateTime | date:"fullDate"}}
                                        </div>
                                    </div>
                                </div>
                                <div class="time-journey"></div>
                                <div class="item-journey">
                                    <div class="item-to" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                        <div class="icon-journey">
                                            <svg class="ng-tns-c22-12"
                                                 height="20"
                                                 viewBox="0 0 20 20"
                                                 width="20" xmlns="http://www.w3.org/2000/svg">
                                                <path class="ng-tns-c22-12"
                                                      d="M8.888 9.148L8.534 2.5l1.849.41 2.688 7.167 5.032 1.118c.495.11.882.43 1.015.841.132.411-.009.85-.371 1.15-.363.3-.891.418-1.386.308L3.039 10.312l.743-2.299.231.052.874 2.657-2.512-.558c-.424-.094-.716-.416-.708-.78L1.753 5.1l1.386.308.874 2.658 4.875 1.083zm-5.982 6.766H18.21V17.5H2.906v-1.586z"
                                                      fill="#00ad40">
                                                </path>
                                            </svg>
                                        </div>
                                        <div class="left-it" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
                                            <div class="location-name">
                                                {{segment.arrivalCity}} <strong>({{segment.arrivalAirportLocationCode}})</strong>
                                            </div>
                                            <div class="desc-bt">{{segment.arrivalAirportLocationName}}</div>
                                        </div>
                                        <div class="right-it" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
                                            {{segment.arrivalDateTime | date:"shortTime"}}, {{segment.arrivalDateTime | date:"fullDate"}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="list-dt">
                                <div class="item-flight" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                    <div class="label-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%;">{{'BTA_AIRLINES'|translate}}</div>
                                    <div class="value-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">{{segment.operatingAirline.name}}</div>
                                </div>
                                <div class="item-flight" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                    <div class="label-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%;">{{'BTA_FLIGHT'|translate}}</div>
                                    <div class="value-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">{{segment.marketingAirlineCode}} {{segment.flightNumber}}</div>
                                </div>
                                <div class="item-flight" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                    <div class="label-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%;">{{'BTA_AIR_CRAFT'|translate}}</div>
                                    <div class="value-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">{{segment.aircraft}}</div>
                                </div>
                                <div class="item-flight" style="flex-direction: row; box-sizing: border-box; display: flex;">
                                    <div class="label-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 40%;">{{'BTA_TRANSIT_FLIGHT'|translate}}</div>
                                    <div ng-if="(price.originDestinationOptions[0].flightSegments.length - 1) === 0" class="value-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">{{'BTA_DIRECT_FLIGHT'|translate}}</div>
                                    <div ng-if="(price.originDestinationOptions[0].flightSegments.length - 1) > 0" class="value-right" style="flex: 1 1 100%; box-sizing: border-box; max-width: 60%;">{{price.originDestinationOptions[0].flightSegments.length - 1}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Flight Segement-->
            <div class="panel-heading bor-top-journey" ng-repeat="farePrice in item.pricedItineraries">
                <div class="row">
                    <div class="col-md-3 col-xs-3 col-4">
                        <label class="col-md-12 infoFlight-pd-5" ng-if="farePrice.cabinClassName === 'ECONOMY'">{{'BTA_ECONOMY'|translate}}</label>
                        <label class="col-md-12 infoFlight-pd-5" ng-if="farePrice.cabinClassName === 'BUSINESS'">{{'BTA_BUSINESS'|translate}}</label>
                        <label class="col-md-12 infoFlight-pd-5" ng-if="farePrice.cabinClassName === 'PREMIUM'">{{'BTA_PREMIUM'|translate}}</label>
                    </div>
                    <div class="col-md-4 col-xs-6 col-8 baggage-parent">
                        <div class="baggage infoFlight-center infoFlight-pd-5">
                            <a class="text-color" ng-click="showFareRule($event,farePrice.airItineraryPricingInfo.fareSourceCode,item.groupId)">{{'BTA_FARE_RULE'|translate}}</a>
                        </div>
                        <div class="dropdown-menu animated" id="notification-dropdown">
                            <div class="dropdown-header">
                                <label class="text-header-conditions">{{'BTA_FARE_RULE'|translate}}</label>
                                <a class="text-close" ng-click="showFareRule($event,farePrice.airItineraryPricingInfo.fareSourceCode,item.groupId)">X</a>
                            </div>
                            <div class="dropdown-body mt-pd10"></div>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-3 col-4">
                        <label class="col-md-12 infoFlight-pd-5 price-passenger infoFlight-center" style="color: #b42e83">
                            {{farePrice.airItineraryPricingInfo.adultFare.passengerFare.totalFare.amount - selectFlight.directFlight.pricedItineraries.airItineraryPricingInfo.adultFare.passengerFare.totalFare.amount | number}}
                            VND/{{infoSearchFlight.numberAdult}} {{'BTA_ADULTS'|translate}}
                        </label>
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-sm btn-primary btn-add-user" ng-click="selectTicket(farePrice.sequenceNumber,item.groupId)" style="background-color: #b42e83; padding-top: 5px !important; line-height: 0.8 !important;">{{'BTA_CHOICE'|translate}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="faq" role="tablist" aria-multiselectable="true" ng-if="dateSearch.isSearch === true && (dataSearch.groupPricedItineraries === null || dataSearch.groupPricedItineraries.length === 0)">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-12 infoFlight-center">
                        <p class="searchNotFound">{{'BTA_SEARCH_NOTFOUND'|translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="dateSearch.isSearch === true && dataSearch.groupPricedItineraries !== null && dataSearch.groupPricedItineraries.length > 0">
    <div class="col-sm-12">
        <div class="pull-left">
            <!--<div class="actions" ng-if="dataSearch.pagingInfo.totalPage > 1">{{'BTA_SHOWING_PAGE'|translate}} {{((dataSearch.pagingInfo.pageNumber * dataSearch.pagingInfo.offset) + 1)}} {{'BTA_TO_PAGE'|translate}} {{(dataSearch.pagingInfo.pageNumber + 1) * dataSearch.pagingInfo.offset}} {{'BTA_OF_PAGE'|translate}} {{dataSearch.pagingInfo.totalElements}} {{'BTA_ENTRIES_PAGE'|translate}}</div>
            <div class="actions" ng-if="dataSearch.pagingInfo.totalPage === 1">{{'BTA_SHOWING_PAGE'|translate}} {{((dataSearch.pagingInfo.pageNumber * dataSearch.pagingInfo.offset) + 1)}} {{'BTA_TO_PAGE'|translate}} {{dataSearch.pagingInfo.totalElements}} {{'BTA_OF_PAGE'|translate}} {{dataSearch.pagingInfo.totalElements}} {{'BTA_ENTRIES_PAGE'|translate}}</div>-->
        </div>
        <div class="pull-right" ng-show="dataSearch.pagingInfo.totalPage > 1">
            <div class="paginate">
                <ul class="pagination">
                    <li class="first-page">
                        <a class="btn btn-sm btn-primary btn-add-user" ng-click="pagingFlight(0);">{{'BTA_PAGING_FIRST'|translate}}</a>
                    </li>
                    <li ng-class="dataSearch.pagingInfo.pageNumber == $index ? 'active' : ''" ng-repeat="x in [].constructor(dataSearch.pagingInfo.totalPage) track by $index">
                        <a class="btn btn-sm btn-primary btn-add-user" ng-click="pagingFlight($index);">{{$index + 1}}</a>
                    </li>
                    <li class="last-page">
                        <a class="btn btn-sm btn-primary btn-add-user" ng-click="pagingFlight((dataSearch.pagingInfo.totalPage - 1));">{{'BTA_PAGING_LAST'|translate}}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
