<style>
    label {
        font-size: 12px;
    }

    input[type="text"]:disabled {
        color: #bdbdbd;
        border-color: #ececec;
        background: white;
    }

    #userGridReview .k-auto-scrollable {
        max-height: 300px;
        min-height: 0px;
    }

    #userGrid .k-auto-scrollable {
        max-height: 300px;
        min-height: 0px;
    }

    #userGrid .k-loading-image {
        background-image: none !important;
    }

    #userGrid .k-loading-color {
        opacity: 0;
    }

    .k-grid-content-locked {
        overflow: hidden;
        min-height: 50px !important;
    }


    /*.k-grid-content-locked {
        float: right;
        text-align: center;
    }

    .k-grid-header-locked {
        float: right;
        text-align: center;
    }*/

    /*.k-grid-header-locked table thead tr .k-header {
        text-align: center;
    }*/

    .k-grid-content {
        min-height: 0px !important;
        max-height: 500px !important;
    }

    #headerRoom {
        background-color: #E5E5E5;
        margin-right: 0px !important;
        margin-left: 0px;
    }

    #textHeader {
        color: #333;
        font-weight: bold !important;
        text-transform: uppercase;
    }

    .k-list-scroller {
        overflow-y: scroll;
    }

    #loading_bta {
        width: 100%;
        height: 100%;
        bottom: 35% !important;
        top: unset !important;
        z-index: 1000;
    }

    #dialog_Detail .k-auto-scrollable {
        max-height: 300px !important;
        min-height: 0px !important;
        overflow-y: auto !important;
    }

    #dialog_Detail_Review .k-auto-scrollable {
        max-height: 300px !important;
        min-height: 0px !important;
    }

    .rOverBudget {
        background-color: #F9F1C7 !important;
    }

    .cOverBudgetNumber {
        color: #b42e83;
        font-size: 0.9em !important;
    }

    #attachmentViewDialog {
        min-height: 40vh !important;
        height: 96vh !important;
    }

    .close-owa-dialog {
        margin: 5px;
    }
</style>
<div class="row">
    <div id="loading_bta"></div>
    <div class="col-md-12">
        <div class="portlet bordered light" style="padding-bottom: 50px !important;">

            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">
                        {{title}}
                    </span>
                </div>
                <div class="actions">
                    <kendo-button class="btn btn-default btn-sm" ng-click="printForm()"
                                  ng-if="model.status == 'Completed' || model.status == 'Completed Changing'">
                        <i style="font-size: 12px; padding-right: 3px;" class="fa fa-file-pdf-o font-green-jungle"></i>
                        {{'COMMON_BUTTON_PRINT'|translate}}
                    </kendo-button>
                    <action-items model="model" save="save" form="btaForm" set-room="setRooms"></action-items>
                    <div add-class class="btn-group" current-class="btn-group" added-class="open">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="true" style="padding: 0px !important">
                            <img src="ClientApp/assets/images/icon/more.png" style="position: relative;top: -2px"
                                 class="ng-isolate-scope">
                        </button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a data-toggle="modal" class="ng-binding" ng-click="showProcessingStages()">
                                    <i class="fa fa-recycle right-5" style="color: #b42e83"></i>
                                    {{'COMMON_PROCESSING_STAGE' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="portlet-body">
                <!-- FORM1 -->
                <div class="row ng-scope" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <workflow-comment></workflow-comment>
                    </div>
                </div>

                <div class="row ng-scope" ng-if="resignationInProgress" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-warning note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">{{'COMMON_WARNING'|translate}}:</h5>
                            <p></p>
                            <ul>
                                {{warning}}
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row ng-scope" ng-if="bookingDateTripWeekes && warningWeekBooking.length > 0 && (model.type == 2 || model.type == 3)" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-warning note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">{{'COMMON_WARNING'|translate}}:</h5>
                            <p></p>
                            <ul>
                                <li ng-repeat="warning in warningWeekBooking track by $index">
                                    {{warning.message}}
                                </li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row ng-scope" ng-if="errors.length > 0" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">
                                {{'COMMON_ENTER_FIELD' | translate}} <span class="font-red-thunderbird">*</span>:
                            </h5>
                            <p></p>
                            <ul>
                                <li ng-repeat="error in errors track by $index">
                                    <span class="bold ">{{error.controlName}}</span>{{error.message  ?error.message: ''}}
                                </li>
                                <br />
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row ng-scope" ng-if="errorChangings.length > 0" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">
                                {{'COMMON_ENTER_FIELD' | translate}}
                                <span class="font-red-thunderbird">*</span>:
                            </h5>
                            <p></p>
                            <ul>
                                <li ng-repeat="error in errorChangings" style="margin-left: 1em;">
                                    <span class="bold">{{error.controlName}}</span>
                                    <zt ng-if="!error.isRule">
                                        : {{error.errorDetail}}
                                    </zt>
                                    <span ng-if="error.isRule">
                                        {{error.errorDetail}}
                                    </span>
                                </li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="page-content-wrapper float-none">
                    <form name="btaForm">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="row align-middle" style="flex-wrap: wrap;">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{'COMMON_DEPT_LINE'|translate}}:</label>
                                            <div class="col-md-8 ">
                                                <select kendo-drop-down-list name="dept_line_name" id="dept_line_id"
                                                        k-options="deptLineOptions" k-ng-model="model.deptLineId"
                                                        class="w100">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{'COMMON_DIVISION_GROUP'|translate}}:</label>
                                            <div class="col-md-8 ">
                                                <input kendo-drop-down-tree="divisionTree" class="w100"
                                                       k-on-change="onChangeDivision(model.deptDivisionId)"
                                                       k-options="divisionOptions" k-ng-model="model.deptDivisionId"
                                                       id="division_id" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{'COMMON_TYPE'|translate}}:<span class="font-red-thunderbird">*</span></label>
                                            <div class="col-md-8 ">
                                                <select kendo-drop-down-list style="width: 100%;"
                                                        ng-class="{'k-state-disabled': allowDisabledBTAType()}"
                                                        ng-model="model.type"
                                                        k-data-text-field="'name'"
                                                        k-data-value-field="'value'"
                                                        k-data-source="businessTypeOption"
                                                        ng-disabled="allowDisabledBTAType()"
                                                        class="w100">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{'COMMON_TICKETTYPE'|translate}}:<span class="font-red-thunderbird">*</span></label>
                                            <div class="col-md-2">
                                                <select kendo-drop-down-list style="width: 100%;"
                                                        ng-model="model.dataRoundTrip"
                                                        k-data-text-field="'name'"
                                                        k-data-value-field="'value'"
                                                        k-data-source="roundTripOption"
                                                        ng-change="changeRoundTrip()"
                                                        class="w100">
                                                </select>
                                                <!--<input type="checkbox" id="isGroundTrip" ng-model="model.isRoundTrip" class="k-checkbox" />
                                                <label class="k-checkbox-label" for="isGroundTrip"></label>-->
                                            </div>
                                            <label class="col-md-2 control-label">{{'COMMON_STATUS'|translate}}:</label>
                                            <div class="col-md-6">
                                                <input type="text" class="form-control input-default" id='statusTicket' style="width: 100%;"
                                                       ng-model="model.status" ng-disabled="true" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mrb10">
                                    <div class="col-md-12">
                                        <!--<span class="input-group-btn">
                                            <a class="btn btn-sm btn-primary btn-add-user" id="create" ng-if="perm"
                                               style="background-color: #b42e83"
                                               ng-click="addItemsUser(employeesDataSource)">
                                                {{'ADD_USER_TITLE_DIALOG'| translate}}
                                            </a>
                                        </span>
                                        <span class="input-group-btn" id="viewBookingFlights">
                                        </span>-->
                                        <span>
                                            <a class="btn btn-sm btn-primary btn-add-user" id="create" ng-if="perm && model.type != ''"
                                               style="background-color: #b42e83"
                                               ng-click="addItemsUser(employeesDataSource)">
                                                {{'ADD_USER_TITLE_DIALOG'| translate}}
                                            </a>
                                        </span>
                                        <span id="viewBookingFlights">
                                        </span>
                                    </div>
                                </div>

                                <div class="row mrt10">
                                    <div class="col-md-12">
                                        <kendo-grid id="btaListDetailGrid" options="btaListDetailGridOptions">
                                        </kendo-grid>
                                    </div>
                                </div>



                                <div class="row" style="margin-top: 40px;">

                                    <!-- <div class="col-md-12">
                                        <div class="form-group control-label">
                                            <input type="checkbox" id="argree_id" ng-model="model.isAgree"
                                                class="k-checkbox">
                                            <label class="k-checkbox-label" for="argree_id">
                                                <p style="font-style: italic;">
                                                    Tôi cam kết tuân thủ các quy định về thời gian và địa điểm đến xe.
                                                    Nếu có thay đổi, tôi sẽ thông báo cho phòng Nhân sự và Hành chính
                                                    trước ngày 20 hàng tháng.
                                                    <br />(I commit to comply with rules on time and bus stop. If there
                                                    is any change, I will inform HR & Admin Department before the 20th
                                                    day of each month.)
                                                </p>
                                            </label>
                                        </div>
                                    </div> -->
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-md-4 control-label">{{'ATTACHMENT_DETAIL'| translate}}:</label>
                                                    <div class="col-md-8">
                                                        <input name="files" id="attachmentDetail" type="file" kendo-upload
                                                               k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: false }"
                                                               k-select="onSelect" k-remove="removeAttach"
                                                               class="input-default" />
                                                    </div>
                                                    <label class="col-md-4 control-label"
                                                           ng-if="oldAttachmentDetails && oldAttachmentDetails.length"></label>
                                                    <div class="col-md-8" style="margin-top: 10px; padding-left: 30px;"
                                                         ng-if="oldAttachmentDetails && oldAttachmentDetails.length">
                                                        <p><b>{{'UPLOADED_FILE_LIST'| translate}}</b></p>
                                                        <ol>
                                                            <li ng-repeat="doc in oldAttachmentDetails">
                                                                <span>
                                                                    <a ng-click="downloadAttachment(doc.id)">{{doc.fileDisplayName}}</a>
                                                                </span>
                                                                <span ng-click="viewFileOnline(doc.id)" class="viewAttachmentDetail"
                                                                      style="color: #5b9bd1; cursor: pointer;">
                                                                    |
                                                                    {{'COMMON_BUTTON_VIEW'| translate}}
                                                                </span>
                                                                <span ng-click="removeOldAttachment(doc)" class="deleteattachmentDetail"
                                                                      style="color: #5b9bd1; cursor: pointer;">
                                                                    |
                                                                    {{'COMMON_BUTTON_DELETE'| translate}}
                                                                </span>
                                                            </li>
                                                        </ol>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-group">
                                                    <div class="col-md-2">
                                                        <label class="control-label">
                                                            {{'COMMON_REQUESTOR_NOTE'|translate}}:<span class="font-red-thunderbird">*</span>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <textarea style="border-color: #8f8f8f; height: 80px;"
                                                                  ng-model="model.requestorNote" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row form-group">
                                                    <div class="col-md-2">
                                                        <input type="checkbox" id="carRental_id" ng-model="isChecked"
                                                               class="k-checkbox">
                                                        <label class="k-checkbox-label control-label" for="carRental_id"
                                                               style="padding-top: 2px !important;">
                                                            {{'CAR_RENTAL'|translate}}:
                                                        </label>
                                                    </div>
                                                    <div class="col-md-10">
                                                        <textarea ng-show="isChecked" style="border-color: #8f8f8f; height: 80px;"
                                                                  ng-model="model.carRental" class="form-control"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- <div class="row form-group">
                                        <div class="col-md-2">
                                            <label class="control-label">{{'COMMON_REQUESTOR_NOTE'|translate}}:</label>
                                        </div>
                                        <div class="col-md-4">
                                            <textarea ng-readonly="model.id" ng-model="model.requestorNote"
                                                class="form-control"></textarea>
                                        </div>
                                    </div> -->
                                    <!-- <div class="row form-group">
                                        <div class="col-md-2">
                                            <input type="checkbox" id="carRental_id"
                                                ng-model="isChecked" class="k-checkbox">
                                            <label class="k-checkbox-label control-label"
                                                for="carRental_id" style="padding-top: 2px !important;">
                                                Car Rental:
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <textarea ng-show="isChecked || model.id" ng-readonly="model.id"
                                                ng-model="model.carRental" class="form-control"></textarea>
                                        </div>
                                    </div> -->
                                    <div class="col-md-12">
                                        <p><b>{{'COMMON_NOTE'|translate}}: </b><span>*</span></p>
                                        <p>
                                            - <b>Gửi thông tin Lệnh điều động công tác cho Phòng Hành Chính ít nhất 10 ngày trước ngày khởi hành. Tính từ thời điểm General Manager duyệt đơn BTA.</b> <br />
                                            <i>Send BTA form to Admin Department at least before 10 days since the time General Manager approves the BTA form.</i>
                                        </p>
                                        <p>
                                            - <b>
                                                Nhân viên Hành Chính chỉ xuất vé và đặt khách sạn khi nhận được BTA với
                                                đầy đủ chữ ký của Senior GM/ GM.
                                            </b> <br />
                                            <i>
                                                Admin Staff only process of booking air ticket, hotel on receiving BTA
                                                form with signature of Senior General Manager/ General Manager.
                                        </p>
                                        </i>
                                        <p>
                                            - <b>
                                                Trường hợp thay đổi, hủy lịch công tác với lý do cá nhân: cá nhân sẽ
                                                chịu chi phí phát sinh.
                                            </b><br />
                                            <i>
                                                In case of changing, cancelling business trip due to private matter:
                                                Staff shall pay directly this extra amount to related supplier
                                                accordingly.
                                            </i>
                                        </p>
                                        <p>
                                            - <b>
                                                Trường hợp các vé thuộc loại không huỷ được, Phí huỷ vé (Cancellation fee) sẽ bằng với giá trị của vé.
                                            </b><br />
                                            <i>
                                                In case the tickets cannot be canceled, the Cancellation fee will be equal to the value of the ticket.
                                            </i>
                                        </p>
                                    </div>
                                </div>
                                <!-- From 3 -->
                                <div ng-class="{'disable-div': disableChangeOrCancel}" ng-if="model.roomOrganizations">
                                    <div class="title_panel caption caption-md">
                                        <span class="caption-subject uppercase">
                                            {{'ROOM_ORGANIZATION'|translate}}
                                        </span>
                                    </div>
                                    <div class="row mrt10">
                                        <div class="col-md-12">
                                            <kendo-grid id="roomViewGrid" options="roomViewOptions">
                                            </kendo-grid>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row" style="margin-top: 40px; padding-left: 10px;">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div style="font-weight: bold;">Ghi chú/Note</div>
                                            <div>1. Gửi thông tin Lệnh điều động công tác cho Hành Chính ít nhất 7 ngày
                                                trước ngày khởi hành/ Send BTA form to Admin Department at least before
                                                7 days since departure date</div>
                                            <div>2. Nhân viên hành chính chỉ xuất vé và đặt khách sạn khi nhận được BTA
                                                với đầy đủ chữ ký của Senior GM/ GM/ Admin Staff only process of booking
                                                air ticket, hotel on receiving BTA form with signature of Senior General
                                                Manager/ General Manager</div>
                                            <div>3. Trường hợp thay đổi, hủy lịch công tác với lý do cá nhân: cá nhân sẽ
                                                chịu chi phí phát sinh/ In case of changing, cancelling business trip
                                                due to private matter. Staff shall pay directly this extra amount to
                                                related supplier accordingly. </div>
                                        </div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </form>
                </div>
                <!-- FORM 2 -->
                <div ng-class="{'disable-div': disableChangeOrCancel}">
                    <div class="title_panel caption caption-md">
                        <span class="caption-subject uppercase">
                            {{'BTA_CHANGING_CACELLING_BUSNESS_TRIP'|translate}}
                        </span>
                    </div>
                    <div class="row mrt10">
                        <div class="col-md-12">
                            <kendo-grid id="btaListChangeOrCancelGrid" options="btaListChangeOrCancelGridOptions">
                            </kendo-grid>
                        </div>
                    </div>

                    <div class="row mrb10" ng-if="model.status == 'Completed' || forceChangeBusinessTrip">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <span class="input-group-btn">
                                <button class="btn btn-sm btn-primary btn-add-user" id="addMore"
                                        style="background-color: #b42e83" ng-click="addMore()">
                                    {{'COMMON_BUTTON_ADD_MORE'| translate}}
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- From 4 -->
                <div class="mrt10"></div>
                <div ng-class="{'disable-div': disableChangeOrCancel}" ng-if="model.changedRoomOrganizations.length">
                    <div class="title_panel caption caption-md">
                        <span class="caption-subject uppercase">
                            {{'CHANGE_ROOM_ORGANIZATION'| translate}}
                        </span>
                    </div>
                    <div class="row mrt10">
                        <div class="col-md-12">
                            <kendo-grid id="changeRoomViewGrid" options="changeRoomViewOptions">
                            </kendo-grid>
                        </div>
                    </div>
                </div>
                <div class="form-body" style="margin-top: 20px;">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="col-md-4 control-label"
                                       style="padding-left: 0 !important;">{{'ATTACHMENT_CHANGING'| translate}}:</label>
                                <div class="col-md-8">
                                    <input name="files" id="attachmentChanging" type="file"
                                           style="padding-left: 0 !important;" kendo-upload
                                           k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: false }"
                                           k-select="onSelectChange" k-remove="removeAttachChange" disabled="disabled"
                                           class="input-default" />
                                </div>
                                <label class="col-md-4 control-label"
                                       ng-if="oldAttachmentChanges && oldAttachmentChanges.length"></label>
                                <div class="col-md-8" style="margin-top: 10px; padding-left: 30px;"
                                     ng-if="oldAttachmentChanges && oldAttachmentChanges.length">
                                    <p><b>{{'UPLOADED_FILE_LIST'| translate}}</b></p>
                                    <ol>
                                        <li ng-repeat="doc in oldAttachmentChanges">
                                            <a ng-click="downloadAttachmentChange(doc.id)">{{doc.fileDisplayName}}</a>
                                            <span ng-click="removeOldAttachmentChange(doc)" class="deleteattachmentChanging"
                                                  style="color: #5b9bd1; cursor: pointer;">
                                                |
                                                {{'COMMON_BUTTON_DELETE'| translate}}
                                            </span>
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="portlet-title">
                <div class="actions">
                    <action-items model="model" save="save" form="g1" set-room="setRooms"></action-items>
                </div>
            </div>

        </div>
    </div>
</div>
<processing-stage workflow-instances="workflowInstances" model="model"></processing-stage>

<!-- View File Online -->
<div id="attachmentViewDialog" style="height: 100% !important; display: none;" k-modal="true" k-visible="false">
    <iframe id="attachment_owa" style="width:100%;height:97%;padding:0px!important;"></iframe>
    <button class="btn btn-default btn-sm k-button pull-right close-owa-dialog" ng-click="owaClose()"><i class="k-icon k-i-close font-green-jungle"></i> Close</button>
</div>


<!-- popup add user -->
<!--Add-->
<div id="dialog_Detail" kendo-dialog="dialogDetailCode" k-on-open="dialogVisible = true"
     style="height: 100% !important;" k-on-close="dialogVisible = false" k-width="950" k-modal="true" k-visible="false"
     options="dialogDetailOption">
    <div class="row">
        <label class="col-md-3 control-label"></label>
        <div class="col-md-8 ">
            <div class="input-group" style="width: 400px">
                <input type="text" class="form-control" id='FieldFilter' placeholder="Search for..."
                       style="width: 100%; " ng-keypress="ifEnter($event, 'addUser')" ng-model="gridUser.keyword">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button" ng-click="searchGridUser()" style="border: 1px solid #dadada;
                    margin-bottom: 10px;height: 34px;">
                        <span class="k-icon k-i-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>


    <div class="row mrb10">
        <div class="col-md-12">
        </div>
    </div>

    <div>
        <div kendo-grid id="userGrid" style="width:900px;" options="userListGridOptions">
        </div>
    </div>

</div>
<!--Review -->
<div id="dialog_Detail_Review" kendo-dialog="dialogDetailCodeReview" k-on-open="dialogVisible = true"
     style="height: 100% " k-on-close="closeReviewDialog(false)" k-width="950" k-modal="true" k-visible="false"
     options="dialogDetailReviewOption">
    <!-- row 1 -->
    <div class="row">
        <div class="col-md-12" style="padding-right: 30px;">
            <div class="input-group" style="width: 433px; float: right;">
                <input type="text" class="form-control" id='FieldFilter' placeholder="Search for..."
                       style="width: 100%; " ng-keypress="ifEnter($event, 'review')" ng-model="gridUserReview.keyword">
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm" type="button" ng-click="searchGridUserReview()" style="border: 1px solid #dadada;
                    margin-bottom: 10px;height: 34px;">
                        <span class="k-icon k-i-search"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <!-- row 2 -->
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-5 control-label">{{'BTA_TRIP_FROM_DATE'|translate}}:</label>
                <div class="col-md-7 ">
                    <input style="width: 100%;" kendo-date-time-picker id="fromDate" name="fromDate"
                           k-ng-model="date.fromDate" k-on-change="fromDateChanged()" k-date-input="true"
                           k-format="'dd/MM/yyyy HH:mm'" k-time-format="'HH:mm'" />
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="col-md-5 control-label">{{'BTA_TRIP_TO_DATE'|translate}}:</label>
                <div class="col-md-7 ">
                    <input style="width: 100%;" kendo-date-time-picker id="toDate" name="toDate" k-on-change="toDateChanged()"
                           k-ng-model="date.toDate" k-date-input="true" k-format="'dd/MM/yyyy HH:mm'" k-time-format="'HH:mm'" timeFormat="HH:mm" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mrb10">
        <div class="col-md-12">
        </div>
    </div>
    <div class="note note-warning note-bordered" style="margin-bottom: 0px" ng-if="!isWarningMessage && (model.type == 2 || model.type == 3)">
        <span class="font-red-thunderbird">{{'BTA_WARNING_MESSAGE'|translate}}</span>
    </div>

    <div>
        <div kendo-grid id="userGridReview" style="width:900px;" options="userListGridReviewOptions">
        </div>
    </div>
</div>

<!-- end -->
<!-- Room organization -->
<div id="dialog_Room" kendo-dialog="dialogRoom" k-on-open="dialogVisibleRoom = true" style="height: 100% !important;"
     k-on-close="dialogVisibleRoom = false" k-width="1000" k-modal="true" k-visible="false" options="dialogRoomOption">
    <ul>
        <div class="note note-danger note-bordered" style="clear: both; margin-top: 10px;"
             ng-if="roomOrganizationErrorsMessages.length">
            <p ng-repeat="error in roomOrganizationErrorsMessages">
                <span ng-if="error.row">
                    {{'COMMON_ROW_NO'|translate}} {{error.row}} : {{error.message}}
                </span>
                <span ng-if="!error.row">
                    {{error.message}}
                </span>
            </p>
        </div>
    </ul>
    <div class="mrb10">
        <div kendo-grid id="roomGrid" style="max-width: 970px;" options="roomOptions">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span class="input-group-btn">
                <a class="btn btn-sm btn-primary btn-add-user" id="create" style="background-color: #b42e83"
                   ng-click="addRoom()">
                    {{'COMMON_BUTTON_ADD_MORE'| translate}}
                </a>
            </span>
        </div>
    </div>

</div>
<!-- end -->
<!-- confirm Room organization -->
<div id="dialog_RoomConfirm" kendo-dialog="dialogRoomConfirm" k-on-open="dialogVisibleRoomConfirm = true"
     style="height: 100% !important;" k-on-close="dialogVisibleRoomConfirm = false" k-width="600" k-modal="true"
     k-visible="false" options="dialogRoomConfirmOption">
    <ul>
        <div class="note note-danger note-bordered" style="clear: both; margin-top: 10px;">
            <p>
                {{'BTA_ROOM_ORGANIZATION_CONFIRM_MESSAGE'| translate}}
            </p>
        </div>
    </ul>
</div>
<!-- end -->
<!-- changing/ canceling-->
<div id="dialog_changing_cancel" kendo-dialog="dialogDetailCodeChangingCancel" k-on-open="dialogVisible = true"
     style="height: 100% !important;" k-on-close="dialogVisible = false" k-width="890" k-modal="true" k-visible="false"
     options="dialogUserGridChangingCancelOption">

    <div>
        <div kendo-grid id="userGridChangingCancel" style="width:850px;" options="userGridChangingCancelOptions">
        </div>
    </div>

</div>


<!--dialog select Employee Group-->
<div id="dialog_TripGroup" kendo-dialog="dialogTripGroup" k-on-open="dialogVisible = true"
     k-on-close="dialogVisible = false" k-modal="true" k-visible="false" options="dialogTripGroupOption" k-width="1280">
    <div class="note note-danger note-bordered" style="margin-bottom: 0px" ng-if="tripGroupPopup.errorMessages && tripGroupPopup.errorMessages.length > 0">
        <div ng-repeat="currentErrorMessage in tripGroupPopup.errorMessages">
            <span class="font-red-thunderbird">{{currentErrorMessage}}</span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="tripGroupGrid" kendo-grid id="btaTripGroupGrid" options="btaTripGroupGridOptions"></div>
        </div>
    </div>
</div>

<!-- confirm remove the ticket -->
<div id="dialog_RemoveTicketConfirm" kendo-dialog="dialogRemoveTicketConfirm" k-on-open="dialogVisibleRemoveTicketConfirm = true"
     style="height: 100% !important;" k-on-close="dialogVisibleRemoveTicketConfirm = false" k-width="600" k-modal="true"
     k-visible="false" options="dialogRemoveTicketConfirmOption">
    <div class="note note-danger note-bordered" style="clear: both; margin-top: 10px;">
        <p>
            {{'BTA_REMOVE_TICKET_CONFIRM_MESSAGE'| translate}}
        </p>
    </div>
</div>
<!-- end -->

<style>
    .k-dialog {
        top: 10px !important;
    }

    .k-grid-content {
        max-height: 100% !important;
        overflow-y: hidden;
    }

    #dialog_TripGroup {
        overflow: auto;
    }

    #btaTripGroupGrid {
        width: 1700px;
    }

        #btaTripGroupGrid .k-grid-content {
            width: 1700px;
            padding-right: 17px;
        }

        #btaTripGroupGrid .k-grid-header {
            width: 1700px;
        }
</style>
<!--dialog Search Ticket-->
<div id="dialog_SearchTicket" kendo-dialog="dialogSearchTicket" k-on-open="dialogVisible = true" style="max-height:525px;"
     k-on-close="dialogVisible = false" k-modal="true" k-visible="false" options="dialogSearchTicketOption" k-width="1280">

    <div class="row">
        <div class="col-md-12">
            <search-flight search-ticket-scope="searchTicketScope" id="searchTicketPanel" />
        </div>
    </div>
</div>


<!--dialog View Ticket-->
<div id="dialog_ViewTicket" kendo-dialog="dialogViewTicket" k-on-open="dialogVisible = true" k-width="1280"
     k-on-close="dialogVisible = false" k-modal="true" k-visible="false" options="dialogViewTicketOption">

    <div class="row">
        <div class="col-md-12">
            <flight-ticket view-ticket-scope="viewTicketScope" id="viewTicketPanel" />
        </div>
    </div>
</div>

<!--dialog View Change Cancel Ticket-->
<div id="dialog_ViewChangeCancelTicket" kendo-dialog="dialogViewChangeCancelTicket" k-on-open="dialogVisible = true" k-width="1280"
     k-on-close="dialogVisible = false" k-modal="true" k-visible="false" options="dialogViewChangeCancelTicketOption">

    <div class="row">
        <div class="col-md-12">
            <view-change-cancel-ticket view-change-cancel-ticket-scope="viewChangeCancelTicketScope" id="viewChangeCancelTicket" />
        </div>
    </div>
</div>

<div id="dialog_ApprovalOverBudget" kendo-dialog="dialogApprovalOverBudget" options="dialogApprovalOverBudgetOption">
    <div class="note note-danger note-bordered" style="margin-bottom: 0px" ng-if="!approvalOverBudget.isValid">
        <span class="font-red-thunderbird">{{approvalOverBudget.errorMessage}}</span>
    </div>
    <label class="control-label">{{'COMMON_COMMENT'|translate}}</label>
    <textarea class="k-textbox comment-text input-default" placeholder="" style="width: 100%;" rows="6"
              ng-model="approvalOverBudget.comment"></textarea>
</div>
