<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title title-wrapper stickybar-1">
                <div class="caption caption-md tabbable-line">
                    <span class="caption-subject uppercase">{{title}}</span>
                </div>
                <div class="actions">
                    <!-- <kendo-button type="button" class="btn btn-default btn-sm right-5" ng-click="showPopup('modalInfo', actionNeedShowPopup[0], '#dialogReason', actions.approve)">
                        <i class="fa fa-check font-green-jungle right-5"></i> Approve</kendo-button>
                    <kendo-button type="button" class="btn btn-default btn-sm right-5" ng-click="showPopup('modalInfo', actionNeedShowPopup[1], '#dialogReason', actions.requestedToChange)">
                        <i class="fa fa-minus-circle font-red right-5"></i> Requested To Change
                    </kendo-button>
                    <kendo-button type="button" class="btn btn-default btn-sm right-5" ng-click="showPopup('modalInfo', actionNeedShowPopup[2], '#dialogReason', actions.reject)">
                        <i class="fa fa-minus-circle font-red right-5"></i> Reject</kendo-button>
                    <kendo-button class="btn btn-default btn-sm" ng-click="cancel(state)">
                        <i class="k-icon k-i-close font-green-jungle"></i> Close
                    </kendo-button> -->
                    <action-items model="model" save="actions.saveItem" form="formItem"></action-items>
                    <div add-class class="btn-group" current-class="btn-group" added-class="open">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding: 0px !important"><img
                                src="ClientApp/assets/images/icon/more.png" style="position: relative;top: -2px"
                                class="ng-isolate-scope"></button>
                        <ul class="dropdown-menu pull-right">
                            <li>
                                <a data-toggle="modal" class="ng-binding" ng-click="showProcessingStages()">
                                    <i class="fa fa-recycle right-5" style="color: #b42e83"></i> {{'COMMON_PROCESSING_STAGE' | translate}}
                                </a>
                            </li>
                            <li>
                                <a data-toggle="modal" class="ng-binding" ng-click="showTrackingHistory()" ng-if="isITHelpdesk">
                                    <i class="fa fa-book right-5" style="color: #b42e83"></i>
                                    {{'COMMON_TRACKING_HISTORY' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="page-content-wrapper float-none">
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="row align-middle">
                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">{{'SHIFT_EXCHANGE_APPLICATION_APPLY_DATE'|translate}}:</label>
                                    <div class="col-md-8 ">
                                        <!-- <input
                                                        kendo-date-picker k-format="'dd/MM/yyyy'" class="full-width"
                                                        k-ng-model="modelForView.applyDate" /> -->
                                        <label class="form-control-static">{{modelForView.applyDate | date:'dd/MM/yyyy'}}</label>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">{{'COMMON_DEPT_LINE'|translate}}:</label>
                                    <div class="col-md-8 ">
                                        <label class="form-control-static">{{modelForView.dept_Line}}</label>

                                        <!-- <select style="width: 100%;" kendo-drop-down-list k-data-text-field="'name'" k-data-value-field="'code'" 
                                                        k-data-source="deptLineDataSource" 
                                                        ng-model="modelForView.dept_Line"></select> -->
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <label class="col-md-4 control-label">{{'COMMON_DIVISION_GROUP'|translate}}:</label>
                                    <div class="col-md-8 ">
                                        <label class="form-control-static">{{modelForView.dept_Division}}</label>
                                        <!-- <select style="width: 100%;" kendo-drop-down-list k-data-text-field="'name'" k-data-value-field="'code'" k-data-source="deptDivisionDataSource"></select> -->
                                    </div>
                                </div>

                            </div>
                            <div class="row mrt10">
                                <div class="col-md-12">
                                    <kendo-grid options="listOfShiftExchangingOptions" id="shiftExchangeEditListGridApprove">
                                    </kendo-grid>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
            <div class="portlet-title">
                <div class="actions">
                    <!-- <kendo-button class="btn btn-default btn-sm" ng-click="actions.submit(formItem)">
                        <i style="font-size: 12px; padding-right: 3px;" class="fa fa-paper-plane font-green-jungle"></i>Submit
                    </kendo-button>
                    <kendo-button class="btn btn-default btn-sm" ng-click="actions.saveItem(formItem)">
                        <i class="k-icon k-i-save font-green-jungle"></i> Save
                    </kendo-button>
                    <kendo-button class="btn btn-default btn-sm" ng-click="cancel(state)">
                        <i class="k-icon k-i-close font-green-jungle"></i> Close
                    </kendo-button> -->
                    <action-items model="model" save="actions.saveItem" form="formItem"></action-items>
                </div>
            </div>
        </div>
    </div>
</div>