<style>
    /* .customer-photo {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-size: 40px 35px;
        background-position: center center;
        vertical-align: middle;
        line-height: 40px;
        box-shadow: inset 0 0 1px #999, inset 0 0 10px rgba(0, 0, 0, .2);
        margin-left: 5px;
    }

    .customer-name {
        display: inline-block;
        vertical-align: middle;
        line-height: 40px;
        padding-left: 3px;
    } */
    
    .image {
        display: block;
        width: 32px;
        height: 32px;
    }
    
    .overlay {
        position: absolute;
        top: 0%;
        bottom: 0;
        left: 0px;
        right: 0;
        height: 100%;
        width: 32px;
        opacity: 0;
        transition: .3s ease;
        background-color: gray;
        margin-left: 10%;
    }
    
    .container-image {
        position: relative;
        width: 100%;
        max-width: 400px;
        padding-left: 10%;
    }
    
    .container-image:hover .overlay {
        opacity: 1;
    }
    
    .icon {
        color: white;
        font-size: 100px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
    }
    
    .fa-user:hover {
        color: #eee;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}
                    </span>
                    <!-- <button class="btn btn-sm btn-primary" ng-click="callApi()">Test</button> -->
                </div>
                <div class="actions">
                    <div class="row">
                        <!-- <input type="text" class="k-textbox mrb10" style="width: 300px;" name="searchText" 
                                        ng-model="searchText" />                                   
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><span class="k-icon k-i-search"></span></button>
                                    </span> -->
                        <div class="col-md-7">

                        </div>
                        <div class="col-md-5 align-right-btn-group">
                            <div class="input-group" style="width: 400px">
                                <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span> -->
                                <input type="text" class="form-control" id='FieldFilter' placeholder="Search for..." ng-keypress="ifEnter($event)" ng-model="keyword" style="width: 100%; ">
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" type="button" ng-click="search()" style="border: 1px solid #dadada;
                                                margin-bottom: 10px;"><span class="k-icon k-i-search"></span></button>
                                </span>
                            </div>
                            <div add-class class="btn-group" current-class="btn-group" added-class="open" style="margin-top:3px">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding: 0px !important"><img
                                        src="ClientApp/assets/images/icon/more.png"
                                        style="position: relative;top: -2px" class="ng-isolate-scope"></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a  ng-click="export()" class="ng-binding"><i
                                                class="fa fa-table font-blue right-5"></i>
                                            Export excel</a></li>
                                    <li><a  ng-click="import()" class="ng-binding"><i
                                                class="fa fa-table font-blue right-5"></i>
                                            Import excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="portlet-body">
                <!--<input id="files" name="files" kendo-upload type="file" ng-show="false" />-->       
                <div class="page-content-wrapper float-none">
                    <!-- <div class="page-content"> -->
                    <!-- ticket 146 -->
                    <kendo-grid options="userGridOptions" id="grid" k-on-change="onChange(data)">
                    </kendo-grid>
                    <!-- </div> -->
                    <!-- ticket 146 -->
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>
   