<!-- TO-DO LIST -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">TO-DO LIST
                    </span>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <div ui-view="users"></div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="page-content-wrapper">
                    <div class="page-content">

                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>
<!-- MY ITEMS -->
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">MY ITEMS
                    </span>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="page-content-wrapper">
                    <div class="page-content">
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>