<kendo-button class="btn btn-default btn-sm" ng-repeat="button in status.workflowButtons" ng-click="submit(button.id, button.name)">
    <i style="font-size: 12px; padding-right: 3px;" class="fa fa-paper-plane font-green-jungle"></i>
    <span>
        {{button.name|translate}}
    </span>
</kendo-button>
<kendo-button type="button" class="btn btn-default btn-sm right-5" ng-if="status.allowToVote && status.approveFieldText"
    ng-click="vote(1)">
    <i class="fa fa-check font-green-jungle right-5"></i> {{approveFieldText | translate}}
    <!-- <i class="fa fa-check font-green-jungle right-5"></i> {{'COMMON_BUTTON_APPROVE' | translate}} -->
</kendo-button>
<kendo-button type="button" class="btn btn-default btn-sm right-5" ng-if="status.allowRequestToChange"
    ng-click="vote(3)">
    <i class="fa fa-minus-circle font-red right-5"></i> {{'COMMON_BUTTON_REQUEST_TO_CHANGE'|translate}}
</kendo-button>
<kendo-button type="button" class="btn btn-default btn-sm right-5" ng-if="status.allowToVote && status.rejectFieldText"
    ng-click="vote(2)">
    <i class="fa fa-minus-circle font-red right-5"></i> {{status.rejectFieldText|translate}}
    <!-- <i class="fa fa-minus-circle font-red right-5"></i> {{'COMMON_BUTTON_REJECT' | translate}} -->
</kendo-button>
<kendo-button class="btn btn-default btn-sm" type="button" ng-if="status.allowToCancel" ng-click="vote(4)">
    <i class="fa fa-minus-circle font-red right-5"></i> {{'COMMON_BUTTON_CANCEL'|translate}}
</kendo-button>
<kendo-button class="btn btn-default btn-sm" type="button" ng-if="(!model.id && isLoaded) || hasPerm(2)"
    ng-click="dSave()">
    <i class="k-icon k-i-save font-green-jungle"></i> {{'COMMON_BUTTON_SAVE'|translate}}
</kendo-button>
<kendo-button class="btn btn-default btn-sm" type="button" ng-if="status.allowToDelete" ng-click="delete()">
    <i class="k-icon k-i-close font-green-jungle"></i> {{'COMMON_BUTTON_DELETE'|translate}}
</kendo-button>
<kendo-button class="btn btn-default btn-sm" type="button" ng-click="cancel()">
    <i class="k-icon k-i-close font-green-jungle"></i> {{'COMMON_BUTTON_CLOSE'|translate}}
</kendo-button>

<div id="dialog" kendo-dialog="voteDialog" options="voteDialogOpts">
    <div class="note note-danger note-bordered" style="margin-bottom: 0px" ng-if="!voteModel.isValid">
        <span class="font-red-thunderbird">{{voteModel.errorMessage}}</span>
    </div>
    <label class="control-label">{{'COMMON_COMMENT'|translate}}</label>
    <textarea class="k-textbox comment-text input-default" placeholder="" style="width: 100%;" rows="6"
        ng-model="voteModel.comment"></textarea>
</div>
<div kendo-dialog="revokeDialog" options="revokeDialogOpts">
    <div class="note note-danger note-bordered" style="margin-bottom: 0px" ng-if="!revokeModel.isValid">
        <span class="font-red-thunderbird">{{revokeModel.errorMessage}}</span>
    </div>
    <label class="control-label">{{'COMMON_COMMENT'|translate}}</label>
    <textarea class="k-textbox comment-text input-default" placeholder="" style="width: 100%;" rows="6"
        ng-model="revokeModel.comment"></textarea>
</div>