<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase" ng-if="!checkTitleEdit">{{title}}</span>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <kendo-button class="btn btn-default btn-sm" ng-click="actions.submit()">
                                <i style="font-size: 12px; padding-right: 3px;"
                                    class="fa fa-paper-plane font-green-jungle"></i> Submit
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="actions.saveItem()">
                                <i class="k-icon k-i-save font-green-jungle"></i> Save
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="cancel(state)">
                                <i class="k-icon k-i-close font-green-jungle"></i> Close
                            </kendo-button> -->
                            <action-items model="model" save="actions.saveItem" form="missingTimelockForm">
                            </action-items>
                            <div add-class class="btn-group" current-class="btn-group" added-class="open">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="true" style="padding: 0px !important"><img
                                        src="ClientApp/assets/images/icon/more.png" style="position: relative;top: -2px"
                                        class="ng-isolate-scope"></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a data-toggle="modal" class="ng-binding"
                                            ng-click="showProcessingStages()"><i class="fa fa-recycle right-5"
                                                style="color: #b42e83"></i> {{'COMMON_PROCESSING_STAGE' | translate}}</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="row ng-scope" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <workflow-comment></workflow-comment>
                    </div>
                </div>
                <div class="row ng-scope" ng-if="errors.length > 0" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">
                                {{'COMMON_ENTER_FIELD' | translate}} <span class="font-red-thunderbird">*</span>:
                            </h5>
                            <p></p>
                            <!-- fix ticket 134 - start -->
                            <ul>
                                <li ng-repeat="error in errors" ng-if="error.listReason.length > 0"><span
                                        class="bold">{{error.listReason}}</span></li>
                                <li ng-repeat="error in errors" ng-if="error.controlName"><span
                                        class="bold">{{error.controlName}}</span>
                                    <zt ng-if="!error.isRule">: {{'COMMON_FIELD_IS_REQUIRED'|translate}}</zt>
                                    <span ng-if="error.isRule">: {{error.message}}</span>
                                </li>
                            </ul>

                            <!-- <ul>
                                <li ng-repeat="error in listReason"><span class="bold">{{error}}</span></li>
                                <li ng-repeat="error in errors" ng-if="error.controlName"><span class="bold">{{error.controlName}}</span>: Field is required</li>
                            </ul>   -->
                            <!-- fix ticket 134 - end -->
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-horizontal">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{'COMMON_SAP_CODE'|translate}}:</label>
                                            <div class="col-md-8">
                                                <input type="text" maxlength="50" class="form-control input-sm"
                                                    ng-model="model.userSAPCode" readonly="readonly">
                                                <!-- <input kendo-combo-box ng-model="missingTimelockForm.sapCodeId"
                                        k-options="settingOptions.sapCodeSelectOptions" style="width: 100%;" /> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{'COMMON_DEPT_LINE'|translate}}:</label>
                                            <div class="col-md-8">
                                                <input type="text" maxlength="50" class="form-control input-sm"
                                                    ng-model="model.deptName" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{'COMMON_FULL_NAME'|translate}}:</label>
                                            <div class="col-md-8">
                                                <input type="text" maxlength="50" class="form-control input-sm"
                                                    ng-model="model.createdByFullName" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{'COMMON_DIVISION_GROUP'|translate}}:</label>
                                            <div class="col-md-8">
                                                <input type="text" maxlength="50" class="form-control input-sm"
                                                    ng-model="model.divisionName" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">{{'Attachment'|translate}}:</label>
                                            <div class="col-md-8">
                                                <input name="files" type="file" kendo-upload k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: false }" k-select="onSelect" k-remove="removeAttach" />
                                            </div>
                                            <label class="col-md-4 control-label" ng-if="oldAttachments && oldAttachments.length"></label>
                                            <div class="col-md-8" style="margin-top: 10px; padding-left: 30px;" ng-if="oldAttachments && oldAttachments.length">
                                                <p><b>Uploaded Files</b></p>
                                                <ol>
                                                    <li ng-repeat="doc in oldAttachments"><a ng-click="downloadAttachment(doc.id)">{{doc.fileDisplayName}}</a> | <a ng-click="removeOldAttachment(doc)">Delete</a></li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <br />
                <div class="row mrt10">
                    <div class="col-md-12">
                        <kendo-grid options="reasonDetailGridOptions" id="grid">
                        </kendo-grid>
                    </div>
                </div>
                <div class="row mrt10">
                    <div class="col-md-12">
                        <kendo-button style="background-color: #b42e83; color: white;"
                            class="btn btn-default btn-sm pull-right" ng-click="actions.addNewRecord()">
                            {{'COMMON_BUTTON_ADD_MORE'|translate}}
                        </kendo-button>
                    </div>
                </div>
            </div>
            <div class="portlet-title">
                <div class="actions">
                    <div class="row">
                        <div class="col-sm-12">
                            <!-- <kendo-button class="btn btn-default btn-sm" ng-click="actions.submit()">
                                <i style="font-size: 12px; padding-right: 3px;"
                                    class="fa fa-paper-plane font-green-jungle"></i> Submit
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="actions.saveItem()">
                                <i class="k-icon k-i-save font-green-jungle"></i> Save
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="cancel(state)">
                                <i class="k-icon k-i-close font-green-jungle"></i> Close
                            </kendo-button> -->
                            <action-items model="model" save="actions.saveItem" form="missingTimelockForm">
                            </action-items>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>
<processing-stage workflow-instances="workflowInstances"></processing-stage>