<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="MasterDataTypes" type="System.Configuration.NameValueSectionHandler" />
    <section name="sapSettings" type="Aeon.HR.ViewModels.CustomSection.SAPSettingsSection" />
    <section name="aeonPhase1Settings" type="Aeon.HR.ViewModels.CustomSection.SAPSettingsSection" />
    <section name="airTicketSettings" type="Aeon.HR.ViewModels.CustomSection.GotadiSettingsSection" />
    <section name="facilitySettings" type="Aeon.HR.ViewModels.CustomSection.FacilitySettingsSection" />
    <section name="aeonTradeContractSettings" type="Aeon.HR.ViewModels.CustomSection.TradeContractSettingsSection" />
    <section name="skuSettings" type="Aeon.HR.ViewModels.CustomSection.SkuSettingsSection" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="HRDbContext" connectionString="Data Source=.;Initial Catalog=AEONHRDBUAT-CR9.6;Integrated Security=True;" providerName="System.Data.SqlClient" />
    <add connectionString="Server=.;Database=Aeon_MembershipDb;Integrated Security=true" name="MembershipConnection" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DeptAcademyCode" value="50022367" />
    <add key="siteUrl" value="https://edoc2.minhtu.vn" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ClientId" value="eaa928fc-d8ff-4523-80ec-4aefb79f0cfe" />
    <add key="Secret" value="DI9s9JTL4GSTigChfakC1f6vV3Mr2b+BVUuMu0Eyw1Q=" />
    <add key="ClientSigningCertificatePath" value="C:\Users\Administrator\Documents\Workspace\SSG-P2\SharePoint\Certificates\aeon-hr-api.pfx" />
    <add key="ClientSigningCertificatePassword" value="P@ssword123" />
    <add key="IssuerId" value="b67cc264-72a1-4e81-a390-572ae0981cb6" />
    <add key="FileUploadLocation" value="C:\AEON" />
    <add key="JobAdminKey" value="abc-@123" />
    <add key="MaxJobLevel" value="9" />
    <add key="edoc1Url" value="http://edoc_u_fin.aeon.com.vn" />
    <add key="massAccount" value="aeon\administrator" />
    <add key="massPassword" value="P@ssword123" />
    <add key="aeonEmail" value="rottess@gmail.com" />
    <add key="allowPushToSAP" value="true" />
    <add key="dayOfMonthRemindManagerActing" value="8" />
    <add key="massUrl" value="http://aeon.khachhang.me:8087/api" />
    <add key="validateTargetPlanTarget1" value="BTD1,BTD2,CE1,CE2,ERD1,ERD2,FWH1,FWH2,TRN1,TRN2,DOH1,DOH2,ALH1,ALH2,NPH1,NPH2,RAC1,RAC2" />
    <add key="validateTargetPlanHolidays" value="PHL,BTD,SL,V*,MAT1,MAT2,MAT3,MAT4,MCR1,MCR2,MCR3,MCR4,BCTR,CL,NPL" />
    <add key="dayOfMonthCreateTargetPlanPeriod" value="10" />
    <add key="ApplyNewShiftExchange_Payload" value="true" />
    <add key="SAP_TimeOut" value="1" />
    <add key="token_edoc2" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJTU0ciLCJuYW1lIjoiQUVPTiJ9.RumX95b8ljvb7t00CO6CX7kVy2rNK3ccs455Zoaj8SA" />
    <add key="CA_VNA" value="14109932" />
    <add key="BM_CheckWorkflow" value="BusinessModelCode" />
  </appSettings>
  <sapSettings baseUrl="http://10.121.2.218:8083/sap/opu/odata/SAP/">
    <header format="json" Token="" xRequestWith="X" sapClient="" contentType="application/json" acceptType="application/json"></header>
    <authentication username="EDOC.TEST2" password="Aeon@12345"></authentication>
    <groupData>
      <add name="MasterData" value="ZHCM_MTDATA_SRV"></add>
      <add name="Employee" value="ZHCM_EMPLOYEE_SRV"></add>
      <add name="TargetPlan" value="ZHCM_GW_INTE_TARGETPLANS_SRV"></add>
      <add name="GetWorkLocationSet" value="ZHCM_MTDATA_SRV"></add>
      <add name="GetEmployeeGroupCodeSet" value="ZHCM_MTDATA_SRV"></add>
    </groupData>
  </sapSettings>
  <aeonPhase1Settings baseUrl="http://edoc_u_fin.aeon.com.vn/_layouts/api/">
    <header format="json" Token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9eyJlIjoidSIsInVzZXJuYW1lIjoiZWRvYzIifQ3WoORezHLwAbT4janeljKKoSy9SxxBvddpsgAIE0SZk" xRequestWith="X" sapClient="900" contentType="application/json" acceptType="application/json"></header>
    <authentication username="aeon\edoc01" password="abc123-@"></authentication>
    <groupData>
      <add name="" value=""></add>
    </groupData>
  </aeonPhase1Settings>
  <facilitySettings baseUrl="https://edocserver:58879/api">
    <header format="json" Token="" xRequestWith="X" sapClient="" contentType="application/json" acceptType="application/json"></header>
    <authentication username="" password=""></authentication>
  </facilitySettings>
  <airTicketSettings baseUrl="https://uat-api.gotadi.com/sandbox/aeon" saltKey="Gotadi" timeouts="300">
    <header format="json" xRequestWith="X" contentType="*/*" acceptType="*/*" apiKey="ssf334dgf3sd" accessCode="AEON" connection="keep-alive" pragma="no-cache" cacheControl="no-cache" />
    <certificates gotadi_public_key="Certificates\sandbox_gotadi_public.pem" aeon_bta_private_key="Certificates\aeontestprivate.pem" />
  </airTicketSettings>
  <skuSettings baseUrl="http://edoc.aeon.com.vn">
    <header format="json" contentType="application/json" acceptType="application/json"></header>
  </skuSettings>
  <aeonTradeContractSettings baseUrl="http://trade-contract-uat.aeon.com.vn">
    <header format="json" contentType="application/json" acceptType="application/json"></header>
    <authentication username="aeon\edoc14" password="@Bcd1234"></authentication>
  </aeonTradeContractSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus" publicKeyToken="ea159fdaa78159a1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.3.2" newVersion="4.5.3.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Unity.Abstractions" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.7.0" newVersion="5.11.7.0" />
      </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
			</dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>