<style>
  .workflow-history-step {
    margin-bottom: 0px !important;
  }
</style>

<!--<div
  class="workflow-history-step step-status-completed"
  ng-if="showStep.rounds && showStep.rounds.length > 0 && showStep.rounds[0].action=='Approved' ||showStep.rounds[0].action=='Completed'||showStep.rounds[0].action=='Submitted'"
>
  <div class="step-flag-container">
    <div
      class="step-flag"
      data-toggle="tooltip"
      data-placement="right"
      title="Completed"
    >
      <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
    </div>
  </div>
  <div class="all-round-container">
    <div class="step-caption-container">
      <div class="step-caption-background">
        <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
      </div>
    </div>
    <academy-workflow-task
      ng-repeat="round in showStep.rounds"
      round="round"
    ></academy-workflow-task>
  </div>
</div>

<div
  class="workflow-history-step step-status-rejected"
  ng-if="showStep.rounds && showStep.rounds.length > 0 && showStep.rounds[0].action=='Rejected' "
>
  <div class="step-flag-container">
    <div
      class="step-flag"
      data-toggle="tooltip"
      data-placement="right"
      title="Rejected"
    >
      <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
    </div>
  </div>
  <div class="all-round-container">
    <div class="step-caption-container">
      <div class="step-caption-background">
        <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
      </div>
    </div>
    <academy-workflow-task
      ng-repeat="round in showStep.rounds"
      round="round"
    ></academy-workflow-task>
  </div>
</div>
<div
  class="workflow-history-step step-status-requested-to-change"
  ng-if="showStep.rounds && showStep.rounds.length > 0 && showStep.rounds[0].action=='Requested To Change' "
>
  <div class="step-flag-container">
    <div
      class="step-flag"
      data-toggle="tooltip"
      data-placement="right"
      title="Rejected"
    >
      <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
    </div>
  </div>
  <div class="all-round-container">
    <div class="step-caption-container">
      <div class="step-caption-background">
        <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
      </div>
    </div>
    <academy-workflow-task
      ng-repeat="round in showStep.rounds"
      round="round"
    ></academy-workflow-task>
  </div>
</div>
<div
  class="workflow-history-step step-status-in-progress"
  ng-if="showStep.rounds && showStep.rounds.length > 0 && !showStep.rounds[0].action"
>
  <div class="step-flag-container">
    <div
      class="step-flag"
      data-toggle="tooltip"
      data-placement="right"
      title="In Progress"
    >
      <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
    </div>
  </div>
  <div class="all-round-container">
    <div class="step-caption-container">
      <div class="step-caption-background">
        <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
      </div>
    </div>
    <academy-workflow-task
      ng-repeat="round in showStep.rounds"
      round="round"
    ></academy-workflow-task>
  </div>
</div>
<div
  class="workflow-history-step step-status-not-started"
  ng-if="!showStep.rounds.length"
>
  <div class="step-flag-container">
    <div
      class="step-flag"
      data-toggle="tooltip"
      data-placement="right"
      title="Not Started"
    >
      <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
    </div>
  </div>
  <div class="all-round-container">
    <div class="step-caption-container">
      <div class="step-caption-background">
        <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
      </div>
    </div>
    <div class="step-round-container ng-scope">
      <div class="workflow-history-task"></div>
    </div>
  </div>
</div>
<div class="workflow-history-step step-status-cancelled" ng-if="showStep.rounds && showStep.rounds.length > 0 && showStep.rounds[0].action=='Cancelled'">
    <div class="step-flag-container">
        <div class="step-flag" data-toggle="tooltip" data-placement="right" title="Cancelled">
            <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
        </div>
    </div>
    <div class="all-round-container">
        <div class="step-caption-container">
            <div class="step-caption-background">
                <span class="caption ng-binding">{{showStep.stepName |translate}}</span>
            </div>
        </div>
        <academy-workflow-task ng-repeat="round in showStep.rounds" round="round"></academy-workflow-task>
    </div>
</div>-->

<div>
    <!--<workflow-task ng-repeat="round in step.rounds" round="round" step="showStep" directivevalue="directivevalue"></workflow-task>-->
    <academy-workflow-task ng-repeat="round in showStep.rounds" round="round" step="showStep"></academy-workflow-task>
</div>