<style>
    label {
        font-size: 12px;
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light" style="padding-bottom: 50px !important;">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}
                    </span>
                </div>
                <div class="actions">
                    <action-items model="model" save="save" form="g1Form"></action-items>
                    <div add-class class="btn-group" current-class="btn-group" added-class="open">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding: 0px !important"><img
                                src="ClientApp/assets/images/icon/more.png" style="position: relative;top: -2px"
                                class="ng-isolate-scope"></button>
                        <ul class="dropdown-menu pull-right">
                            <li><a data-toggle="modal" class="ng-binding" ng-click="showProcessingStages()"><i
                                        class="fa fa-recycle right-5" style="color: #b42e83"></i> {{'COMMON_PROCESSING_STAGE' | translate}} </a></li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="portlet-body">
                <div class="row ng-scope" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <workflow-comment></workflow-comment>
                    </div>
                </div>

                <div class="row ng-scope" ng-if="resignationInProgress" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-warning note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">{{'COMMON_WARNING'|translate}}:</h5>
                            <p></p>
                            <ul>
                                {{warning}}
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="row ng-scope" ng-if="errors.length > 0" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase"> {{'COMMON_ENTER_FIELD' | translate}} <span class="font-red-thunderbird">*</span>:</h5>
                            <p></p>
                            <ul>
                                <li ng-repeat="error in errors track by $index"><span class="bold ">{{error.controlName}}</span>{{error.message?error.message: ''}}
                                </li><br>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>

                <div class="white-background" style="font-size: 12px;">
                    <div class="row">
                        <form name="g1Form">
                            <div class="col-md-12 mrb10">
                                <div class="form-horizontal">
                                    <div class="form-body">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">
                                                                {{'COMMON_SAP_CODE'|translate}}:
                                                            </label>
                                                            <div class="col-md-8">
                                                                <input id="sapCode" name="sapCode" type="text" class="form-control input-sm" ng-model="model.userSAPCode" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">
                                                                {{'COMMON_FULL_NAME'|translate}}:
                                                            </label>
                                                            <div class="col-md-8">
                                                                <input id="fullName" name="fullName" type="text" maxlength="50" class="form-control input-sm" ng-model="model.createdByFullName" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">
                                                                {{'COMMON_DEPT_LINE'|translate}}:
                                                            </label>
                                                            <div class="col-md-8">
                                                                <input id="deptLine" name="deptLine" type="text" maxlength="50" class="form-control input-sm" ng-model="model.deptName" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">
                                                                {{'COMMON_DIVISION_GROUP'|translate}}:
                                                            </label>
                                                            <div class="col-md-8">
                                                                <input id="divisionGroup" name="divisionGroup" type="text" maxlength="50" class="form-control input-sm" ng-model="model.divisionName" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">
                                                                {{'LEAVE_MANAGEMENT_STARTING_DATE'|translate}}:
                                                            </label>
                                                            <div class="col-md-8">
                                                                <input id="startDate" name="startDate" type="text" class="form-control input-sm" ng-value="model.startingDate|date:'dd/MM/yyyy'" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="col-md-4 control-label">{{'Attachment'|translate}}:</label>
                                                            <div class="col-md-8">
                                                                <input name="files" type="file" kendo-upload k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: false }" k-select="onSelect" k-remove="removeAttach" />
                                                            </div>
                                                            <label class="col-md-4 control-label" ng-if="oldAttachments && oldAttachments.length"></label>
                                                            <div class="col-md-8" style="margin-top: 10px; padding-left: 30px;" ng-if="oldAttachments && oldAttachments.length">
                                                                <p><b>Uploaded Files</b></p>
                                                                <ol>
                                                                    <li ng-repeat="doc in oldAttachments"><a ng-click="downloadAttachment(doc.id)">{{doc.fileDisplayName}}</a> | <a ng-click="removeOldAttachment(doc)">Delete</a></li>
                                                                </ol>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Grid bên phải-->
                                            <div class="col-md-6" style="border-left: 1px solid #e0e0e0;">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <kendo-grid ng-if="currentMonth == 0" id="gridLeaveTitle_PrevYear" options="leaveTitleGridOptions_PrevYear" style="max-height: 200px; overflow-x:auto; height: 200px;">
                                                        </kendo-grid>
                                                        <kendo-grid id="gridLeaveTitle" options="leaveTitleGridOptions" style="max-height: 200px; overflow-x:auto; height: 200px;">
                                                        </kendo-grid>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Grid ngang phía cuối cùng-->
                                        <div class="row mrt20">
                                            <div class="col-md-12">
                                                <kendo-grid id="leaveApplicationDetailGrid" options="leaveApplicationDetailGridOptions"></kendo-grid>
                                            </div>
                                        </div>
                                        <div class="row" style="padding-top: 10px;">
                                            <div class="col-md-12">
                                                <kendo-button type="button" style="background-color: #b42e83; color: white;" class="btn btn-default btn-sm pull-right" ng-click="addRow(data)">
                                                    {{'COMMON_BUTTON_ADD_MORE'|translate}}
                                                </kendo-button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-2">
                                    <div class="col-md-12">
                                        <p><b>{{'COMMON_NOTE'|translate}}: </b><span>*</span></p>
                                        <p>
                                            - <b>Không được đăng ký nghỉ Thứ Bảy, Chủ Nhật chung với ngày thường trong tuần. Bạn phải đăng ký 1 dòng riêng.</b> <br />
                                            <i>You cannot regist leave for Saturday, Sunday with normal day in the week. You have to regist in a seperate row.</i>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <div class="portlet-title">
                <div class="actions">
                    <!-- <kendo-button class="btn btn-default btn-sm" ng-click="submit(g1Form)">
                        <i style="font-size: 12px; padding-right: 3px;"
                            class="fa fa-paper-plane font-green-jungle"></i>Submit
                    </kendo-button>
                    <kendo-button class="btn btn-default btn-sm" type="button" ng-click="save(g1Form)">
                        <i class="k-icon k-i-save font-green-jungle"></i> Save
                    </kendo-button>

                    <kendo-button type="button" class="btn btn-default btn-sm right-5" ng-if="false"
                        ng-click="showPopup('modalInfo', actionNeedShowPopup[0], '#dialogReason', actions.approve)">
                        <i class="fa fa-check font-green-jungle right-5"></i> Approve</kendo-button>
                    <kendo-button type="button" class="btn btn-default btn-sm right-5" ng-if="false"
                        ng-click="showPopup('modalInfo', actionNeedShowPopup[1], '#dialogReason', actions.requestedToChange)">
                        <i class="fa fa-minus-circle font-red right-5"></i> Requested To Change
                    </kendo-button>
                    <kendo-button type="button" class="btn btn-default btn-sm right-5" ng-if="false"
                        ng-click="showPopup('modalInfo', actionNeedShowPopup[2], '#dialogReason', actions.reject)">
                        <i class="fa fa-minus-circle font-red right-5"></i> Reject</kendo-button>

                    <kendo-button class="btn btn-default btn-sm" ng-click="cancel('home.leavesManagement.myRequests')">
                        <i class="k-icon k-i-close font-green-jungle"></i> Close
                    </kendo-button> -->
                    <action-items model="model" save="save" form="g1"></action-items>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>
<processing-stage workflow-instances="workflowInstances"></processing-stage>