<div
  class="note note-danger note-bordered"
  style="margin-bottom: 0px"
  ng-if="lastStep && (lastStep.action == 'Rejected' || lastStep.action == 'Requested To Change' || lastStep.action == 'Cancelled')"
>
  <!-- <h5 class="bold uppercase"><span class="font-red-thunderbird">Reason</span>:</h5> -->
  <h5 class="bold uppercase">
    <span class="font-red-thunderbird">{{'COMMON_REASON'|translate}}</span>:
  </h5>
  <p><span class="bold">{{ lastStep.comment }}</span></p>
  <!-- <p>Processor: <span class="bold">{{ status.lastHistory.approverFullName }}</span></p> -->
  <p>
    {{'COMMON_PROCESSOR'|translate}}:
    <span class="bold">{{ lastStep.createdByFullName }}</span>
  </p>
</div>

<!-- <div
  class="note note-danger note-bordered"
  style="margin-bottom: 0px"
  ng-if="lastStep && (lastStep.action == 'Completed' && lastStep.comment)"
>
  <h5 class="bold uppercase">
    <span class="font-red-thunderbird">{{'COMMON_REASON'|translate}}</span>:
  </h5>
  <p>
    <span class="bold" ng-if="lastStep.comment">{{ lastStep.comment }}</span>
  </p>
</div> -->
