<div class="actions" style="float: right">
  <div class="row">
    <div class="col-sm-12">
      <span>
        <kendo-button
          class="btn btn-default btn-sm"
          type="button"
          style="margin-left: 5px"
          ng-repeat="fa in ALL_FORM_ACTIONS"
          ng-if="(fa.statuses.indexOf(status) != -1 && enabledActions.indexOf(fa.name) != -1) || fa.statuses.length == 0"
          ng-click="performAction(fa.name)"
          ng-disabled="isInprocess"
        >
          <i class="{{fa.icon}} right-5"></i>{{fa.displayName|translate}}
        </kendo-button>
        <div
          add-class
          class="btn-group"
          current-class="btn-group"
          added-class="open"
        >
          <button
            type="button"
            class="btn btn-default dropdown-toggle"
            data-toggle="dropdown"
            aria-expanded="true"
            style="padding: 0px !important"
          >
            <img
              src="ClientApp/assets/images/icon/more.png"
              class="ng-isolate-scope"
            />
          </button>
          <ul class="dropdown-menu pull-right">
            <li>
              <a
                data-toggle="modal"
                class="ng-binding"
                ng-click="showProcessingStages()"
                ><i class="fa fa-recycle right-5" style="color: #b42e83"></i>
                {{'COMMON_PROCESSING_STAGE' | translate}}
              </a>
            </li>
          </ul>
        </div>
      </span>
    </div>
  </div>
</div>
