<!--<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="portlet bordered light">-->
            <!-- Title -->
            <!--<div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">
                        WORKFLOW
                    </span>
                </div>
                <div class="actions">
                    <div class="col-md-5 align-right-btn-group">
                        <div class="input-group" style="width: 400px">-->
                            <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span> -->
                            <!--<input type="text" class="form-control" ng-model="searchText" id='FieldFilter' ng-keypress="ifEnter($event)" placeholder="Search for..." style="width: 100%; ">
                            <span class="input-group-btn">
                                <button class="btn btn-default btn-sm" ng-click="search()" type="button" style="border: 1px solid #dadada;
                                margin-bottom: 10px;">
                                    <span class="k-icon k-i-search"></span>
                                </button>
                            </span>
                        </div>
                        <div add-class class="btn-group" current-class="btn-group" added-class="open" style="margin-top:3px">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding: 0px !important">
                                <img src="ClientApp/assets/images/icon/more.png"
                                     style="position: relative;top: -2px"
                                     class="ng-isolate-scope">
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a ng-click="vm.actions.export()" class="ng-binding">
                                        <i class="fa fa-table font-blue right-5"></i>
                                        Export excel
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="page-content-wrapper float-none">
                    <div class="row">
                        <div class="col-md-12">
                            <kendo-grid id="grid" options="workFlowGridOptions"></kendo-grid>
                        </div>
                        <div class="col-md-12 mt-2">
                            <a ng-click="onCreateWorkFlowTemplate()" class="btn btn-sm btn-primary float-right">
                                <i class="fa fa-plus right-5"></i>Create
                            </a>
                        </div>
                    </div>
                </div>
            </div>-->
            <!-- Content -->
        <!--</div>
    </div>
</div>
<tracking-history ng-if="showTrackingHistoryDirective" tracking-history="trackingHistory"></tracking-history>-->

<div id="confirmFlowType">
    <select kendo-drop-down-list
            style="width: 100%;"
            k-ng-model="itemType"
            k-options="flowTypeOptions"
            class="mb-3">
    </select>
    
    <div class="d-flex gap-2 flex-wrap justify-content-end">
        <button class="btn btn-primary rounded-3 btn-outline-blue poppins-regular display-9 py-1" type="button" ng-disabled="!itemType" ng-click="onConfirmFlowType()">
             OK
        </button>
    </div>
</div>





<style>

</style>


<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->

            <div class="d-flex align-items-center justify-content-between portlet-title">
                <div class="group poppins-medium text-grey-300 caption caption-md px-3">
                    <p style=" text-transform: uppercase !important;" class="display-8 m-0"> WORKFLOW</p>
                    <p class="display-11">
                        <span class="opacity-40">Number of record:</span> {{total}}
                    </p>
                </div>
            </div>
            <div class="portlet-body p-2 bg-neutral-blue-300">
                <div ng-show="false"><input id="files" name="files" kendo-upload type="file" ng-show="false" class="ng-hide" /></div>
                <div class="page-content-wrapper float-none table-rounded-toolbar ">
                    <div class="toolbar">
                        <div class="row">
                            <div class="col-12">
                                <div class="d-flex gap-2 align-items-center justify-content-between">
                                    <div class=" d-flex gap-3" style="width: 500px; margin-top:10px">
                                        <input type="text" class="form-control" style="width: 300px; height: 40px" placeholder="Search for..." ng-model="searchText" id='FieldFilter' ng-keypress="ifEnter($event)" style="">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary rounded-3 poppins-regular display-9  py-2 px-3" type="button" ng-click="search()" style="border: 1px solid #dadada; margin-bottom: 10px;">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                                </svg>
                                                &nbsp;Search
                                            </button>
                                        </div>
                                    </div>

                                    <div class="d-flex gap-2">
                                        <div class="input-group" style="margin-top:15px;width: 180px; display: flex; align-items: center;">
                                            <label style="margin-right: 20px;">
                                                <input type="radio" name="option" value="1" ng-checked="isActiveView === 1" ng-click="handleRadioChange(1)"> Active
                                            </label>
                                            <label>
                                                <input type="radio" name="option" value="2" ng-checked="isActiveView === 2" ng-click="handleRadioChange(2)"> Inactive
                                            </label>
                                        </div>

                                        <a class="btn btn-outline-dark rounded-3 btn-sm poppins-regular display-9 m-1" ng-click="onCreateWorkFlowTemplate()">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                                                <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2z"></path>
                                                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                                            </svg> &nbsp; Create
                                        </a>

                                        <button ng-click="vm.actions.export()" type="button" class="btn btn-outline-cyan rounded-3 poppins-regular display-9 py-2 px-3">
                                            <svg fill="currentColor" class="bi bi-check-square" width="16" height="16" viewBox="0 0 1920 1920" xmlns="http://www.w3.org/2000/svg">
                                                <path d="m0 1016.081 409.186 409.073 79.85-79.736-272.867-272.979h1136.415V959.611H216.169l272.866-272.866-79.85-79.85L0 1016.082ZM1465.592 305.32l315.445 315.445h-315.445V305.32Zm402.184 242.372-329.224-329.11C1507.042 187.07 1463.334 169 1418.835 169h-743.83v677.647h112.94V281.941h564.706v451.765h451.765v903.53H787.946V1185.47H675.003v564.705h1242.353V667.522c0-44.498-18.07-88.207-49.581-119.83Z" fill-rule="evenodd"></path>
                                            </svg>
                                            &nbsp;Export
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="display-10 leading-18">
                        <div class="row">
                            <div class="col-md-12">
                                <kendo-grid id="grid" options="workFlowGridOptions" style=" overflow: hidden; border-radius: 7px; border-top-left-radius: 0px !important; border-top-right-radius: 0px !important;">
                                </kendo-grid>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<tracking-history ng-if="showTrackingHistoryDirective" tracking-history="trackingHistory"></tracking-history>