<style>
    .falock {
        font-size: 13px;
        color: gray;
        transform: rotate(45deg);
    }
</style>
<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">
                        {{'USER_PROFILE_TITLE' | translate}}
                    </span>
                </div>
                <div class="actions">
                    <kendo-button ng-if="currentUser.type == 1" class="btn btn-default btn-sm" ng-click="changePassword()">
                        <i class="fa falock">&#xf084;</i> {{'USER_PROFILE_CHANGE_PASS' | translate}}
                    </kendo-button>
                    <kendo-button class="btn btn-default btn-sm" ng-click="cancel()">
                        <i class="k-icon k-i-close font-green-jungle"></i> {{'COMMON_BUTTON_CLOSE' | translate}}
                    </kendo-button>
                </div>
            </div>
            <div class="portlet-body">
                <div class="white-background" style="font-size: 12px;">
                    <div class="custom-panel" style="clear: both;">
                        <form name="userProfileForm">
                            <div class="portlet box bg-grey bg-font-grey fx-portlet">
                                <div class="portlet-title">
                                    <div class="caption caption-md">
                                        <span class="caption-subject hr-process uppercase f-collapse">
                                            {{'USER_PROFILE_PERSONAL_INFO' | translate}}
                                        </span>
                                    </div>
                                </div>
                                <div class="portlet-body">

                                    <div class="row" style="display: flex; padding: 10px;">
                                        <div style="padding: 0px 10px 0px 10px;" class="container-profile col-md-4">
                                            <!--<img ng-src="{{avatar}}" class="image-profile" />-->
                                            <img ng-if="model.personal.profilePicture" class="image-profile" ng-src="{{model.personal.profilePicture}}" alt='Avatar'>
                                            <img ng-if="!model.personal.profilePicture" src="ClientApp/assets/images/avatar.png" alt='Avatar' class='image'>
                                            <!-- <div style="display: none !important;" ng-if="false">
                                                <input id="profileImage" name="files" type="file" kendo-upload k-async="{ saveUrl: 'save', removeUrl: 'remove', autoUpload: false }" k-validation="{allowedExtensions: ['.gif', '.jpg', '.png']}" k-select="onSelect" k-upload="onUpload" />
                                            </div>
                                            <div class="middle-profile" ng-if="false">
                                                <span class="k-icon k-i-photo-camera" style="font-size: 32px;"></span>
                                                <div class="text-profile">Chọn hình</div>
                                            </div> -->
                                        </div>

                                        <div style="width: 100%; margin-left: 10px;" class="col-md-20">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row">
                                                        <div class="form-group">
                                                            <label class="col-md-4 ">{{'COMMON_SAP_CODE'|translate}}:</label>
                                                            <div class="col-md-8">
                                                                {{model.personal.sapCode}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mrt10">
                                                        <div class="form-group">
                                                            <label class="col-md-4 ">{{'COMMON_FULL_NAME'|translate}}:</label>
                                                            <div class="col-md-8">
                                                                {{model.personal.fullName}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mrt10">
                                                        <div class="form-group">
                                                            <label class="col-md-4 ">{{'COMMON_EMAIL'|translate}}:</label>
                                                            <div class="col-md-8">
                                                                {{model.personal.email}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mrt10">
                                                        <div class="form-group">
                                                            <label class="col-md-4 ">{{'COMMON_DEPARTMENT'|translate}}:</label>
                                                            <div class="col-md-8">
                                                                {{model.personal.department}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row mrt10">
                                                        <div class="form-group">
                                                            <label class="col-md-4 ">{{'COMMON_POSITION'|translate}}:</label>
                                                            <div class="col-md-8">
                                                                {{model.personal.jobTitle}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div style="width: 100%;" kendo-tab-strip k-options="stripOptions">
                                <ul>
                                    <li class="k-state-active">{{'USER_PROFILE_TAB_LEAVE' | translate}}</li>
                                    <li>{{'USER_PROFILE_TAB_MISSING' | translate}}</li>
                                    <li>{{'USER_PROFILE_TAB_OVERTIME' | translate}}</li>
                                    <li>{{'USER_PROFILE_TAB_SHIFT_EXCHANGE' | translate}}</li>
                                </ul>
                                <div style="padding: 1em;width: 99.5%;"> 
                                    <div class="portlet box bg-grey bg-font-grey fx-portlet mrt10">
                                        <div class="portlet-body">
                                            <div class="row mrb10">
                                                <div class="col-md-12">
                                                    <kendo-grid id="gridLeaveTitle" options="leaveTitleGridOptions" style="max-height: 200px; height: 150px;">
                                                    </kendo-grid>
                                                </div>
                                            </div>
                                        </div>
                                    </div>                                   
                                    <div kendo-grid="leaveInformationGrid" id="leaveInformationGrid" class="mrt10" options="leaveInformationGridOptions"></div>
                                </div> 

                                <div style="padding: 1em">
                                    <kendo-grid options="missingTimeclockApplicantGridOptions" id="missingTimeclockApplicantGrid"></kendo-grid>
                                </div>

                                <div style="padding: 1em">
                                    <kendo-grid options="overtimeApplicantGridOptions" id="overtimeApplicantGrid"></kendo-grid>
                                </div>

                                <div style="padding: 1em">
                                    <kendo-grid options="shiftExchangeApplicantGridOptions" id="shiftExchangeApplicantGrid"></kendo-grid>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="changePwdDialog" kendo-dialog="changePwdDialog" options="changePwdDialogOpts">
    <div class="note note-danger note-bordered" style="margin-bottom: 0px" ng-if="pwdModel.errors.length != 0">
        <p class="font-red-thunderbird" ng-repeat="error in pwdModel.errors"> {{error}}</p>
    </div>
    <br />
    <div class="col-md-12">
        <div class="k-edit-label">
            <label for="Current Password">
                {{'CHANGE_PASSWORD_CURRENT'|translate}}: <span class="font-red-thunderbird">*</span>
            </label>
        </div>
        <div data-container-for="CurrentPassword" class="k-edit-field">
            <input type="password" autocomplete="off" class="k-textbox" ng-model="pwdModel.oldPassword">
        </div>
        <div class="k-edit-label">
            <label for="New Password">
                {{'CHANGE_PASSWORD_NEW_PASSWORD'|translate}}: <span class="font-red-thunderbird">*</span>
            </label>
        </div>
        <div data-container-for="NewPassword" class="k-edit-field">
            <input type="password" autocomplete="off" class="k-textbox" ng-model="pwdModel.newPassword">
        </div>
        <div class="k-edit-label">
            <label for="New Password">
                {{'CHANGE_PASSWORD_VERIFY_PASSWORD'|translate}}: <span class="font-red-thunderbird">*</span>
            </label>
        </div>
        <div data-container-for="VerifyPassword" class="k-edit-field">
            <input type="password" autocomplete="off" class="k-textbox" ng-model="pwdModel.verifyPassword">
        </div>
    </div>
</div>
