<!DOCTYPE html>
<html ng-app="ssg">

<head>
    <meta charset="utf-8" />
    <title>SSG - Login</title>
    <script>
        var baseUrl = "/";
        var baseUrlApi = "http://edoc2api.aio-soft.com/api";
        var edocV = "1.1.96";
        var edoc1Url = "";
    </script>

    <!-- CSS -->
    <link type="text/css" rel="stylesheet" href="ClientApp/assets/lib/kendo/styles/kendo.common.min.css" />
    <link type="text/css" rel="stylesheet" href="ClientApp/assets/lib/kendo/styles/kendo.office365.min.css" />
    <link type="text/css" rel="stylesheet" href="ClientApp/assets/lib/kendo/styles/fx.framework.core.css" />
    <link type="text/css" rel="stylesheet" href="ClientApp/assets/css/aeon.edocument.css" />
    <link type="text/css" rel="stylesheet" href="ClientApp/assets/css/shared.css" />
    <link type="text/css" rel="stylesheet" href="ClientApp/assets/css/angular-ui-notification.css" />
    <link type="text/css" rel="stylesheet" href="ClientApp/assets/css/styles.css" />
    <!-- / -->
</head>

<body data-ng-app="ssg" class="
      app-font
      page-header-fixed page-container-bg-solid
      ms-backgroundImage
    ">
    <!-- the app goes here -->
    <div ui-view></div>

    <!-- build:assets assets.min.js -->
    <!-- ASSETS -->
    <script src="ClientApp/assets/lib/kendo/js/jquery.min.js"></script>
    <script src="ClientApp/assets/lib/kendo/js/jszip.min.js"></script>
    <script src="ClientApp/assets/lib/kendo/js/angular.min.js"></script>
    <script src="ClientApp/assets/lib/kendo/js/kendo.all.min.js"></script>
    <script src="ClientApp/assets/lib/ui-router/angular-ui-router.min.js"></script>
    <script src="ClientApp/assets/lib/kendo/js/angular-cookies.min.js"></script>
    <script src="ClientApp/assets/lib/angular-translate/angular-translate.min.js"></script>
    <script src="ClientApp/assets/lib/angular-translate/angular-translate-loader-static-files.min.js"></script>
    <script src="ClientApp/assets/lib/angular-resource/angular-resource.min.js"></script>
    <script src="ClientApp/assets/lib/lodash/lodash.min.js"></script>
    <script src="ClientApp/assets/lib/file/FileSaver.js"></script>
    <script src="ClientApp/assets/lib/kendo/js/angular-local-storage.min.js"></script>
    <script src="ClientApp/assets/lib/fns/date_fns.min.js"></script>
    <script src="ClientApp/app/components/login/utils/cookieUtil.js"></script>
    <base href="" />
    <!-- / -->
    <!-- endbuild -->
    <!-- build:js app.min.js -->
    <!-- MODULES -->
    <script src="ClientApp/app/components/login/login.module.js"></script>

    <!-- / -->
    <!-- CONTROLLERS -->
    <script src="ClientApp/app/components/login/pages/login/login.controller.js"></script>
    <!-- / -->
    <!-- SERVICES -->
    <script src="ClientApp/app/components/login/services/login.service.js"></script>
    <!-- / -->
    <!-- DIRECTIVES -->
    <script src="ClientApp/app/components/academy/directives/course-duration/course-duration-detail.directive.js"></script>
    <!-- / -->
    <!-- endbuild -->
</body>

</html>