<div class="row">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">
                        {{title}}
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                <!--Search-->
                <div >
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keyword:</label>
                                        <div class="col-md-8">
                                            <input type="text" id="keyWord" name="keyWord" ng-model="keyword" class="k-textbox" style="width: 100%;" ng-keypress="actions.ifEnter($event)" autocomplete="off" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                   
                                </div>
                                <div class="col-md-4">
                                        <label class="col-md-4 control-label">Year:</label>
                                        <div class="col-md-7">
                                            <select kendo-drop-down-list name="year" id="year" k-options="yearHolidayDataSource" ng-model="year" style="width: 100%">
                                            </select>
                                        </div>
                                        <div add-class class="btn-group" current-class="btn-group" added-class="open">
                                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="padding: 0px !important; margin-left: -15px;height: 38px;position: relative;"><img
                                                    src="ClientApp/assets/images/icon/more.png" style="position: absolute;top: 10%;"
                                                    class="ng-isolate-scope"></button>
                                            <ul class="dropdown-menu pull-right">
                                                <li><a ng-click="export()" class="ng-binding"><i class="fa fa-table font-blue right-5"></i>
                                                        Export excel</a></li>
                                            </ul>
                                        </div>
                    
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-6 btn-group">
                                            <kendo-button class="btn btn-default btn-sm" ng-click="search(true)">
                                                <i class="k-icon k-i-search font-green-jungle"></i> Search
                                            </kendo-button>
                                            <kendo-button class="btn btn-default btn-sm" ng-click="resetSearch()">
                                                <i style="font-size: 12px; padding-right: 3px;" class="fa fa-refresh"></i>Reset
                                            </kendo-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Grid-->
                <div class="row">
                    <div class="col-md-12">
                        <kendo-grid id="grid" options="holidayScheduleOptions">
                        </kendo-grid>
                    </div>
                </div>

            </div>
            <!-- Content -->
        </div>
    </div>
</div>