<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="ApiUrl" value="http://10.121.2.218:8083/sap/opu/odata/sap/ZHCM_GW_EDOC_SRV/GetEdocOrganizationSet" />
        <add key="ApiUsername" value="EDOC.800" />
        <add key="ApiPassword" value="Aeon@12345" />
        <add key="HRApiUrl" value="http://localhost:51000/" />
        <add key="HRApiToken" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJTU0ciLCJuYW1lIjoiQUVPTiJ9.RumX95b8ljvb7t00CO6CX7kVy2rNK3ccs455Zoaj8SA" />
        <add key="usingAPI" value="false" />
        <add key="StagingDb" value="Data Source=.;Initial Catalog=SyncOrgchart;Integrated Security=True;MultipleActiveResultSets=True;" />
        <add key="HRDb" value="Data Source=.;Initial Catalog=AEONHRUAT11.2;Integrated Security=True;MultipleActiveResultSets=True;" />
        <add key="MinQty" value="5000" />
        <add key="IsRollback" value="false" />
    </appSettings>
</configuration>