<style>
    label {
        font-size: 12px;
    }

    #loading>.k-loading-mask>.k-loading-image {
        background-position-x: 50% !important;
        background-position-y: 400px !important;
    }

    .note {
        border-left: none;
    }
</style>
<div class="row" ng-if="model.type">
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase" ng-if="model.id">
                        {{titleEdit}}
                    </span>
                    <span class="caption-subject uppercase" ng-if="!model.id">
                        {{title}}
                    </span>
                </div>
                <div class="actions">
                    <action-items model="model" save="submit" form="g1Form"></action-items>
                </div>
            </div>
            <div class="portlet-body">
                <!--<div class="col-md-12 mrb10">
                    <div class="row" style="float:right">
                        <kendo-button class="k-primary app-button " ng-click="submit(g1Form)">Submit</kendo-button>
                        <kendo-button class="k-primary app-button" ng-click="cancel('home.recruitment')">Cancel </kendo-button>
                    </div>
                </div>-->
                <div class="row ng-scope" ng-if="errors.length > 0" style="padding: 15px 0;margin-bottom:15px">
                    <div class="col-sm-12">
                        <div class="note note-danger note-bordered" style="margin-bottom: 0px">
                            <h5 class="bold uppercase">Please enter all required fields <span
                                    class="font-red-thunderbird">*</span>:</h5>
                            <p></p>
                            <ul>
                                <!-- ngRepeat: error in vm.errors -->
                                <li ng-repeat="error in errors">
                                    <span class="bold ">{{error.controlName}}</span>:
                                    {{error.message ? error.message : 'Field is required'}}
                                </li>
                            </ul>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div class="white-background" style="font-size: 12px;">
                    <div class="custom-panel" style="clear: both;">
                        <form name="g1Form" autocomplete="off">
                            <applicant-item-g1 ng-if="model.type == '1'" widget="widget" model="model" form="g1Form"
                                bind="removeSubItem" district-data="districtData" ward-data="wardData"
                                master-datas="masterDatas"></applicant-item-g1>
                            <applicant-item-g2 ng-if="model.type == '2'" model="model" form="g1Form"
                                bind="removeSubItem" district-data="districtData" ward-data="wardData"
                                master-datas="masterDatas"></applicant-item-g2>
                        </form>
                    </div>
                </div>

            </div>
            <div class="portlet-title">
                <div class="actions">
                    <action-items model="model" save="submit" form="g1Form"></action-items>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>
<div id="confirmGrade" kendo-dialog="confirmGrade" k-visible="false">
    <div class="note" style="margin-bottom: 0px">
        <ul class="fieldlist">
            <!-- <li>Create New Applicant For</li> -->
            <li>
                <input type="radio" name="engine" id="engine1" class="k-radio" ng-value="'1'" ng-model="applicantType">
                <label class="k-radio-label" for="engine1">G1</label>
            </li>
            <li>
                <input type="radio" name="engine" id="engine2" class="k-radio" ng-value="'2'" ng-model="applicantType">
                <label class="k-radio-label" for="engine2">G2 Up</label>
            </li>
            <li>
                <input type="radio" name="engine" id="engine3" class="k-radio" ng-value="'3'" ng-model="applicantType">
                <label class="k-radio-label" for="engine3">Import from Mass</label>
            </li>
        </ul>
    </div>
    <kendo-button class="btn btn-default btn-sm confirm-btn" type="button" ng-click="confirm()">
        <i class="fa fa-check right-5 font-green-jungle text-success"></i> OK
    </kendo-button>
</div>
<div id="dialogImportApplicantFromMass" kendo-dialog="dialogImportApplicantFromMass" k-on-open="dialogVisible = true"
    style="height: 100% !important;" k-on-close="closeSearchDialog(true)" k-width="1250" k-modal="true"
    k-visible="false" options="dialogImportApplicantFromMassOption">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-6 form-group">
                <label class="col-md-3 control-label">Keyword:</label>
                <div class="col-md-9">
                    <input type="text" class="k-textbox" id='FieldFilter' placeholder="Applicant Name/Identity Card No"
                        style="width: 100%; " ng-keypress="ifEnter($event)" ng-model="searchInfo.keyword">
                </div>
            </div>
            <div class="col-md-6 form-group">
                <div class="form-group">
                    <label class="col-md-3 control-label">Position:</label>
                    <div class="col-md-9">
                        <select kendo-drop-down-list style="width: 100%;" k-options="optionGroup.positionForImportApplicant" id="positionId"
                            ng-model="searchInfo.position">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label class="col-md-3 control-label">Status:</label>
                <div class="col-md-9">
                    <select kendo-drop-down-list style="width: 100%;" k-options="optionGroup.statusForListOptions"
                        ng-model="searchInfo.status">
                    </select>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label class="col-md-3 control-label">Store:</label>
                <div class="col-md-9">
                    <select kendo-drop-down-list style="width: 100%;" k-options="optionGroup.storeForListOptions" id="storeId"
                        ng-model="searchInfo.store">
                    </select>
                </div>
            </div>
            <div class="col-md-6 mrb10">
                <div class="col-md-3"></div>
                <div class="col-md-9 btn-group">
                    <kendo-button class="btn btn-default btn-sm" ng-click="searchApplicant()">
                        <i class="k-icon k-i-search font-green-jungle"></i>
                        {{'COMMON_BUTTON_SEARCH' | translate}}
                    </kendo-button>
                    <kendo-button class="btn btn-default btn-sm" ng-click="reset()">
                        <i style="font-size: 12px; padding-right: 3px;" class="fa fa-refresh"></i>
                        {{'COMMON_BUTTON_RESET' | translate}}
                    </kendo-button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <kendo-grid id="applicantsFromMass" options="applicantsFromMassOptions">
            </kendo-grid>
        </div>
    </div>
</div>