<div class="row">
    <!-- <span class="k-i-loading k-icon" style="font-size: 64px;"></span> -->
    <div class="col-md-12">
        <div class="portlet bordered light">
            <!-- Title -->
            <div class="portlet-title">
                <div class="caption caption-md">
                    <span class="caption-subject uppercase">{{title}}
                    </span>
                </div>
                <div class="actions">
                    <div class="row">
                        <div class="col-md-12">
                            <kendo-button class="btn btn-default btn-sm" ng-click="toggleFilterPanel()"
                                ng-show="!advancedSearchMode">
                                <i class="k-icon k-i-filter font-green-jungle"></i> Search
                            </kendo-button>
                            <kendo-button class="btn btn-default btn-sm" ng-click="toggleFilterPanel()"
                                ng-show="advancedSearchMode">
                                <i class="k-icon k-i-close font-green-jungle"></i> Close
                            </kendo-button>

                            <div add-class class="btn-group" current-class="btn-group" added-class="open">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="true" style="padding: 0px !important"><img
                                        src="ClientApp/assets/images/icon/more.png" style="position: relative;top: -2px"
                                        class="ng-isolate-scope"></button>
                                <ul class="dropdown-menu pull-right">
                                    <li><a ng-click="export()" class="ng-binding"><i
                                                class="fa fa-table font-blue right-5"></i> Export excel</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div ng-show='advancedSearchMode'>
                    <div class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Keyword:</label>
                                        <div class="col-md-8">
                                            <input type="text" maxlength="50" class="k-textbox" style="width: 100%;"
                                                ng-model="filter.keyword">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">Department:</label>
                                    <div class="col-md-8">
                                        <input kendo-drop-down-tree k-options="optionGroup.departmentTreeOptions"
                                            id="departmentsearch" ng-model="filter.department" style="width: 100%;" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Position:</label>
                                        <div class="col-md-8">
                                            <select kendo-drop-down-list style="width: 100%;"
                                                k-options="optionGroup.positionForListOptions"
                                                ng-model="filter.position">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">Created Date:</label>
                                    <div class="col-md-8">
                                        <!-- <range-date-for-filter-kendo-model d-from="filter.fromDate" d-to="filter.toDate"></range-date-for-filter-kendo-model> -->
                                        <range-Date-Of-Date-Picker d-from="filter.fromDate" d-to="filter.toDate">
                                        </range-Date-Of-Date-Picker>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Status:</label>
                                        <div class="col-md-8">
                                            <select kendo-drop-down-list style="width: 100%;"
                                                k-options="optionGroup.statusForListOptions" ng-model="filter.status">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-md-4 control-label">Store:</label>
                                    <div class="col-md-8">
                                        <select kendo-drop-down-list style="width: 100%;"
                                            k-options="optionGroup.storeForListOptions" id="storeSearch" ng-model="filter.store">
                                        </select>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Gender:</label>
                                        <div class="col-md-8">
                                            <ul class="fieldlist mrt10">
                                                <li>
                                                    <input type="radio" name="gender" id="male" ng-value="'1'"
                                                        class="k-radio" ng-model="filter.gender" ng-value="true">
                                                    <label class="k-radio-label" for="male">Male</label>
                                                </li>
                                                <li>
                                                    <input type="radio" name="gender" id="female" ng-value="'4'"
                                                        class="k-radio" ng-model="filter.gender" ng-value="false">
                                                    <label class="k-radio-label" for="female">Female</label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-8 btn-group">
                                            <button kendo-button role="button" class="btn btn-default btn-sm" ng-click="search()">
                                                <i class="fa fa-search font-green-jungle right-5"></i>
                                                Search
                                            </button>
                                            <button kendo-button role="button" class="btn btn-default btn-sm" ng-click="clearSearch(searchNewStaffOnboard)">
                                                <i class="fa fa-refresh right-5"></i>
                                                Reset
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <div class="col-md-6"></div>
                                        <div class="col-md-6 btn-group">
                                            <kendo-button class="btn btn-default btn-sm" ng-click="search()">
                                                <i class="k-icon k-i-search font-green-jungle"></i> Search
                                            </kendo-button>
                                            <kendo-button class="btn btn-default btn-sm"
                                                ng-click="clearSearch(searchNewStaffOnboard)">
                                                <i style="font-size: 12px; padding-right: 3px;"
                                                    class="fa fa-refresh"></i>Reset
                                            </kendo-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div kendo-grid id="applicantGrid" k-scope-field="widget.applicantList"
                            options="applicantGridOptions"></div>
                    </div>
                </div>
            </div>
            <!-- Content -->
        </div>
    </div>
</div>