<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="academyEdoc1Settings" type="Aeon.HR.ViewModels.CustomSection.SAPSettingsSection, Aeon.HR.ViewModels" />
  </configSections>
  <connectionStrings>
    <!--<add name="HRDbContext" connectionString="Server=10.0.61.12;Database=AEONHRDBUAT-HR0708;User ID=sa;Password=Net$1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="AcademyDbContext" connectionString="Server=10.0.61.12;Database=AEONACADEMY;User ID=sa;Password=Net$1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <!--<add name="HRDbContext" connectionString="Server=192.168.1.40;Database=AEONHRPRODDB;User ID=sa;Password=Net$1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
    <add name="AcademyDbContext" connectionString="Server=192.168.1.40;Database=AEONACADEMY;User ID=sa;Password=Net$1234;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />-->
    <add name="HRDbContext" connectionString="Data Source=10.121.2.205;Initial Catalog=AEONHRPRODDB;Integrated Security=True;" providerName="System.Data.SqlClient"/>
    <add name="AcademyDbContext" connectionString="Data Source=10.121.2.205;Initial Catalog=AEONACADEMY;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--<add key="AcademyF2FakeUrl" value="http://aeon.edoc.vn:8081/api/Edoc2Integration" />-->
    <add key="DeptAcademyCode" value="50022367" />
    <add key="CreateFromDate" value="-180" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!--<academyEdoc1Settings baseUrl="http://edoc_l_fin.aeon.com.vn/_layouts/api">
    <header format="json" Token="" xRequestWith="X" sapClient="900" contentType="application/json" acceptType="application/json"></header>
    <authentication username="" password=""></authentication>
    <groupData>
      <add name="Authorization" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJVc2VyTmFtZSI6IkVET0MyLkFjYWRlbXkiLCJSb2xlIjoiVXNlciIsIm5iZiI6MTY0NzY3NTY4NiwiZXhwIjoxOTYzMjk0ODg2LCJpYXQiOjE2NDc2NzU2ODZ9.bMgxeyS_jt8YvCXHZbzKTECBL-tjZGH36s7bOL0Cl4g"></add>
    </groupData>
  </academyEdoc1Settings>-->
  <academyEdoc1Settings baseUrl="http://edoc-f-api.aeon.com.vn/_api">
    <header format="json" Token="" xRequestWith="X" sapClient="900" contentType="application/json" acceptType="application/json"></header>
    <authentication username="" password=""></authentication>
    <groupData>
      <add name="Authorization" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJVc2VyTmFtZSI6IkVET0MyLkFjYWRlbXkiLCJSb2xlIjoiVXNlciIsIm5iZiI6MTY0NzY3NTY4NiwiZXhwIjoxOTYzMjk0ODg2LCJpYXQiOjE2NDc2NzU2ODZ9.bMgxeyS_jt8YvCXHZbzKTECBL-tjZGH36s7bOL0Cl4g"></add>
    </groupData>
  </academyEdoc1Settings>
  <!--<academyEdoc1Settings baseUrl="http://edoc_l_fin.aeon.com.vn/_layouts/api/">
    <header format="json" Token="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9eyJlIjoidSIsInVzZXJuYW1lIjoiZWRvYzIifQ3WoORezHLwAbT4janeljKKoSy9SxxBvddpsgAIE0SZk" xRequestWith="X" sapClient="900" contentType="application/json" acceptType="application/json"/>
    <authentication username="aeon\edoc01" password="abc123-@"/>
    <groupData>
      <add name="" value=""/>
    </groupData>
  </academyEdoc1Settings>-->
  <!--<academyEdoc1Settings baseUrl="http://apiedoc1.ssg.vn/_api">
    <header format="json" Token="" xRequestWith="X" sapClient="900" contentType="application/json" acceptType="application/json"></header>
    <authentication username="" password=""></authentication>

    <groupData>
      <add name="Authorization" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJVc2VyTmFtZSI6InNzZy5mYWNpbGl0eSIsIlJvbGUiOiJGYWNpbGl0eVVzZXIiLCJuYmYiOjE2NTM4MjM1NDgsImV4cCI6MTk2OTQ0Mjc0OCwiaWF0IjoxNjUzODIzNTQ4fQ.1xb1tYg_eYfo-cCfEb9L6zp-bBq0pbNXAmMeFfcoN70"></add>
    </groupData>
  </academyEdoc1Settings>-->
  <!--<academyEdoc1Settings baseUrl="http://edoc-fu-api.aeon.com.vn/_api">
    <header format="json" Token="" xRequestWith="X" sapClient="900" contentType="application/json" acceptType="application/json"></header>
    <authentication username="" password=""></authentication>
    <groupData>
      <add name="Authorization" value="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJVc2VyTmFtZSI6InNzZ19hZW9uaHIiLCJSb2xlIjoiVXNlciIsIm5iZiI6MTY0MTgxNDQ5OSwiZXhwIjoxOTU3MzQ3Mjk5LCJpYXQiOjE2NDE4MTQ0OTl9.Z0KToPhM7wxmObQp823gAtAAOv71yxgzLsn00UN9Q_0"></add>
      --><!-- <add name="Authorization" value="gXwovoGRM8EPz9FMfryDIHAB6mpgXwovR9fp6ryDIHAB6iHsc0fb8Zz5tw0Ionm3XPZZfN0NOml30fb8Zz5tw0Io"></add> --><!--
    </groupData>
  </academyEdoc1Settings>-->
</configuration>