<style>
  .training-request-management .caption.caption-md > .caption-subject {
    color: #b42e83 !important;
    font-family: Nova-Regular !important;
    font-size: 18px;
  }

  .training-request-management .department-detail-item span {
    display: block;
  }
  .training-request-management .department-detail-item .title-detail {
    font-weight: bold;
  }
  .training-request-management .department-detail-item {
    border: 1px solid #eee;
    padding: 20px;
  }
  .training-request-management .right-content {
    border-radius: 16px;
    /* overflow: auto; */
    height: 100%;
    padding: 0;
  }
  .training-request-management .border-training-grid {
    border: 2px solid #e5e5e5;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }
  .training-request-management .training-request-header,
  .training-request-management
    .department-total-details
    .department-detail-item {
    margin: 0 0 20px 0;
  }
  .training-request-management .left-content {
    border-radius: 16px;
    border: 2px solid #e5e5e5;
    overflow: auto;
    height: 100%;
  }
  .k-grid-content {
    min-height: 0px !important;
    max-height: 500px !important;
  }
</style>
<div class="row training-request-management">
  <div class="col-md-12">
    <div class="portlet bordered light">
      <div class="portlet-title">
        <div class="caption caption-md">
          <span class="caption-subject uppercase">{{title}} </span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="portlet-body">
            <div class="page-content-wrapper float-none">
              <div class="row">
                <div class="col-md-4 left-content" id="body">
                  <input
                    style="margin-bottom: 10px; margin-top: 10px"
                    class="w100"
                    id="departmentId"
                    kendo-drop-down-tree="widget.department"
                    k-options="departmentOptions"
                    ng-model="departmentTreeId"
                  />
                  <div
                    kendo-tree-view="tree"
                    k-options="treeViewDepartment"
                    id="treeview"
                    k-data-source="dataDepartment"
                    k-on-change="onchangeItemTreeView(dataItem)"
                  >
                    <span k-template>
                      <span ng-if="dataItem.jobGradeCaption"
                        >{{dataItem.name}}
                      </span>
                      <span ng-if="!dataItem.jobGradeCaption"
                        >{{dataItem.name}}</span
                      >
                    </span>
                  </div>
                </div>
                <div class="col-md-8 right-content">
                  <div class="border-training-grid">
                    <div class="row">
                      <div class="training-request-header caption caption-md">
                        <span class="caption-subject uppercase"
                          >{{departmentName}}
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <div class="department-total-details">
                        <div class="col-md-3">
                          <div class="department-detail-item">
                            <span class="caption-subject uppercase title-detail"
                              >number of pending request
                            </span>
                            <span>{{totalPending}}</span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="department-detail-item">
                            <span class="caption-subject uppercase title-detail"
                              >number of approved request
                            </span>
                            <span>{{totalApproved}}</span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="department-detail-item">
                            <span class="caption-subject uppercase title-detail"
                              >total amount pending approval
                            </span>
                            <span>{{totalAmountPendingApproval}}</span>
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="department-detail-item">
                            <span class="caption-subject uppercase title-detail"
                              >total amount approved
                            </span>
                            <span class="caption-subject uppercase"
                              >{{totalAmountApproved}}</span
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="training-request-header caption caption-md">
                        <span class="caption-subject uppercase"
                          >training request
                        </span>
                      </div>
                    </div>
                    <div class="row" style="margin: 0px">
                      <kendo-grid
                        id="departmentGrid"
                        options="departmentGridOptions"
                      >
                      </kendo-grid>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
